.video-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

@mixin video {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.ratio-16-9 {
    width: 100%;
}

.ratio-16-9:before {
    content: "";
    padding-top: calc(100% / 16 * 9);
    display: block;
}

.video-background {
    @extend .background-cover;
}

.video-overlay-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    z-index: 10;
}
