// $medium-breakpoint: 768;
@media screen and (min-width: '#{$medium-breakpoint}px') {
    .article-hero-headline {
        font-size: $fontSize8;
    }
    .article-hero-eyebrow {
        font-size: $fontSize5;
    }
    .article-hero-text-container {
        padding: 0 15%;
    }
    .article-hero-eyebrow + .article-hero-headline {
        margin-top: 0.25em;
    }
}
