.article-hero {
    @extend .content-centered;
    height: 100vh;
}

.article-hero-headline-container {
    @extend .headline-container;
    text-align: center;
}

.article-hero-eyebrow {
    @extend .h5;
}

.article-hero-h1 {
    @extend .h1;
    color: $white;
}

.article-hero-eyebrow + .article-hero-headline {
    margin-top: 0.5em;
}

.article-hero-scroll-down-container {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    animation: 1s ease-in-out 0.5s infinite bounce;
}

.article-hero-scroll-down-container:hover {
    animation-play-state: paused;
}

.article-hero-background {
    @extend .background-cover;
    background-blend-mode: soft-light;
    background-image: url('./../images/article-hero-background.jpg'), linear-gradient(90deg, $tertiary, $tertiaryDarker);
    animation: 20s ease-out 0.5s forwards zoom;
}
