.contact-form {
    @extend .content-centered;
    position: relative;
    color: $white;
}



.contact-form-title {
    text-align: center;
    width: 100%;
    margin-top: 5em;
    margin-bottom: 3em;
}

.contact-form-headline {
    @extend .h3;
}

.contact-form-subheadline {
    @extend .h6;
}

.contact-form-background {
    @extend .background-cover;
    background-image: url('./../images/contact-form-background.jpg');
    z-index: 0;
}

.contact-form-background:before {
    @extend .background-cover;
    content: "";
    background-color: $white;
    opacity: 0.5;
    z-index: 1;
}

.contact-form-background:after {
    @extend .background-cover;
    content: "";
    background-color: $tertiary;
    opacity: 0.9;
    z-index: 2;
}

.contact-form-tabs + .contact-form-title {
    margin-top: 5%;
}

.contact-form-title + .contact-form-container {
    margin-top: 5%;
}
