.feed.most-recent {
    background-color: $grayLighter;
    .feed-grid {
        margin-left: 10vw;
        margin-right: 10vw;
        width: 80vw;
        padding: 0;
        overflow: hidden;
        .feed-tile:nth-of-type(1) {
            width: 80vw;
            height: 40vw;
        }
        .feed-tile:nth-of-type(2) {
            width: 80vw;
            height: 40vw;
        }
        .feed-tile:nth-of-type(3) {
            width: 80vw;
            height: 40vw;
            transform: translateY(50%);
        }
        // Split
        .feed-tile:nth-of-type(4) {
            width: 80vw;
            height: 40vw;
            transform: translateY(-200%);
        }
        // Solid
        .feed-tile:nth-of-type(5) {
            width: 80vw;
            height: 40vw;
        }
        .feed-tile:nth-of-type(6) {
            width: 80vw;
            height: 40vw;
        }
        // Split
        .feed-tile:nth-of-type(7) {
            width: 80vw;
            height: 40vw;
        }
        .feed-tile:nth-of-type(8) {
            width: 80vw;
            height: 80vw;
        }
        // Split
        .feed-tile:nth-of-type(9) {
            width: 100vw;
            height: 50vw;
        }
        // Solid
        .feed-tile:nth-of-type(10) {
            width: 100vw;
            height: 50vw;
        }
    }
}

.load-more-container {
    padding-top: 5%;
    padding-bottom: 5%;
}
