// $xx-large-breakpoint: 1600;
@media screen and (min-width: '#{$xx-large-breakpoint}px') {
    .most-recent {
        .title-tertiary {
            .divider-md {
                margin-bottom: $spacing01 / 2;
            }
        }
    }
    .load-more-container {
        padding-top: $spacing01;
        padding-bottom: $spacing01;
    }
}
