.video-play-button {
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    cursor: hand;
    transition: all 0.2s 0.1s ease-out;
    border: solid $white;
    border-radius: 50%;
    position: relative;
}

.video-play-button:hover {
    transform: scale(1.1);
    transition: all 0.05s 0s ease-out;
}

.video-play-button:after {
    content: "";
    // Equilateral Tringle
    border-top: calc(4rem / 6) solid transparent;
    border-bottom: calc(4rem / 6) solid transparent;
    border-left: calc(4rem / 6 * 2 * 0.8660259) solid $white;
    //
    position: absolute;
    left: 55%;
    top: 50%;
    transform: scale(1) translateX(-55%) translateY(-50%);
    transition: all 0.2s 0.1s ease-out;
}

.video-play-button:hover:after {
    transform: scale(0.9) translateX(-55%) translateY(-50%);
    transition: all 0.05s 0s ease-out;
}
