.page-title {
    width: 100vw;
    height: 100vw;
    position: relative;
    z-index: -50;
}

.page-title-container {
    width: 100vw;
    padding: 0 10%;
    height: 100vh;
    @extend .content-centered;
    position: fixed;
    text-align: left;
}

.page-title-headline {
    @extend .h1;
}
