.page-title {
    width: 100vw;
    height: 100vw;
    position: relative;
}

.page-title-container {
    width: 100%;
    padding: 0 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: center;
    position: relative;
    text-align: left;
}

.page-title-headline {
    font-family: $display;
    font-size: $scale07;
    color: $black;
    font-weight: bold;
    line-height: $scale06;
    letter-spacing: -0.01em;
}