// $large-breakpoint: 992;
@media screen and (min-width: '#{$large-breakpoint}px') {
    .h1 {
        font-size: $scale10;
        line-height: calc(#{$headline} * #{$line-miller} * #{$lineheight10});
    }
    .h2 {
        font-size: $scale09;
        line-height: calc(#{$headline} * #{$line-miller} * #{$lineheight09});
    }
    .h3 {
        font-size: $scale08;
        line-height: calc(#{$headline} * #{$line-miller} * #{$lineheight08});
    }
    .h4 {
        font-size: $scale07;
        line-height: calc(#{$headline} * #{$line-miller} * #{$lineheight07});
    }
    .pull-quote {
        font-size: $scale06;
        line-height: calc(#{$bodycopy} * #{$line-miller} * #{$lineheight06});
    }
    .h5 {
        font-size: $scale06;
        line-height: calc(#{$headline} * #{$line-miller} * #{$lineheight06});
    }
    .h6 {
        font-size: $scale05;
        line-height: calc(#{$headline} * #{$line-miller} * #{$lineheight05});
    }
}
