// $large-breakpoint: 992;
@media screen and (min-width: '#{$large-breakpoint}px') {
    .h1 {
        font-size: $scale10;
    }
    .h2 {
        font-size: $scale09;
    }
    .h3 {
        font-size: $scale08;
    }
    .h4 {
        font-size: $scale07;
    }
    .feed-h3 {
        font-size: $scale07;
    }
    .feed-h4 {
        font-size: $scale06;
        line-height: $scale05;
    }
    .h5 {
        font-size: $scale06;
    }
    .h6 {
        font-size: $scale05;
    }
    .pull-quote {
        font-size: $scale07;
    }
}
