// $medium-breakpoint: 768;
@media screen and (min-width: '#{$medium-breakpoint}px') {
    .h1 {
        font-size: $scale09;
        line-height: calc(#{$headline} * #{$line-miller} * #{$lineheight03});
        
    }
    .h2 {
        font-size: $scale08;
        line-height: calc(#{$headline} * #{$line-miller} * #{$lineheight03});
        
    }
    .h3 {
        font-size: $scale07;
        line-height: calc(#{$headline} * #{$line-miller} * #{$lineheight03});
        
    }
    .h4 {
        font-size: $scale06;
        line-height: calc(#{$headline} * #{$line-miller} * #{$lineheight03});
        
    }
    .pull-quote {
        border-left: solid calc(0.2rem * 1.5) $primary;
        font-size: $scale05;
        line-height: calc(#{$bodycopy} * #{$line-miller} * #{$lineheight03});
        
    }
    .h5 {
        font-size: $scale05;
        line-height: calc(#{$headline} * #{$line-miller} * #{$lineheight03});
        
    }
    .h6 {
        font-size: $scale04;
        line-height: calc(#{$headline} * #{$line-miller} * #{$lineheight03});
        
    }
    .tab {
        font-size: $scale05;
        line-height: calc(#{$bodycopy} * #{$line-gotham} * #{$lineheight03});
        
    }
    .body-larger {
        font-size: $scale06;
        line-height: calc(#{$bodycopy} * #{$line-gotham} * #{$lineheight03});
        
    }
    .body {
        font-size: $scale05;
        line-height: calc(#{$bodycopy} * #{$line-gotham} * #{$lineheight03});
        
    }
    .body-smaller {
        font-size: $scale04;
        line-height: calc(#{$bodycopy} * #{$line-gotham} * #{$lineheight03});
        
    }
}
