// $medium-breakpoint: 768;
@media screen and (min-width: '#{$medium-breakpoint}px') {
    .h1 {
        font-size: $scale09;
    }
    .h2 {
        font-size: $scale08;
    }
    .h3 {
        font-size: $scale07;
    }
    .h4 {
        font-size: $scale05;
    }
    .eyebrow {
        font-size: $scale05;
    }
    .subheadline {
        font-size: $scale05;
    }
    .body {
        font-size: $scale06;
    }
    .foot-note {
        font-size: $scale06;
    }
    .pull-quote {
        border-left: solid calc(0.2rem * 1.5) $primary;
    }
}
