// $medium-breakpoint: 768;
@media screen and (min-width: '#{$medium-breakpoint}px') {
    .h1 {
        font-size: $scale09;
    }
    .h2 {
        font-size: $scale07;
    }
    .h3 {
        font-size: $scale07;
    }
    .h3-sans {
        font-size: $scale06;
    }
    .h4 {
        font-size: $scale06;
    }
    .eyebrow-large {
        font-size: $scale05;
    }
    .eyebrow-small {
        font-size: $scale04;
    }
    .pull-quote {
        border-left: solid calc(0.2rem * 1.5) $primary;
        font-size: $scale05;
    }
    .quote-large {
        font-size: $scale07;
    }
    .h5 {
        font-size: $scale05;
    }
    .h6 {
        font-size: $scale04;
    }
    .tab {
        font-size: $scale05;
    }
    .subheadline {
        font-size: $scale06;
    }
    .body {
        font-size: $scale05;
    }
    .body-smaller {
        font-size: $scale04;
    }
}
