.h1 {
    font-family: $display;
    font-size: $fontSize8;
    color: $black;
    line-height: 1.25;
    letter-spacing: -0.01em;
    width: 100%;
}

.h2 {
    font-family: $display;
    font-size: $fontSize7;
    color: $black;
    line-height: 1.25;
    letter-spacing: -0.01em;
    width: 100%;
}

.h3 {
    font-family: $display;
    font-size: $fontSize6;
    color: $black;
    line-height: 1.5;
    letter-spacing: -0.01em;
    width: 100%;
}

.h4 {
    font-family: $sans;
    font-size: $fontSize5;
    font-weight: bold;
    color: $black;
    line-height: 1.5;
    letter-spacing: -0.02em;
    width: 100%;
}

.eyebrow {
    font-family: $sans;
    font-size: $fontSize4;
    color: $primary;
    line-height: 1.5;
    letter-spacing: -0.01em;
    width: 100%;
}

.subheadline {
    font-family: $sans;
    font-size: $fontSize4;
    color: $black;
    line-height: 1.5;
    letter-spacing: -0.01em;
    width: 100%;
}

.body {
    font-family: $sans;
    font-size: $fontSize4;
    color: $black;
    line-height: 2;
    letter-spacing: -0.01em;
    width: 100%;
}

.foot-note {
    font-family: $serif;
    font-size: $fontSize4;
    color: $grayDarker;
    font-style: italic;
    line-height: 2;
    letter-spacing: -0.01em;
    width: 100%;
}

.pull-quote {
    border-left: solid 0.2rem $primary;
    width: 100%;
    padding-left: 1em;
    font-size: $display;
    font-style: italic;
    font-size: $fontSize6;
    color: $blackLighter;
    line-height: 1.5;
    letter-spacing: -0.01em;
    width: 100%;
}

.h1::selection,
.h2::selection,
.h3::selection,
.h4::selection,
.eyebrow::selection,
.subheadline::selection,
.body::selection,
.pull-quote::selection {
    background-color: $tertiaryLighter;
}
