/* Font Face Declarations Go Here */


/* Miller */

@font-face {
    font-family: 'Miller Display';
    src: url(../fonts/miller/MillerDisplayRoman.woff);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Miller Display';
    src: url(../fonts/miller/MillerDisplayItalic.woff);
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: 'Miller Display';
    src: url(../fonts/miller/MillerDisplayBold.woff);
    font-style: normal;
    font-weight: 700;
}

// @font-face {
//     font-family: 'Miller';
//     src: url(../fonts/miller/MillerTextRoman.woff);
//     font-weight: 400;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'Miller';
//     src: url(../fonts/miller/MillerTextBold.woff);
//     font-weight: 700;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'Miller';
//     src: url(../fonts/miller/MillerTextItalic.woff);
//     font-weight: 400;
//     font-style: italic;
// }

/* Gotham */

@font-face {
    font-family: 'Gotham';
    src: url(../fonts/gotham/Gotham-Medium.woff);
    font-weight: 700;
    font-style: normal;
}

// @font-face {
//     font-family: 'Gotham';
//     src: url(../fonts/gotham/Gotham-Book.woff);
//     font-weight: 400;
//     font-style: normal;
// }
@font-face {
    font-family: 'Gotham';
    src: url(../fonts/gotham/Gotham-Light.woff);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url(../fonts/gotham/Gotham-ExtraLight.woff);
    font-weight: 200;
    font-style: normal;
}

// Type scale "Le Corbusier" taken from http:/lamb.cc/typograph/
$scale01: 0.5rem;
$scale02: 0.6154rem;
$scale03: 0.8077rem;
$scale04: 1rem;
$scale05: 1.3077rem;
$scale06: 1.6154rem;
$scale07: 2.1154rem;
$scale08: 2.6154rem;
$scale09: 3.4231rem;
$scale10: 4.2308rem;
$scale11: 5.5385rem;
$scale12: 6.8462rem;

// Adjustment of line height for Sans and Serif
$lineSans: 1;
$lineSerif: 1;
// Adjustment of line height for headline and body copy
$headline: 1;
$bodycopy: 1;
// Line Heights
$solid: 1;
$title: 1.2;
$prose: 1.8;
// Font Stack
$serif: 'Miller',
Times,
Georgia,
serif;
$display: 'Miller Display',
Times,
Georgia,
serif;
$sans: 'Gotham',
Helvetica,
Arial,
sans-serif;
// Letter spacing for Sans and Serif
$spacingSans: -0.01em;
$spacingSerif: 0.01em;
// Tracking
$spacing-serif-tight: -0.02em;
$spacing-serif: -0.01em;
$spacing-serif-large: 0.015em;
$spacing-serif-mega: 0.1em;
$spacing-sans-tight: -0.08em;
$spacing-sans: -0.015em;
$spacing-sans-large: 0.05em;
$spacing-sans-mega: 0.1em;

html {
    font-size: 16px;
    color: $black;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}

.h1 {
    font-family: $display;
    font-size: $scale07;
    line-height: $title;
    letter-spacing: $spacing-serif;
    font-weight: 700;
}

.h2 {
    font-family: $display;
    font-size: $scale06;
    line-height: $title + 0.2;
    letter-spacing: $spacing-serif;
    font-weight: 700;
}

.h3 {
    font-family: $display;
    font-size: $scale05;
    line-height: $title;
    letter-spacing: $spacing-serif;
    font-weight: 700;
}

.h3-sans {
    font-family: $sans;
    font-size: $scale05;
    line-height: $title;
    letter-spacing: $spacing-sans;
    font-weight: 700;
}

.h3-serif {
    font-family: $display;
    font-size: $scale05;
    line-height: $title;
    letter-spacing: $spacing-sans-tight;
    font-weight: 700;
}

.quote-large {
    font-family: $display;
    font-size: $scale05;
    font-style: italic;
    line-height: $prose;
    letter-spacing: $spacing-serif-large;
}

.h4 {
    font-family: $display;
    font-size: $scale04;
    line-height: $title;
    letter-spacing: $spacing-serif-tight;
    letter-spacing: -0.01em;
    font-weight: 700;
}

.pull-quote {
    border-left: solid 0.2rem $primary;
    width: 100%;
    padding-left: 1em;
    font-family: $display;
    line-height: $prose;
    font-style: italic;
    font-size: $scale05;
    color: $blackLighter;
    letter-spacing: $spacing-serif-large;
}

.subheadline {
    font-family: $sans;
    font-size: $scale05;
    letter-spacing: $spacing-serif-tight;
    color: $black;
    line-height: $title;
}

.h5 {
    font-family: $sans;
    font-size: $scale04;
    line-height: $title;
    letter-spacing: $spacing-sans-tight;
}

.h6 {
    font-family: $sans;
    font-size: $scale04;
    line-height: $title;
    letter-spacing: $spacing-sans-tight;
}

.eyebrow-large {
    font-family: $sans;
    font-size: $scale04;
    line-height: $title;
    letter-spacing: $spacing-sans-mega;
    text-transform: uppercase;
}

.eyebrow-small {
    font-family: $sans;
    font-size: $scale03;
    font-style: normal;
    line-height: $title;
    letter-spacing: $spacing-sans-mega;
    text-transform: uppercase;
}


.author {
    font-family: $sans;
    font-size: $scale03;
    font-style: normal;
    line-height: $title;
    letter-spacing: $spacing-sans;
    text-transform: uppercase;
    strong {
        font-weight: 700;
        margin-right: 0.5em;
    }
}



.body-larger {
    font-family: $sans;
    font-size: $scale05;
    line-height: $prose;
    letter-spacing: $spacing-sans;
    margin-bottom: 1em;
    strong {
        font-weight: 700;
    }
}

.body {
    font-family: $sans;
    font-size: $scale04;
    line-height: $prose;
    letter-spacing: $spacing-sans;
    margin-bottom: 1em;
    strong {
        font-weight: 700;
    }
}

.body-smaller {
    font-family: $sans;
    font-size: $scale03;
    letter-spacing: $spacingSans;
    line-height: $prose;
}


.ul {
    font-family: $sans;
    font-size: $scale04;
    line-height: $prose;
    letter-spacing: $spacing-sans;
    margin-top: 1.5em;
    list-style-type: none;
    li:before {
        content: "";
        width: 0.3em;
        height: 0.3em;
        background-color: #a9c000;
        margin-right: 0.75em;
        top: 50%;
        transform: translateY(-50%);
        display: inline-block;
    }
    li {
        margin-top: 1em;
    }
}



.link {
    line-height: $title + 0.2;
    text-decoration: none;
    position: relative;
    display: inline-block;
    letter-spacing: -0.015em;
    cursor: pointer;
    cursor: hand;
    color: $primary;
}

.link:before {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    border-bottom-width: 0.15rem;
    border-bottom-style: solid;
}

.link:hover:before {
    width: 100%;
}

.h1::selection,
.h2::selection,
.h3::selection,
.h4::selection,
.h3::selection,
.h4::selection,
.h5::selection,
.h6::selection,
.body::selection,
.pull-quote::selection {
    background-color: $grayLighter;
}

