/* Font Face Declarations Go Here */


/* Miller */

@font-face {
    font-family: 'Miller Display';
    src: url(../fonts/miller/MillerDisplayRoman.woff);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Miller Display';
    src: url(../fonts/miller/MillerDisplayItalic.woff);
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: 'Miller Display';
    src: url(../fonts/miller/MillerDisplayBold.woff);
    font-style: normal;
    font-weight: 700;
}

// @font-face {
//     font-family: 'Miller';
//     src: url(../fonts/miller/MillerTextRoman.woff);
//     font-weight: 400;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'Miller';
//     src: url(../fonts/miller/MillerTextBold.woff);
//     font-weight: 700;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'Miller';
//     src: url(../fonts/miller/MillerTextItalic.woff);
//     font-weight: 400;
//     font-style: italic;
// }

/* Gotham */

@font-face {
    font-family: 'Gotham';
    src: url(../fonts/gotham/Gotham-Medium.woff);
    font-weight: 700;
    font-style: normal;
}

// @font-face {
//     font-family: 'Gotham';
//     src: url(../fonts/gotham/Gotham-Book.woff);
//     font-weight: 400;
//     font-style: normal;
// }
@font-face {
    font-family: 'Gotham';
    src: url(../fonts/gotham/Gotham-Light.woff);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url(../fonts/gotham/Gotham-ExtraLight.woff);
    font-weight: 200;
    font-style: normal;
}

// Type scale "Le Corbusier" taken from http:/lamb.cc/typograph/
$scale01: 0.5rem;
$scale02: 0.6154rem;
$scale03: 0.8077rem;
$scale04: 1rem;
$scale05: 1.3077rem;
$scale06: 1.6154rem;
$scale07: 2.1154rem;
$scale08: 2.6154rem;
$scale09: 3.4231rem;
$scale10: 4.2308rem;
$scale11: 5.5385rem;
$scale12: 6.8462rem;
// Line Heights
$solid-serif: 1;
$solid-sans: 1;
$title-serif: 1.3;
$title-sans: 1.4;
$prose-serif: 1.8;
$prose-sans: 1.8;
// Font Stack
$serif: 'Miller',
Times,
Georgia,
serif;
$display: 'Miller Display',
Times,
Georgia,
serif;
$sans: 'Gotham',
Helvetica,
Arial,
sans-serif;
// Letter Spacing
$spacing-serif-tight: -0.02em;
$spacing-serif: -0.01em;
$spacing-serif-large: 0.015em;
$spacing-serif-mega: 0.1em;
$spacing-sans-tight: -0.04em;
$spacing-sans: -0.02em;
$spacing-sans-large: 0.02em;
$spacing-sans-mega: 0.05em;
html {
    font-size: 16px;
    color: $black;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}

.h1-serif {
    font-family: $display;
    font-size: $scale07;
    line-height: $title-serif;
    letter-spacing: $spacing-serif;
    font-weight: 700;
}

.h1-sans {
    font-family: $display;
    font-size: $scale07;
    line-height: $title-sans;
    letter-spacing: $spacing-serif;
    font-weight: 700;
}

.h2-serif {
    font-family: $display;
    font-size: $scale07;
    line-height: $title-serif;
    letter-spacing: $spacing-serif;
    font-weight: 700;
}

.h2-sans {
    font-family: $sans;
    font-size: $scale06;
    line-height: $title-sans;
    letter-spacing: $spacing-sans;
    font-weight: 700;
}

.h3-serif {
    font-family: $display;
    font-size: $scale06;
    line-height: $title-serif;
    letter-spacing: $spacing-serif-tight;
    font-weight: 700;
}

.h3-sans {
    font-family: $sans;
    font-size: $scale05;
    line-height: $title-sans;
    letter-spacing: $spacing-sans;
    font-weight: 700;
}

.h4-serif {
    font-family: $display;
    font-size: $scale05;
    line-height: $title-serif;
    letter-spacing: $spacing-serif-tight;
    font-weight: 700;
}

.h4-sans {
    font-family: $sans;
    font-size: $scale04;
    line-height: $title-sans;
    letter-spacing: $spacing-sans-tight;
    font-weight: 700;
}

.quote-large {
    font-family: $display;
    font-size: $scale05;
    font-style: italic;
    line-height: $prose-serif;
    letter-spacing: $spacing-serif-large;
}

.pull-quote {
    border-left: solid 0.2rem $primary;
    width: 100%;
    padding-left: 1em;
    font-family: $display;
    line-height: $prose-serif;
    font-style: italic;
    font-size: $scale05;
    color: $blackLighter;
    letter-spacing: $spacing-serif-large;
}

.subheadline {
    font-family: $sans;
    font-size: $scale05;
    letter-spacing: $spacing-sans-tight;
    color: $black;
    line-height: $title-sans;
}

.eyebrow-large {
    font-family: $sans;
    font-size: $scale04;
    line-height: $title-sans;
    letter-spacing: $spacing-sans-mega;
    text-transform: uppercase;
}

.eyebrow-small {
    font-family: $sans;
    font-size: $scale03;
    font-style: normal;
    line-height: $title-sans;
    letter-spacing: $spacing-sans-mega;
    text-transform: uppercase;
}

.author {
    font-family: $sans;
    font-size: $scale03;
    font-style: normal;
    line-height: $title-sans;
    letter-spacing: $spacing-sans;
    text-transform: uppercase;
    strong {
        font-weight: 700;
        margin-right: 0.5em;
    }
}

.body {
    font-family: $sans;
    font-size: $scale04;
    line-height: $prose-sans;
    letter-spacing: $spacing-sans;
    margin-bottom: 1em;
    strong {
        font-weight: 700;
    }
    @media only screen and ($md) {
        font-size: $scale05;
    }
    @media only screen and ($xxl) {
        font-size: $scale06;
    }
}

@mixin body {
    font-family: $sans;
    font-size: $scale04;
    line-height: $prose-sans;
    letter-spacing: $spacing-sans;
    margin-bottom: 1em;
    strong {
        font-weight: 700;
    }
}

.body.lead {
    font-size: $scale05;
    @media only screen and ($md) {
        font-size: $scale06;
    }
    @media only screen and ($xxl) {
        font-size: $scale07;
    }
}

.body-smaller {
    font-family: $sans;
    font-size: $scale03;
    letter-spacing: $spacing-sans;
    line-height: $prose-sans;
}

.ul {
    list-style-type: none;
    li:before {
        content: "";
        width: 0.3em;
        height: 0.3em;
        background-color: #a9c000;
        margin-right: 0.75em;
        top: 50%;
        transform: translateY(-50%);
        display: inline-block;
    }
    li {
        margin-bottom: 0.5em;
    }
    li:last-of-type {
        margin-bottom: 0;
    }
}

.link {
    line-height: $title-serif;
    text-decoration: none;
    position: relative;
    display: inline-block;
    cursor: pointer;
    cursor: hand;
    color: inherit;
    &:before {
        display: block;
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.1s;
        border-bottom-width: 0.1em;
        border-bottom-style: solid;
        border-bottom-color: inherit;
    }
    &:hover:before {
        width: 100%;
        transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
    }
    &.muted {
        color: $grayDarker;
    }
    &-primary {
        color: $primary;
    }
    &:focus {
        outline: none;
    }
}

.link-secondary {
    text-decoration: none;
    position: relative;
    display: inline-block;
    cursor: pointer;
    cursor: hand;
}

.h1::selection,
.h2::selection,
.h3::selection,
.h4::selection,
.h3::selection,
.h4::selection,
.h5::selection,
.h6::selection,
.body::selection,
.pull-quote::selection {
    background-color: $grayLighter;
}
