 // $x-large-breakpoint: 1200;
 @media screen and (min-width: '#{$x-large-breakpoint}px') {
     .h1 {
         font-size: $fontSize11;
     }
     .h2 {
         font-size: $fontSize10;
     }
     .h3 {
         font-size: $fontSize9;
     }
     .h4 {
         font-size: $fontSize7;
     }
     .eyebrow {
         font-size: $fontSize6;
     }
     .body {
         font-size: $fontSize5;
     }
     .foot-note {
         font-size: $fontSize5;
     }
 }
