 // $x-large-breakpoint: 1200;
 @media screen and (min-width: '#{$x-large-breakpoint}px') {
     .h1 {
         font-size: $scale11;
     }
     .h2 {
         font-size: $scale10;

     }
     .h3 {
         font-size: $scale09;
     }
     .h4 {
         font-size: $scale07;
     }
     .feed-h3 {
         font-size: $scale08;
     }
     .feed-h4 {
         font-size: $scale06;
     }
     .eyebrow-large {
         font-size: $scale06;
     }
     .eyebrow-small {
         font-size: $scale05;
     }
     .body {
         font-size: $scale05;
     }
     .foot-note {
         font-size: $scale05;
     }
 }
