// #{$xx-large-breakpoint}: 1600;
@media screen and (min-width: '#{#{$xx-large-breakpoint}}px') {
    .h1 {
        font-size: $scale12;
    }
    .h2 {
        font-size: $scale10;
    }
    .h3 {
        font-size: $scale09;
    }
    .h3-sans {
        font-size: $scale08;
    }
    .h3-serif {
        font-size: $scale08;
    }
    .quote-large {
        font-size: $scale09;
        line-height: $prose - 0.2;
    }
    .h4 {
        font-size: $scale08;
    }
    .pull-quote {
        font-size: $scale07;
    }
    .h5 {
        font-size: $scale07;
        line-height: calc(1);
    }
    .h6 {
        font-size: $scale06;
        line-height: calc(1);
    }
    .eyebrow-large {
        font-size: $scale06;
    }
    .eyebrow-small {
        font-size: $scale05;
    }
    .author {
        font-size: $scale05;
    }
    .body-larger {
        font-size: $scale07;
    }
    .body {
        font-size: $scale06;
    }
    .body-smaller {
        font-size: $scale05;
    }
}
