// $xx-large-breakpoint: 1600;
@media screen and (min-width: '#{$xx-large-breakpoint}px') {
    .h1 {
        font-size: $fontSize12;
    }
    .h2 {
        font-size: $fontSize11;
    }
    .h3 {
        font-size: $fontSize10;
    }
    .pull-quote {
        font-size: $fontSize8;
    }
    .eyebrow {
        font-size: $fontSize7;
    }
}
