// $large-breakpoint: 992;
@media screen and (min-width: '#{$large-breakpoint}px') {
    .disciplines-title {
        padding: 10% 30%;
    }
    .disciplines-headline {
        font-size: $fontSize8;
    }
    .disciplines-subheadline {
        font-family: $sans;
        font-size: $fontSize5;
    }
}
