 @media screen and (min-width: '#{$large-breakpoint}px') {
     .disciplines-headline {
         font-size: $fontSize8;
     }
     .disciplines-subheadline {
         font-family: $sans;
         font-size: $fontSize5;
     }
 }
