// $medium-breakpoint: 768;
@media screen and (min-width: '#{$medium-breakpoint}px') {
    .disciplines-tile {
        width: calc(80vw / 3);
        height: calc(80vw / 3);
    }
    .disciplines-tile:nth-of-type(odd) {
        background-color: $white;
    }
    .disciplines-tile:nth-of-type(even) {
        background-color: $whiteDarker;
    }
    .discipline-name {
        font-size: $fontSize4;
    }
}
