.disciplines {
    background-color: $black;
    padding-bottom: 10%;
}

.disciplines-grid {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    background-color: $white;
    width: 80vw;
    margin: auto;
}

.disciplines-tile {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding: 5%;
    position: relative;
    width: 40vw;
    height: 40vw;
}

.disciplines-tile:before {
    content: "";
    display: block;
    padding-top: 33.333333%;
}

.disciplines-tile:nth-of-type(1),
.disciplines-tile:nth-of-type(4),
.disciplines-tile:nth-of-type(5),
.disciplines-tile:nth-of-type(8) {
    background-color: $white;
}

.disciplines-tile:nth-of-type(2),
.disciplines-tile:nth-of-type(3),
.disciplines-tile:nth-of-type(6),
.disciplines-tile:nth-of-type(7) {
    background-color: $whiteDarker;
}

.disciplines-tile-icon {
    width: 20%;
    height: 20%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.discipline-name {
    font-family: $sans;
    font-weight: normal;
    font-size: $scale03;
    text-align: center;
    line-height: $scale06;
}

.disciplines-tile-icon + .discipline-name {
    margin-top: 1.5rem;
}

.disciplines-tile:nth-of-type(odd):hover,
.disciplines-tile:nth-of-type(even):hover {
    .disciplines-tile-icon {
        animation-name: bounce;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
        animation-delay: 0.05s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: none;
        animation-play-state: running;
    }
}