@media screen and (min-width: '#{$medium-breakpoint}px') {
    .related-tile-headline {
        font-size: $fontSize6;
        line-height: 1.4;
    }
    .split {
        .related-tile-headline {
            font-size: $fontSize5;
        }
    }
    .picture-text-top {
        .related-tile-text-container {
            height: 25vw;
            top: 0;
            position: absolute;
        }
    }
    .picture-text-bottom {
        .related-tile-text-container {
            height: 25vw;
            bottom: 0;
            position: absolute;
        }
    }
    .split {
        .related-tile-text-container:before {
            border-width: 2rem;
            margin-top: -2rem;
        }
    }
    .split:hover {
        .related-tile-text-container:before {
            border-width: 2.5rem;
            margin-top: -2.5rem;
        }
    }
}
