@media screen and (min-width: '#{$x-large-breakpoint}px') {
    .related-tile-eyebrow {
        font-size: $fontSize5;
    }
    .related-tile-headline {
        font-size: $fontSize9;
        line-height: 1.4;
    }
    .split {
        .related-tile-headline {
            font-size: $fontSize7;
        }
    }
}