// $medium-breakpoint: 768;
@media screen and (min-width: '#{$medium-breakpoint}px') {
    .form-container {
        flex-direction: row;
    }
    .form-wrapper {
        position: relative;
        height: 600px;
        overflow: hidden;
    }
}
