// $medium-breakpoint: 768;
@media screen and (min-width: '#{$medium-breakpoint}px') {
    .form-container {
        flex-direction: row;
    }
    .form-field {
        width: 45%;
    }
    .form-field:nth-of-type(odd) {
        margin-right: 10%;
    }
    .form-wrapper {
        position: relative;
        height: 600px;
        overflow: hidden;
    }
}
