.form-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.form-field {
    position: relative;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
    margin-top: 3em;
    height: 100%;
    padding-bottom: 0.5em;
}

.input-text,
.input-select,
.input-file-label {
    width: 100%;
    background: transparent;
    border: none;
    @extend .body-larger;
    line-height: $scale06;
    font-weight: lighter;
    color: $white;
    position: relative;
    padding-right: 1em;
    padding-left: 0;
}

.input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.input-file-note {
    font-size: $scale02;
    margin-left: 0.5em;
}

.input-border {
    display: block;
    position: absolute;
    height: 0.1rem;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: $white;
    opacity: $opaqueDarker;
}

.input-label {
    position: absolute;
    left: 0;
    top: 0;
    @extend .body-smaller;
    line-height: $scale06;
    font-family: $sans;
    letter-spacing: 0.05em;
    opacity: $opaqueDarker;
    font-weight: lighter;
    transition: all 0.1s 0.2s ease-out;
    transform: translateY(-100%);
}

.input-icon {
    width: 1em;
    height: 1em;
    position: absolute;
    top: 40%;
    transform: translateY(-40%);
    right: 0;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-clip: content-box;
    background-origin: content-box;
}

.input-text::placeholder {
    color: $white;
    opacity: 0;
    transition: all 0.1s 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.input-text[value=""] ~ .input-label {
    opacity: 0;
    transform: translateY(50%);
    transition: all 0.1s 0s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.input-text[value=""]::placeholder {
    opacity: $opaqueDarker;
}

.input-text[value=""] ~ .input-icon {
    @extend .icon-form-required;
    background-size: 80%;
    opacity: $opaqueDarker;
}

.input-text:valid ~ .input-icon {
    @extend .icon-form-valid;
}

.input-text:invalid ~ .input-icon {
    @extend .icon-form-invalid;
}

.input-select {
    border-radius: none;
    -webkit-appearance: none;
}

.input-select ~ .input-icon {
    @extend .icon-arrow-white;
    display: inline-block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-clip: content-box;
    background-origin: content-box;
    opacity: $opaqueDarker;
}

.input-file-label {
    opacity: $opaqueDarker;
    width: auto;
}

.form-field__file-attachment {
    font-weight: lighter;
}

.form-field__file-optional {
    @extend .body-smaller;
    font-weight: lighter;
    color: $white;
    margin-left: 0.5em;
}

.form-field__file-attachment-button {
    visibility: hidden;
    position: absolute;
}

.input-file-button {
    @extend .body-smaller;
    text-transform: uppercase;
    color: $white;
    cursor: pointer;
    cursor: hand;
    opacity: $opaqueDarker;
}

.input-file-button:after {
    content: "";
    @extend .icon-arrow-white;
    transform: rotate(-90deg);
    display: inline-block;
    width: 0.7em;
    height: 0.7em;
    margin-left: 0.2em;
    text-transform: uppercase;
    color: $white;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-clip: content-box;
    background-origin: content-box;
}

.input-submit {
    @extend .h4;
    @extend .link;
    border: none;
    background-color: transparent;
    display: inline-block;
    color: $white;
    margin-top: 2em;
}

.input-submit:focus,
.input-text:focus,
.input-select:focus {
    outline: none;
}

.input-text:invalid ~ .input-icon {
    @extend .icon-form-invalid;
}

.input-text[value=""] ~ .input-label {
    opacity: 0;
    transform: translateY(-50%);
    transition: all 0.1s 0s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.input-select ~ .input-label {
    opacity: 0;
}

.input-text[value=""] ~ .input-icon {
    @extend .icon-form-required;
    background-size: 80%;
    opacity: $opaque;
}

.input-text:valid ~ .input-icon {
    @extend .icon-form-valid;
}

.input-select ~ .input-icon {
    @extend .icon-arrow-white;
    opacity: $opaque;
}

.input-file:focus ~ .input-border,
.input-file:focus ~ .input-file-button,
.input-file:focus ~ .input-file-label,
.input-select:focus ~ .input-border,
.input-select:focus ~ .input-icon,
.input-select:focus,
.input-text:focus ~ .input-border,
.input-text[value=""]:focus ~ .input-border,
.input-text:invalid ~ .input-border,
.input-text:valid ~ .input-border {
    opacity: $visible;
}

.input-file-label,
.input-text[value=""] ~ .input-border {
    opacity: $opaque;
}
