footer {
    width: 100%;
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer-legal {
    color: $gray3;
    font-size: $typeSize3;
    text-align: center;
    font-family: $sans;
    letter-spacing: 0.02em;
    margin-top: 2rem;
}

span.footer-legal-copyright {
    margin: 0 0.5em;
}

a.footer-legal-link {
    text-decoration: none;
    margin: 0 0.5em;
}

a.footer-legal-link:before {
    border-bottom-width: 0.1em;
}

.footer-razorfish-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-share-icons {
    width: 20rem;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

.footer-divider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

hr.footer-divider {
    width: 3rem;
    height: 0.3rem;
    background-color: $primary1;
    margin: 2.5rem 0;
}

.footer-share-twitter,
.footer-share-facebook,
.footer-share-linkedin {
    height: 3rem;
    width: 3rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transform: scale(0.9);
    background-origin: content-box;
    padding: 0.8rem;
}

.footer-share-twitter:hover,
.footer-share-facebook:hover,
.footer-share-linkedin:hover {
    transform: scale(1.1, 1.1)
}

// Small 34em - 544px
@media screen and (min-width: $xs) {}

// Medium 48em - 768px
@media screen and (min-width: $md) {}

// Large 62em - 992px
@media screen and (min-width: $lg) {}

// X-Large 75em - 1200px
@media screen and (min-width: $xl) {
    .footer-legal {
        margin-top: 4rem;
    }
}

// XX-Large 100em - 1600px
@media screen and (min-width: $xxl) {}
