.home-hero {
    height: 100%;
}

.hero-section {
    overflow: hidden;
}

.hero-section.quote {
    background-color: $white1;
    height: 80vh;
}

.hero-section.project {
    height: 100vh;
    background-color: $gray1;
    z-index: 1000;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(100%);
}

.featured-client {
    width: 100%;
    display: flex;
    align-items: center;
}

.hero-header {
    position: fixed;
    top: 30vh;
    width: 80%;
    margin-left: 10%;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
}
