.hero-video {
    position: relative;
    width: 100vw;
    height: 50vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.hero-video-text-container {
    width: 100%;
    padding: 0 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: center;
    color: $white1;
    text-align: center;
    h2 + p {
        margin-top: 1rem;
    }
}

.hero-video-background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    background-image: url('../images/background-locations.jpg'), linear-gradient(90deg, $green3, $green2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    transition: all 0.3s 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.hero-video-play-button {
    width: 6rem;
    height: 6rem;
    background-image: url('../images/play-icon.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    cursor: hand;
    transition: all 0.1s 0.05s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    
}

.hero-video-play-button:hover {
    transform: scale(1.1);
    
}

.hero-video-play-button + .hero-video-text-container {
    margin-top: 2rem;
}
