.home-hero {
    height: 100%;
}

.hero-section {
    overflow: hidden;
}

.hero-section.quote {
    background-color: $white1;
    height: 80vh;
}

.hero-section.project {
    height: 100vh;
    background-color: $gray1;
    z-index: 1000;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(100%);
}

.hero-section.reveal.project {
    filter: grayscale(0%);
    transition: all 0.3s 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.featured-client {
    width: 100%;
    display: flex;
    align-items: center;
}

.hero-header {
    position: fixed;
    top: 30vh;
    width: 80%;
    margin-left: 10%;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
}

.hero-section.color1 {
    h1 {
        color: $black1;
    }
    p {
        color: $black1;
    }
    background-color: $white1;
}

.hero-section.color2 {
    h1 {
        color: $white1;
    }
    p {
        color: $white1;
    }
    background-color: $black1;
}

.hero-section.color3 {
    h1 {
        color: $black1;
    }
    p {
        color: $black1;
    }
    background-color: $primary1;
}

.hero-section.color4 {
    h1 {
        color: $white1;
    }
    p {
        color: $white1;
    }
    background-color: $secondary1;
}
