.locations {
    width: 100%;
    min-height: 60vh;
    background-blend-mode: soft-light;
    background-image: url('/assets/images/background-locations.jpg'), linear-gradient(90deg, $green3, $green2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: $white1;
}
.locations-eyebrow {
	color: $green1;
}

a.locations-link {
	color: $white1;
}