.page-title {
    width: 100vw;
    height: 100vw;
    position: relative;
}

.title-container {
    width: 100%;
    padding: 0 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: center;
    position: relative;
    text-align: left;
}

.page-title-headline {}

// Small 34em - 544px
@media screen and (min-width: $xs) {}

// Medium 48em - 768px
@media screen and (min-width: $md) {
    .page-title {
        height: 35vw;
    }
}

// Large 62em - 992px
@media screen and (min-width: $lg) {}

// X-Large 75em - 1200px
@media screen and (min-width: $xl) {}

// XX-Large 100em - 1600px
@media screen and (min-width: $xxl) {}
