figure,
img {
    max-width: 100%;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}

ul {
    list-style: none;
    list-style-type: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}

h1,h1:hover,h1:focus,
h2,h2:hover,h2:focus,
h3,h3:hover,h3:focus,
h4,h4:hover,h4:focus,
h5,h5:hover,h5:focus,
p,p:hover,p:focus,
a,a:hover,a:focus, {
    text-decoration: none;
}

