$color-dark: #1A1919;
$color-gray: #ADADAD;

$color-accent: #ff0000;

$golden: 1.618rem;



/* Colors */

$white1: #FFFFFF;
$white2: #F7F7F7;
$white3: #FAFAFA;

$gray1: #F0F0F0;
$gray2: #D6D6D6;
$gray3: #ADADAD;

$black1: #404040;
$black2: #333333;
$black3: #1A1919;

$primary1: #a9c000;
$primary2: #a9c000;
$primary3: #a9c000	 ;

$secondary1: #8C80FF;
$secondary2: #7566FF;
$secondary3: #5E4CFF;

$green1:#a9c000;
$green2:#42585c;
$green3: #242926;

$tertiary1: #C86DD7;
$tertiary2: #C44DD6;
$tertiary3: #AB3ABD;


/* Typography */


$typeSize1: 0.5em;
$typeSize2: 0.6154em;
$typeSize3: 0.8077em;
$typeSize4: 1em;
$typeSize5: 1.3077em;
$typeSize6: 1.6154em;
$typeSize7: 2.1154em;
$typeSize8: 2.6154em;
$typeSize9: 3.4231em;
$typeSize10: 4.2308em;
$typeSize11: 5.5385em;
$typeSize12: 6.8462em;


$serif: Didot, EB Garamond, serif;
$sans: Ubuntu, sans-serif;
$display: Factory-Codes, Didot W01 Roman, serif;

/* Breakpoints */
$xs: 0;  // 0px
$sm: 34em;  //  544px
$md: 48em;  //  768px
$lg: 62em;  //  992px
$xl: 75em; //   1200px
$xxl: 100em;  // 1600px

/* Spacing */
$spacing: 1rem;