// $large-breakpoint: 992;
@media screen and (min-width: '#{$large-breakpoint}px') {
    .feed-tile-eyebrow {
        font-size: $scale04;
    }
    .feed-tile-headline {
        font-size: $scale07;
        line-height: 1.4;
    }
    .split {
        .feed-tile-headline {
            font-size: $scale06;
        }
    }
}
