// $x-large-breakpoint: 1200;
@media screen and (min-width: '#{$x-large-breakpoint}px') {
    .feed-tile-eyebrow {
        font-size: $scale05;
        letter-spacing: $spacing-sans;
    }
    .feed-tile-headline {
        font-size: $scale07;
    }
    .split {
        .feed-tile-headline {
            font-size: $scale06;
        }
    }
    .feed-grid.padding {
        .feed-tile-eyebrow {
            font-size: $scale05;
            letter-spacing: $spacing-sans;
        }
        .feed-tile-headline {
            font-size: $scale07;
        }
        .split {
            .feed-tile-headline {
                font-size: $scale06;
            }
        }
    }
     $feed-padding-xxl: 20vw;
    .feed-grid.padding {
        margin-left: calc(#{$feed-padding-xxl} / 2);
        margin-right: calc(#{$feed-padding-xxl} / 2);
        width: calc(100vw - #{$feed-padding-xxl});
        height: calc(((100vw - #{$feed-padding-xxl}) / 4) * 7);
        .feed-tile:nth-of-type(1) {
            width: calc((100vw - #{$feed-padding-xxl}) / 2);
            height: calc((100vw - #{$feed-padding-xxl}) / 4);
            transform: translateY(0, 0);
        }
        .feed-tile:nth-of-type(2) {
            width: calc((100vw - #{$feed-padding-xxl}) / 2);
            height: calc((100vw - #{$feed-padding-xxl}) / 2);
            transform: translateY(0, 0);
        }
        .feed-tile:nth-of-type(3) {
            width: calc((100vw - #{$feed-padding-xxl}) / 2);
            height: calc((100vw - #{$feed-padding-xxl}) / 2);
            transform: translate(0, calc((100vw - #{$feed-padding-xxl}) * -1/4));
        }
        // Split
        .feed-tile:nth-of-type(4) {
            width: calc((100vw - #{$feed-padding-xxl}) / 2);
            height: calc((100vw - #{$feed-padding-xxl}) / 4);
            transform: translate(0, 0);
        }
        // Solid
        .feed-tile:nth-of-type(5) {
            width: calc((100vw - #{$feed-padding-xxl}) / 2);
            height: calc((100vw - #{$feed-padding-xxl}) / 4);
            transform: translate(calc((100vw - #{$feed-padding-xxl}) * -1/2), 0);
        }
        .feed-tile:nth-of-type(6) {
            width: calc((100vw - #{$feed-padding-xxl}) / 2);
            height: calc((100vw - #{$feed-padding-xxl}) / 2);
            transform: translate(0, calc((100vw - #{$feed-padding-xxl}) * -1/4));
        }
        // Split
        .feed-tile:nth-of-type(7) {
            width: calc((100vw - #{$feed-padding-xxl}) / 2);
            height: calc((100vw - #{$feed-padding-xxl}) / 4);
            transform: translate(0, calc((100vw - #{$feed-padding-xxl}) * -1/2));
        }
        .feed-tile:nth-of-type(8) {
            width: calc((100vw - #{$feed-padding-xxl}) / 2);
            height: calc((100vw - #{$feed-padding-xxl}) / 2);
            transform: translate(calc((100vw - #{$feed-padding-xxl}) * -1/2), calc((100vw - #{$feed-padding-xxl}) * -1/4));
        }
        // Split
        .feed-tile:nth-of-type(9) {
            width: calc((100vw - #{$feed-padding-xxl}) / 2);
            height: calc((100vw - #{$feed-padding-xxl}) / 4);
            transform: translate(calc((100vw - #{$feed-padding-xxl}) * 1/2), calc((100vw - #{$feed-padding-xxl}) * -3/4));
        }
        // Solid
        .feed-tile:nth-of-type(10) {
            width: calc((100vw - #{$feed-padding-xxl}) / 2);
            height: calc((100vw - #{$feed-padding-xxl}) / 4);
            transform: translate(0, calc((100vw - #{$feed-padding-xxl}) * -1/2));
        }
    }
}
