// $x-large-breakpoint: 1200;
@media screen and (min-width: '#{$x-large-breakpoint}px') {
    .feed-tile-headline {
        font-size: $scale08;
        line-height: 1.4;
    }
    .split {
        .feed-tile-headline {
            font-size: $scale07;
        }
    }
}
