// $xx-large-breakpoint: 1600;
@media screen and (min-width: '#{$xx-large-breakpoint}px') {
    .feed-tile-text-container {
        padding: 0 15%;
    }
    .feed-tile-eyebrow {
        font-size: $scale05;
    }
    .feed-tile-headline {
        font-size: $scale09;
        line-height: 1.4;
    }
    .split {
        .feed-tile-headline {
            font-size: $scale08;
        }
    }
}
