.article {
    background-color: $white;
    &--photo-divider {
        width: 100vw;
        height: 80vh;
        background-attachment: scroll;
        @media screen and ($xl) {
            background-attachment: fixed; // Because fixed does not work on ios devices
        }
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    &--background {
        width: 100vw;
        min-height: 80vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    &--body {
        position: relative;
        z-index: 10;
        &.white {
            color: $white;
        }
    }
    &--headline-container {
        z-index: 10;
    }
    &--headline-container.center {
        text-align: center;
        .divider-md {
            margin-left: auto;
            margin-right: auto;
        }
    }
    .share-icon-group {
        margin-top: 0;
        margin-bottom: 2em;
    }
    .h2-serif + .body {
        margin-top: 2em;
    }
    .h3-sans + .body {
        margin-top: 1em;
    }
    .h2-serif + .h3-sans {
        margin-top: 2em;
    }
    .body + .h3-sans {
        margin-top: 3em;
    }
    .article--eyebrow + .h2-serif {
        margin-top: 0.5em;
    }
    .label {
        font-family: $sans;
        line-height: $title-sans;
        font-size: $scale04;
        opacity: 0.5;
        letter-spacing: $spacing-sans-large;
        text-transform: uppercase;
        margin-bottom: 0.5em;
    }
    .pull-quote {
        color: $tertiaryDarker;
        margin-top: 2em;
        margin-bottom: 2em;
        .author {
            margin-top: 2em;
            color: $black;
        }
    }
    .pull-quote + .h3-sans {
        margin-top: 2em;
    }
    &--eyebrow {
        font-family: $sans;
        line-height: $title-sans;
        opacity: 0.5;
        letter-spacing: $spacing-sans-large;
        text-transform: uppercase;
        font-size: $scale04;
        @media screen and ($xxl) {
            font-size: $scale05;
        }
    }
}

.author-name {
    font-family: $sans;
    line-height: $title-sans;
    font-weight: 700;
    font-size: $scale06;
    text-transform: none;
    letter-spacing: $spacing-sans;
    margin-top: 0.25em;
}

.author-title {
    font-family: $sans;
    line-height: $title-sans;
    font-weight: 400;
    font-size: $scale05;
    text-transform: none;
    letter-spacing: $spacing-sans;
}

.author-link {
    font-family: $sans;
    line-height: $title-sans;
    font-weight: 700;
    font-size: $scale05;
    text-transform: none;
    letter-spacing: $spacing-sans;
}

.info-container {
    margin-top: $spacing03;
}

.article-author {
    margin-top: $spacing01;
    @extend .body;
    line-height: $title-sans + 0.1em;
    text-transform: uppercase;
    strong {
        font-weight: 700;
    }
}

.article-author-title {
    margin-top: 0.5em;
}

.article--quote {
    background-color: $tertiaryDarker;
    text-align: center;
}

.article--quote-eyebrow {
    @extend .eyebrow-large;
    color: $primary;
    letter-spacing: $spacing-sans;
    margin: auto;
    text-transform: none;
    margin-bottom: 1em;
}

.article--quote-headline {
    @extend .quote-large;
    color: $white;
}

.article-video {
    @include video;
    margin-top: 4em;
    margin-bottom: 4em;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 10%;
}

.sticky:before,
.sticky:after {
    content: '';
    display: table;
}

.background-gradient:before {
    content: "";
    background-image: linear-gradient(90deg, $tertiary, $tertiaryDarker);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    opacity: 0.9;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
