.article {
    background-color: $white;
    &--photo-divider {
        width: 100vw;
        height: 80vh;
        background-attachment: scroll;
        @media screen and ($xl) {
            background-attachment: fixed; // Because fixed does not work on ios devices
        }
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    &--background {
        width: 100vw;
        min-height: 80vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    &--body {
        position: relative;
        z-index: 10;
        &.white {
            color: $white;
        }
    }
    &--headline-container {
        z-index: 10;
    }
    &--headline-container.center {
        text-align: center;
        .divider-md {
            margin-left: auto;
            margin-right: auto;
        }
    }
    .share--icon-group {
        margin-bottom: 1em;
    }
    .h2-serif + .body {
        margin-top: 2em;
    }
    .h3-sans + .body {
        margin-top: 1em;
    }
    .h2-serif + .h3-sans {
        margin-top: 2em;
    }
    .body + .h3-sans {
        margin-top: 3em;
    }
    .eyebrow + .h2-serif {
        margin-top: 0.5em;
    }
    .pull-quote {
        color: $tertiaryDarker;
        margin-top: 2em;
        margin-bottom: 2em;
        .author {
            margin-top: 2em;
            color: $black;
        }
    }
    .pull-quote + .h3-sans {
        margin-top: 2em;
    }
    &--quote {
        background-color: $tertiaryDarker;
        text-align: center;
    }
    &--quote-eyebrow {
        @extend .eyebrow;
        color: $primary;
        letter-spacing: $spacing-sans;
        margin: auto;
        text-transform: none;
        margin-bottom: 1em;
    }
    &--quote-headline {
        @extend .quote-large;
        color: $white;
    }
    &--left-rail {
        margin-bottom: 3em;
        @media screen and ($md) {
            margin-bottom: 4em;
        }
        @media screen and ($xl) {
            margin-bottom: 0;
        }
    }
    .video {
        margin-top: 4em;
        margin-bottom: 4em;
    }
    &--footer {
        margin-top: 4em;
    }
}

.author {
    &--eyebrow {
        font-family: $sans;
        font-size: $scale03;
        font-weight: 700;
        font-style: normal;
        line-height: $title-sans;
        letter-spacing: $spacing-sans-mega;
        text-transform: uppercase;
        opacity: 0.3;
        margin-bottom: 0.25em;
    }
    &--name {
        font-family: $sans;
        line-height: $title-sans;
        font-weight: 700;
        font-size: $scale05;
        text-transform: none;
        letter-spacing: $spacing-sans;
        @media screen and ($xl) {
            // font-size: $scale06;
        }
    }
    &--title {
        font-family: $sans;
        line-height: $title-sans;
        font-weight: 400;
        font-size: $scale04;
        text-transform: none;
        letter-spacing: $spacing-sans;
        @media screen and ($xl) {
            // font-size: $scale05;
        }
    }
    &--contact {
        font-family: $sans;
        line-height: $title-sans;
        font-weight: 700;
        font-size: $scale04;
        text-transform: none;
        letter-spacing: $spacing-sans;
        @media screen and ($xl) {
            // font-size: $scale05;
        }
    }
    &--container {
        margin-top: 1em;
        @media screen and ($xl) {
            margin-top: 2em;
        }
        &:first {
            margin-top: 0;
        }
    }
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 10vw;
}

.sticky:before,
.sticky:after {
    content: '';
    display: table;
}

.background-gradient:before {
    content: "";
    background-image: linear-gradient(90deg, $tertiary, $tertiaryDarker);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    opacity: 0.9;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
