//*------------------------------------*\
//    $COLOR PALETTE
//*------------------------------------*/

//Default Color Pallete
// $color-name: rgba(X,X,X,X);


//text colors
//$color-primary: rgba(X,X,X,X);

//link colors
//$color-link-primary: rgba(X,X,X,X);
//$color-link-visited: rgba(X,X,X,X);
//$color-link-hover: rgba(X,X,X,X);
//$color-link-active: rgba(X,X,X,X);

//heading colors
//$color-title-primary: rgba(X,X,X,X);

//background colors
// $color-bg-primary : rgba(X,X,X,X);

//border color
// $color-border-primary : rgba(X,X,X,X);


/* Colors */

$whiteLighter: #FFFFFF;
$white: #FFFFFF;
$whiteDarker: #f6f6f6;

// $grayLighter: #F0F0F0;
$grayLighter: #EBE7E6;
$gray: #D6D6D6;
$grayDarker: #808080;

$blackLighter: #4f4949;
$black: #404040;
$blackDarker: #000000;

// Razorfish Green
$primaryLighter: #f1f7ba;
$primary: #a9c000;
$primaryDarker: #a9c000;

// Red
$secondaryLighter: #ff595b;
$secondary: #ff595b;
$secondaryDarker: #E6393C;

// Dark Green
$tertiaryLighter:#42585c;
$tertiary:#4c585a;
$tertiaryDarker: #2a3331;
