$transparent: 0;
$opacity01: 0.2;
$opacity02: 0.5;
$opacity03: 0.8;
$visible: 1;
.form {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 10;
    flex-wrap: wrap;
}

.form-wrapper {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    @media screen and ($md) {
        position: relative;
        height: 600px;
        overflow: hidden;
    }
    @media screen and ($lg) {
        height: 325px;
    }
}

.form-content {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    transition: all 0.3s 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    @media screen and ($md) {
        flex-direction: row;
    }
}

.form-field {
    position: relative;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding-top: 2em;
    padding-bottom: 0.5em;
    flex-wrap: wrap;
}

.input-text,
.input-select,
.input-file-label {
    border: none;
    color: inherit;
    font-family: $sans;
    font-size: $scale06;
    font-weight: 200;
    letter-spacing: $spacing-sans;
    line-height: $title-sans;
    margin-bottom: 0.4em;
    margin-top: 0.2em;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    width: 100%;
}

.input-select {
    @extend .icon-arrow-black;
    -webkit-appearance: none;
    background-clip: content-box;
    background-color: transparent;
    background-origin: border-box;
    background-origin: content-box;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 0.7em 0.7em;
    border-radius: none;
    order: 2;
}

.input-label {
    font-family: $sans;
    font-size: $scale04;
    font-weight: lighter;
    line-height: $solid-sans;
    order: 1;
    transform: translateY(0);
    transition: all 0.1s 0.2s ease-out;
    width: 100%;
}

.input-file {
    height: 0px;
    order: 3;
    overflow: hidden;
    position: absolute;
    width: 0px;
    z-index: -10;
}

.input-file-label {
    order: 2;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.input-text::placeholder {
    color: inherit;
    transition: all 0.1s 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.input-file-note {
    font-size: $scale04;
    margin-left: 0.5em;
}

.input-border {
    order: 4;
    display: block;
    height: 1px;
    width: 100%;
    background-color: $black;
}

.input-text {
    order: 2;
    width: 100%;
    background-size: contain;
    background-clip: content-box;
    background-origin: content-box;
    background-size: 0.7em 0.7em;
    background-position: right;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-color: transparent;
}

.input-text:valid {
    @extend .icon-form-valid;
}

.input-text:invalid {
    @extend .icon-form-invalid;
}

.input-file-button {
    font-size: $scale04;
    text-transform: uppercase;
    cursor: pointer;
    cursor: hand;
}

.input-file-button:after {
    content: "";
    @extend .icon-arrow-white;
    transform: rotate(-90deg);
    display: inline-block;
    width: 0.6em;
    height: 0.6em;
    margin-left: 0.3em;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-clip: content-box;
    background-origin: content-box;
}

.input-submit {
    @extend .h4-serif;
    @extend .link;
    border: none;
    background-color: transparent;
    display: inline-block;
    color: $white;
    margin: auto;
    margin-top: 4rem;
}

.input-submit:focus,
.input-text:focus,
.input-select:focus {
    outline: none;
}

.input-text:invalid ~ .input-icon {
    @extend .icon-form-invalid;
}

.input-text[value=""] ~ .input-label,
.input-file ~ .input-label,
.input-select ~ .input-label {
    opacity: 0;
    transform: translateY(50%);
    transition: all 0.1s 0s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.input-select.selected ~ .input-label {
    transform: translateY(0%);
}

.input-text[value=""] ~ .input-icon {
    @extend .icon-form-required;
    background-size: 80%;
}

.input-text:valid ~ .input-icon {
    @extend .icon-form-valid;
}

.input-text[value=""] {
    background-image: none;
}

.form {
    .tertiary {
        margin: auto;
        display: block;
        margin-top: $spacing01;
    }
}

.form {
    .input-file:focus ~ .input-border,
    .input-file:focus ~ .input-file-button,
    .input-file:focus ~ .input-file-label,
    .input-select.selected ~ .input-border,
    .input-select.selected,
    .input-select:focus ~ .input-border,
    .input-select:focus ~ .input-icon,
    .input-select:focus,
    .input-text:focus ~ .input-border,
    .input-text:invalid ~ .input-border,
    .input-text:valid ~ .input-border,
    .input-text[value=""]:focus ~ .input-border {
        opacity: $visible;
    }
    .input-file ~ .input-label,
    .input-file,
    .input-select ~ .input-label,
    .input-text::placeholder,
    .input-text[value=""] ~ .input-label,
    .input-file ~ .input-label,
    .input-select ~ .input-label {
        opacity: $transparent;
    }
    .input-text[value=""] ~ .input-border,
    .input-file-label ~ .input-border,
    .input-select ~ .input-border {
        opacity: $opacity01;
    }
    .input-border,
    .input-file-label,
    .input-label,
    .input-select ~ .input-icon,
    .input-select,
    .input-select.selected ~ .input-label,
    .input-text[value=""] ~ .input-icon,
    .input-text[value=""],
    .input-text[value=""]::placeholder {
        opacity: $opacity02;
    }
}

.form.white {
    color: $white;
    .input-border {
        background-color: $white;
    }
    .input-select {
        @extend .icon-arrow-white;
    }
}
