.container-fluid {
    padding: 20% 10%;
    @media screen and ($lg) {
        padding: 10%;
    }
}

.padding-05 {
    padding-top: 5%;
    padding-bottom: 5%;
}

.row {
    display: flex;
    @media screen and ($xxl) {
        margin-left: -3%;
        margin-right: -3%;
    }
}

.row.bottom {
    align-items: flex-end;
}

.row.center {
    align-items: center;
}

.headline-left {
    display: flex;
    flex-direction: column;
}

.headline-center {
    display: flex;
    flex-direction: column;
}

.flex-start {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.flex-row-end {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.flex-col-end {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.flex-col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-col-start {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.flex-row-start {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

// Spacing
$spacing01: 4%;
$spacing02: 5%;
$spacing03: 6.5%;
$spacing04: 8%;
$spacing05: 10.5%;
$spacing06: 13%;
$spacing07: 17%;
// #{$xx-large-breakpoint}: 1600;
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xxl-1, .col-xxl-2, .col-xxl-3, .col-xxl-4, .col-xxl-5, .col-xxl-6, .col-xxl-7, .col-xxl-8, .col-xxl-9, .col-xxl-10, .col-xxl-11, .col-xxl-12 {
    @media screen and ($xxl) {
        padding-left: 3%;
        padding-right: 3%;
    }
}
