.most-recent {
    background-color: $grayLighter;
    @media screen and ($xxl) {
        .divider-md {
            margin-bottom: $spacing01 / 2;
        }
    }
}

.load-more-container {
    padding-top: $spacing07;
    padding-bottom: $spacing07;
    @media screen and ($lg) {
        padding-top: $spacing04;
        padding-bottom: $spacing04;
    }
    @media screen and ($xl) {
        padding-top: $spacing02;
        padding-bottom: $spacing02;
    }
    @media screen and ($xxl) {
        padding-top: $spacing01;
        padding-bottom: $spacing01;
    }
}
