/* Font Face Declarations Go Here */


/* Miller */

 @font-face {
    font-family: 'Miller Display';
    src: url(dist/fonts/miller/Miller-DisplayRoman.otf);
    font-style: regular;
}

@font-face {
    font-family: 'Miller Display';
    src: url(dist/fonts/miller/Miller-DisplayItalic.otf);
    font-style: italic;
}

@font-face {
    font-family: 'Miller';
    src: url(dist/fonts/miller/Miller-TextRoman.otf);
    font-weight: normal;
    font-style: regular;
}

@font-face {
    font-family: 'Miller';
    src: url(dist/fonts/miller/Miller-TextBold.otf);
    font-weight: bold;
}

@font-face {
    font-family: 'Miller';
    src: url(dist/fonts/miller/Miller-TextItalic.otf);
    font-style: regular;
}


/* Gotham */

@font-face {
    font-family: 'Gotham';
    src: url(../fonts/gotham/Gotham-Bold.otf);
    font-weight: 800;
}

@font-face {
    font-family: 'Gotham';
    src: url(../fonts/gotham/Gotham-Book.otf);
    font-weight: 400;
}

@font-face {
    font-family: 'Gotham';
    src: url(../fonts/gotham/Gotham-Light.otf);
    font-weight: 200;
}



$miller: ''Miller', Helvetica, Arial, sans-serif;
$miller-display: ''Miller Display', Helvetica, Arial, sans-serif;
$gotham: 'Gotham', Helvetica, Arial, sans-serif;


$default-letter-spacing: 0.16em;
$default-line-height: 1;
$headline-line-height: 1.1;
$body-copy-line-height: 1.5;

html { 
    font-size: 16px;
}