/* Font Face Declarations Go Here */


/* Miller */

@font-face {
    font-family: 'Miller Display';
    src: url(../miller/MillerDisplayRoman.woff);
    font-style: normal;
}

@font-face {
    font-family: 'Miller Display';
    src: url(../miller/MillerDisplayItalic.woff);
    font-style: italic;
}

@font-face {
    font-family: 'Miller Display';
    src: url(../miller/MillerDisplayBold.woff);
    font-style: bold;
}

@font-face {
    font-family: 'Miller';
    src: url(../miller/MillerTextRoman.woff);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Miller';
    src: url(../miller/MillerTextBold.woff);
    font-weight: bold;
}

@font-face {
    font-family: 'Miller';
    src: url(../miller/MillerTextItalic.woff);
    font-style: italic;
}


/* Gotham */

@font-face {
    font-family: 'Gotham';
    src: url(../fonts/gotham/Gotham-Book.woff);
    font-weight: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url(../fonts/gotham/Gotham-Bold.woff);
    font-weight: bold;
}

@font-face {
    font-family: 'Gotham';
    src: url(../fonts/gotham/Gotham-Light.woff);
    font-weight: 200;
}

$serif: 'Miller',
Times,
Georgia,
serif;
$display: 'Miller Display',
Times,
Georgia,
serif;
$sans: 'Gotham',
Helvetica,
Arial,
sans-serif;
$default-letter-spacing: 0.16em;
$default-line-height: 1;
$headline-line-height: 1.1;
$body-copy-line-height: 1.5;
// Font scale "Le Corbusier" taken from http:/lamb.cc/typograph/
$fontSize1: 0.5em;
$fontSize2: 0.6154em;
$fontSize3: 0.8077em;
$fontSize4: 1em;
$fontSize5: 1.3077em;
$fontSize6: 1.6154em;
$fontSize7: 2.1154em;
$fontSize8: 2.6154em;
$fontSize9: 3.4231em;
$fontSize10: 4.2308em;
$fontSize11: 5.5385em;
$fontSize12: 6.8462em;
html {
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}
