// $large-breakpoint: 992;
@media screen and (min-width: '#{$large-breakpoint}px') {
    .article-headline-container {
        margin-bottom: $spacing03;
        .divider-md {
            margin-top: $spacing03;
            margin-bottom: 0;
        }
    }
}
