// $large-breakpoint: 992;
@media screen and (min-width: '#{$large-breakpoint}px') {
    .article-share-icons-container + .article-headline-container,
    .article-headline-container + .article-body-container,
    .article-headline-container + .article-large-body-container {
        margin-top: 5%;
    }
    .article-body-container {
        padding-left: 15%;
        padding-right: 15%;
    }
    .article-large-body-container {
        padding-left: 15%;
        padding-right: 15%;
    }
}
