// $large-breakpoint: 992;
@media screen and (min-width: '#{$large-breakpoint}px') {
    .article-h2 {
        font-size: $fontSize9;
    }
    .article-long-copy {
        column-count: 2;
        column-gap: 4em;
    }
}
