// $medium-breakpoint: 768;
@media screen and (min-width: '#{$medium-breakpoint}px') {
    .article-share-icons-container + .article-headline-container,
    .article-headline-container + .article-body-container,
    .article-headline-container + .article-large-body-container {
        margin-top: 8%;
    }
    .article-divider {
        margin-top: 2em;
        margin-bottom: 2rem;
    }
}
