.article {
    background-color: $white;
}

.article-content {
    position: relative;
}

.article-photo-divider {
    width: 100vw;
    height: 80vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./../images/article-photo-audi.jpg');
}

.article-share-icons-container {
    margin-top: $spacing01;
    display: flex;
    justify-content: flex-start;
    .share-icon-container {
        background-color: $grayLighter;
        margin: 0 0.05rem;
    }
    .share-icon-container:before {
        height: 0.2em;
    }
}

.article-ul {
    @extend .ul;
}

.article-headline-container {
    @include headline-container;

}

.article-headline-container.center {
    align-items: center;
}

.article-headline-container.invert {
    color: $white;
}

.article-h2 {
    @extend .h2;
    line-height: $title - 0.1;
    margin-bottom: 0.5em;
}

.article-h3 {
    @extend .h3-sans;
    margin-bottom: 0.5em;
}

.article-h3-quote {
    @extend .h3;
    color: $white;
    letter-spacing: 0.01em;
    margin-bottom: 0.5em;
}

.article-h4 {
    @extend .h4;
    width: 100%;
    margin-bottom: 0.5em;
}

.article-author {
    margin-top: $spacing01;
    @extend .eyebrow-small;
}

.article-author-name {
    font-weight: bold;
}

.article-author-title {
    margin-top: 0.5em;
}

.article-body {
    @extend .body;
    z-index: 10;
    p {
        margin-top: 1em;
    }
    p:first-child {
        margin-top: 0;
    }
}

.article-body.invert {
    color: $white;
}

.article-body.two-columns {
    columns: 1;
}

.article-pull-quote {
    @extend .pull-quote;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.article-background {
    @include background-cover;
}

.article-background.gradient:before {
    @include background-gradient;
}

.article-quote {
    background-color: $tertiaryDarker;
    text-align: center;
}

.article-quote-eyebrow {
    @extend .eyebrow-large;
    color: $primary;
    letter-spacing: $spacing-sans;
    margin: auto;
    text-transform: none;
    margin-bottom: 1em;
}

.article-quote-headline {
    @extend .quote-large;
    color: $white;
}

.article-video {
    @include video;
    margin-top: 4em;
    margin-bottom: 4em;
}

.article-horizontal-rule {
    @extend .horizontal-rule;
}

.article-author + .article-long-copy-two-column {
    margin-top: 4rem;
}


.article-h3,
.article-h4 {
    margin-top: $spacing07;
    margin-bottom: $spacing02;
}

.article-h3:first-child {
    margin-top: 0;
}