 // $x-large-breakpoint: 1200;
 @media screen and (min-width: '#{$x-large-breakpoint}px') {
     .article-body.two-columns {
         columns: 2;
         column-gap: 3em;
     }
     .article-headline-container {
         margin-bottom: $spacing02;
         .divider-md {
             margin-top: $spacing02;
             margin-bottom: 0;
         }
     }
 }
