// $xx-large-breakpoint: 1600;
@media screen and (min-width: '#{$xx-large-breakpoint}px') {
    .article-foot-note-container {
        margin-left: 25%;
        margin-right: 25%;
        padding-top: 15%;
        padding-bottom: 15%;
        border-top: solid 0.01rem $gray;
    }
    .article-headline-container {
        padding-left: 15%;
        padding-right: 15%;
    }
    .article-body-container {
        padding-left: 30%;
        padding-right: 30%;
    }
    .article-share-icons-container + .article-headline-container,
    .article-headline-container + .article-body-container,
    .article-headline-container + .article-large-body-container {
        margin-top: 4%;
    }
}
