// $xx-large-breakpoint: 1600;
@media screen and (min-width: '#{$xx-large-breakpoint}px') {
    .article-foot-note-container {
        padding-top: 15%;
        padding-bottom: 15%;
        border-top: solid 0.01rem $gray;
    }
    .article-author {
        margin-top: $spacing02;
    }
    .article-share-icons-container {
        margin-top: $spacing02;
    }

}
