// $medium-breakpoint: 768;
@media screen and (min-width: '#{$medium-breakpoint}px') {
    span.footer-legal-copyright {
        display: inline-block;
    }
    .footer-legal-dot:nth-of-type(2):before {
        display: inline;
    }
    .footer-divider {
        margin: 2.5rem 0;
    }
}
