.footer {
    width: 100vw;
    position: relative;
    overflow: hidden;
    background: $white;
}

.footer-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    // transform: translateY(50%);
}

.footer.reveal {
    .footer-content {
        transform: translateY(0%);
        transition: all 0.5s 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
}

.footer-legal {
    color: $grayDarker;
    font-size: $scale03;
    text-align: center;
    font-family: $sans;
    letter-spacing: 0.02em;
    margin-top: 2rem;
}

span.footer-legal-copyright {
    margin: 0 0.5em 1em 0;
    display: block;
    line-height: $scale06;
}

a.footer-legal-link {
    text-decoration: none;
    margin: 0 0.5em;
    position: relative;
    display: inline-block;
    color: $primary;
    line-height: $scale06;
}

.footer-legal-dot:before {
    content: "·";
    color: $grayDarker;
    margin-left: 1em;
    margin-right: 1em;
    position: relative;
    display: inline-block;
}

.footer-legal-dot:nth-of-type(2):before {
    display: none;
}

a.footer-legal-link:after {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    border-bottom-width: 0.1em;
    border-bottom-style: solid;
}

a.footer-legal-link:hover:after {
    width: 100%;
}

.footer-razorfish-logo {
    @extend .logo-razorfish;
    width: 10rem;
    height: 2rem;
    margin-bottom: 0.5rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.footer-divider {
    margin: 2rem 0;
}

.footer-share-icons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    .share-icon-container {
        margin: 0 1rem;
    }
}

.share-icon.not-in-viewport {
    transform: translateY(200%);
    opacity: 0;
    transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.share-icon.not-in-viewport.in-viewport {
    transform: translateY(0%);
    opacity: 1;
}

.share-icon-container:nth-of-type(1) {
    .share-icon.not-in-viewport.in-viewport {
        transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
    }
}

.share-icon-container:nth-of-type(2) {
    .share-icon.not-in-viewport.in-viewport {
        transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
    }
}

.share-icon-container:nth-of-type(3) {
    .share-icon.not-in-viewport.in-viewport {
        transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s;
    }
}

.share-icon-container:nth-of-type(4) {
    .share-icon.not-in-viewport.in-viewport {
        transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
    }
}
