.footer {
    width: 100vw;
    height: 50vh;
    position: relative;
    overflow: hidden;
}

.footer-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    // transform: translateY(50%);
}

.footer.reveal {
    .footer-content {
        transform: translateY(0%);
        transition: all 0.5s 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
}

.locations-text-container {
    width: 100%;
    padding: 0 10%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: center;
    text-align: center;
}

.footer-legal {
    color: $grayDarker;
    font-size: $fontSize3;
    text-align: center;
    font-family: $sans;
    letter-spacing: 0.02em;
    margin-top: 2rem;
}

span.footer-legal-copyright {
    margin: 0 0.5em;
}

a.footer-legal-link {
    text-decoration: none;
    margin: 0 0.5em;
    position: relative;
    display: inline-block;
    color: $primary;
    line-height: 1.5;
}

a.footer-legal-link:before {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    border-bottom-width: 0.1em;
    border-bottom-style: solid;
}

a.footer-legal-link:hover:before {
    width: 100%;
}

.footer-razorfish-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-share-icons {
    width: 20rem;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    overflow: hidden;
}

.footer-small-divider {
    width: 3rem;
    height: 0.3rem;
    background-color: $primary;
    margin: 2.5rem 0;
    border: none;
}

.footer.reveal {
    .footer-divider {
        width: 3rem;
        transition: all 0.2s 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
}

.footer-share-twitter {
    background-image: url(./../images/share-twitter.svg)
}

.footer-share-facebook {
    background-image: url(./../images/share-facebook.svg)
}

.footer-share-linkedin {
    background-image: url(./../images/share-linkedin.svg)
}

.footer-share-twitter,
.footer-share-facebook,
.footer-share-linkedin {
    height: 3rem;
    width: 3rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transform: scale(0.9);
    background-origin: content-box;
    padding: 0.8rem;
}

.footer-share-icon {
    position: relative;
}

.footer-share-icon:before {
    display: block;
    content: "";
    position: absolute;
    height: 0.1em;
    bottom: 0;
    left: 0;
    width: 0%;
    background-color: $primary;
    transition: width 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.footer-share-icon:hover:before {
    width: 100%;
}

.footer.reveal {
    .footer-share-twitter {
        transform: translateY(0%);
        transition: all 0.2s 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
    .footer-share-facebook {
        transform: translateY(0%);
        transition: all 0.2s 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
    .footer-share-linkedin {
        transform: translateY(0%);
        transition: all 0.2s 1.0s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
}

.footer-share-twitter:hover,
.footer-share-facebook:hover,
.footer-share-linkedin:hover {
    animation-name: footer-share-icon-bounce;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-play-state: running;

}

@keyframes footer-share-icon-bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-0.35em);
    }
    100% {
        transform: translateY(0);
    }
}

.footer-share-icons {
    a:before {
        border-bottom-width: 0.1em;
    }
}
