// $medium-breakpoint: 768;
@media screen and (min-width: '#{$medium-breakpoint}px') {
    .hero-video {
        height: 50vw;
    }
    .hero-video-text-container {
        padding: 0 20%;
    }
    .video-play-button + .hero-video-text-container {
        margin-top: 2rem;
    }
}
