// $medium-breakpoint: 768;
@media screen and (min-width: '#{$medium-breakpoint}px') {
    .hero-video {
        height: 50vw;
    }
    .hero-video-headline {
        font-size: $fontSize7;
        line-height: 1.25;
    }
    .hero-video-text-container {
        padding: 0 20%;
    }
    .hero-video-subheadline {
        font-size: $fontSize4;
    }
    .video-play-button + .hero-video-text-container {
    margin-top: 2rem;
}

}
