@media screen and (min-width: '#{$large-breakpoint}px') {
    .locations {
        width: 100%;
        min-height: 60vh;
    }
    .locations-headline {
        font-size: $scale09;
    }
    .locations-eyebrow {
        font-size: $scale05;
    }
}
