// $medium-breakpoint: 768;
@media screen and (min-width: '#{$medium-breakpoint}px') {
     .section-title {
         min-height: 25vw;
         padding: 10% 20%;
     }
     .section-headline {
         font-size: $fontSize7;
     }
     .section-subheadline {
         font-size: $fontSize5;
     }
}
