.section-title {
    @extend .content-centered;
    width: 100vw;
    min-height: 50vw;
    background-color: $black;
    position: relative;
    color: $white;
    padding: 10% 10%;
    text-align: center;
}

.section-headline {
    @extend .h3;
}

.section-subheadline {
    @extend .subheadline;
}

.section-headline + .section-subheadline {
    margin-top: 0.25em;
}

.section-divider {
    margin: 1rem 0;
}
