
.section-title {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 50vw;
    background-color: $black;
    position: relative;
    color: $white;
    padding: 10% 10%;
    text-align: center;
}

.section-headline {
    font-family: $display;
    font-size: $scale05;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: -0.015em;
    text-align: left;
}

.section-subheadline {
    font-family: $sans;
    font-size: $scale04;
    line-height: 1.5;
}

.section-headline + .section-subheadline {
    margin-top: 0.25em;
}

.section-divider {
    margin: 1rem 0;
}
