.navigation {
    width: 100%;
    padding: 0;
    position: fixed;
    top: 0;
    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translateY(0);
    transition: transform 0.3s 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.navigation-container {
    padding: 0 5%;
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    color: $black;
}

.navigation-logo-container {
    display: flex;
    align-items: baseline;
    flex-direction: row;
}

.razorfish-logo {
    transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    height: 1.3rem;
}

.navigation-global {
    font-family: $sans;
    font-size: $scale04;
    color: $primary;
    font-weight: 200;
    display: inline-block;
    margin-left: 0.6rem;
    display: none;
}

.navigation-global:after {
    content: ">";
    transform: rotate(90deg) scale(0.6, 1.2);
    margin-left: 0.3em;
    position: absolute;
}

input#navigation-checkbox,
input#navigation-checkbox:checked {
    display: none;
}

#navigation-overlay-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    background-color: $primary;
    color: $black;
    width: 100vw;
    height: 100vh;
    z-index: 10000;
    transform: translateY(-100vh);
}

input#navigation-checkbox:checked ~ #navigation-overlay-container {
    transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transform: translateY(0vh);
}

input#navigation-checkbox:checked ~ main {
    transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transform: translateY(100vh);
}

.navigation-overlay-link-container {
    margin-top: 1rem;
}

a.navigation-overlay-link,
a.navigation-overlay-link:hover {
    color: $black;
    font-size: $scale07;
}

.navigation.hiding {
    transform: translateY(-100%);
}

.hamburger-container {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    cursor: hand;
}

.hamburger {
    width: 2.5rem;
    height: 0.25rem;
    background-color: $black;
    position: relative;
    transform: scale(0.7);
    transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.hamburger:before,
.hamburger:after {
    content: "";
    width: 100%;
    height: 0.25rem;
    background-color: $black;
    position: absolute;
    transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.hamburger:before {
    top: -0.75rem;
}

.hamburger:after {
    top: 0.75rem;
}

.hamburger-container:hover {
    .hamburger:before {
        top: -1rem;
    }
    .hamburger:after {
        top: 1rem;
    }
}