// $medium-breakpoint: 768;
@media screen and (min-width: '#{$medium-breakpoint}px') {
.share-icon-container {
    width: 4rem;
    height: 4rem;
    margin: 0 0.05rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}
}
