.newsletter-interstitial {
    background-color: $grayLighter;
    .container-fluid {
        padding-top: 20%;
        padding-bottom: 20%;
    }
    .form {
        margin-top: 1em;
    }
    button.secondary {
        margin-top: $spacing06;
    }
}

.newsletter-interstitial-headline {
    @extend .h3-serif;
}

.newsletter-interstitial.black {
    color: $white;
    background-color: $blackLighter;
}
