.newsletter-interstitial {
    background-color: $grayLighter;
    .container-fluid {
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .button-secondary {
        margin-top: 4em;
    }
    .form {
        margin-top: 1em;
    }
    .input-text {
        color: $black;
    }
    .input-border {
        background-color: $black;
    }
    .form-field {
        margin: 0;
    }
    .input-border {
        order: 4;
        
        position: relative;
        margin-top: 0.25rem;
    }
}

.newsletter-interstitial-headline {
    @extend .h3;
}

.newsletter-interstitial.black {
    color: $white;
    background-color: $blackLighter;
    .container-fluid {
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .button-secondary {
        margin-top: 4em;
    }
    .form {
        margin-top: 1em;
    }
    .input-text {
        color: $white;
    }
    .input-border {
        background-color: $white;
    }
    .form-field {
        margin: 0;
    }
    .input-border {
        order: 4;
        
        position: relative;
        margin-top: 0.25rem;
    }
}