// $x-large-breakpoint: 1200;
@media screen and (min-width: '#{$x-large-breakpoint}px') {
    .newsletter-interstitial {
        .container-fluid {
            padding-top: 5%;
            padding-bottom: 5%;
        }
        button.secondary {
            margin-top: $spacing01;
        }
    }
}
