// $md: "min-width: 768px";
// $lg: "min-width: 992px";
// $xl: "min-width: 1200px";
// $xxl: "min-width: 1600px";
body {
    font-size: 16px;
    // $scale01: 0.5rem;
    // $scale02: 0.6154rem;
    // $scale03: 0.8077rem;
    // $scale04: 1rem;
    // $scale05: 1.3077rem;
    // $scale06: 1.6154rem;
    // $scale07: 2.1154rem;dsdsdsadsas
    // $scale08: 2.6154rem;
    // $scale09: 3.4231rem;
    // $scale10: 4.2308rem;
    // $scale11: 5.5385rem;sdsdasds
    // $scale12: 6.8462rem;
}


/* Miller */

@font-face {
    font-family: 'MillerDisplay';
    src: url(http://razorfish.tubedatabase.co/fonts/miller/MillerDisplayRoman.woff);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'MillerDisplay';
    src: url(http://razorfish.tubedatabase.co/fonts/miller/MillerDisplayItalic.woff);
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: 'MillerDisplay';
    src: url(http://razorfish.tubedatabase.co/fonts/miller/MillerDisplayBold.woff);
    font-style: normal;
    font-weight: 700;
}

.icims__h1 {
    font-family: 'MillerDisplay', Times, Georgia, serif;
    line-height: 1.2;
    letter-spacing: 0;
    margin-bottom: 1em;
    font-size: 0.8077rem;
    @media only screen and (min-width: 768px) {
        font-size: 1rem;
    }
    @media only screen and (min-width: 1600px) {
        font-size: 1.3077rem;
    }
    strong {
        font-weight: 700;
    }
}

.icims__h1:last-child {
    margin-bottom: 0;
}
// $md: "min-width: 768px";
// $lg: "min-width: 992px";
// $xl: "min-width: 1200px";
// $xxl: "min-width: 1600px";
body {
    font-size: 16px;
    // $scale01: 0.5rem;
    // $scale02: 0.6154rem;
    // $scale03: 0.8077rem;
    // $scale04: 1rem;
    // $scale05: 1.3077rem;
    // $scale06: 1.6154rem;
    // $scale07: 2.1154rem;dsdsdsadsas
    // $scale08: 2.6154rem;
    // $scale09: 3.4231rem;
    // $scale10: 4.2308rem;
    // $scale11: 5.5385rem;sdsdasds
    // $scale12: 6.8462rem;
}


/* Miller */

@font-face {
    font-family: 'MillerDisplay';
    src: url(http://razorfish.tubedatabase.co/fonts/miller/MillerDisplayRoman.woff);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'MillerDisplay';
    src: url(http://razorfish.tubedatabase.co/fonts/miller/MillerDisplayItalic.woff);
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: 'MillerDisplay';
    src: url(http://razorfish.tubedatabase.co/fonts/miller/MillerDisplayBold.woff);
    font-style: normal;
    font-weight: 700;
}

.icims__h1 {
    font-family: 'MillerDisplay', Times, Georgia, serif;
    line-height: 1.2;
    letter-spacing: 0;
    margin-bottom: 1em;
    font-size: 0.8077rem;
    @media only screen and (min-width: 768px) {
        font-size: 1rem;
    }
    @media only screen and (min-width: 1600px) {
        font-size: 1.3077rem;
    }
    strong {
        font-weight: 700;
    }
}

.icims__h1:last-child {
    margin-bottom: 0;
}
