// $large-breakpoint: 992;
@media screen and (min-width: '#{$large-breakpoint}px') {
    .leadership-title {
        padding: 10% 30%;
    }
    .leadership-headline {
        font-size: $fontSize8;
    }
    .leader-name {
        font-size: $fontSize5;
    }
}
