 // $medium-breakpoint: 768;
 @media screen and (min-width: '#{$medium-breakpoint}px') {
     .leadership-title {
         min-height: 25vw;
         padding: 10% 20%;
     }
     .leadership-headline {
         font-size: $fontSize7;
     }
     .leadership-subheadline {
         font-size: $fontSize5;
     }
     .leadership-tile {
         flex-basis: 25%;
     }
     .leadership-divider {
         margin: 2rem 0;
     }
 }
