 // $medium-breakpoint: 768;
 @media screen and (min-width: '#{$medium-breakpoint}px') {
     .leadership-headline {
         font-size: $fontSize7;
     }
     .leadership-subheadline {
         font-size: $fontSize5;
     }
     .leadership-tile {
         flex-basis: 25%;
     }
     .leadership-title {
         padding: 0 20%;
     }
     .leadership-title-small-divider {
         width: 3rem;
         height: 0.3rem;
         margin: 1.75rem 0 2.5rem 0;
     }
     .leadership-title {
         min-height: 25vw;
     }
 }
