 // $medium-breakpoint: 768;
 @media screen and (min-width: '#{$medium-breakpoint}px') {
     .leader-tile {
         width: 25vw;
     }
     .leader-divider-container {
         width: 0%;
         margin: 1em 0;
     }
     .leader-name {
         line-height: 1.2;
     }
     .leader-name,
     .leader-role,
     .leader-office {
         transform: translateY(20%);
         transition: all 0.1s 0.1s ease-in-out;
         opacity: 0;
     }
     .leader-role {
         font-size: $fontSize3;
     }
     .leader-tile:hover {
         .leader-name,
         .leader-role,
         .leader-office {
             transform: translateY(0%);
             opacity: 1;
         }
         .leader-divider-container {
             width: calc(1rem * 1.5);
         }
         .leader-tile-background {
             background-color: $grayDarker;
             background-blend-mode: multiply;
             transform: scale(1.1);
         }
     }
     .leader-role + .leader-office {
         margin-top: 0.5em;
     }
     .leader-tile:nth-of-type(1),
     .leader-tile:nth-of-type(3),
     .leader-tile:nth-of-type(6),
     .leader-tile:nth-of-type(8),
     .leader-tile:nth-of-type(9) {
         .leader-tile-background {
             background-color: $white;
             background-image: linear-gradient($white, $grayDarker);
             background-blend-mode: multiply;
         }
     }
     .leader-tile:nth-of-type(2),
     .leader-tile:nth-of-type(4),
     .leader-tile:nth-of-type(5),
     .leader-tile:nth-of-type(7),
     .leader-tile:nth-of-type(10) {
         .leader-tile-background {
             background-color: $whiteDarker;
             background-blend-mode: multiply;
         }
     }
     .leader-tile-text-container:before {
         display: none;
     }
     .leader-tile-text-container {
         justify-content: center;
     }
 }
