.leadership-grid {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    aling-content: stretch;
    background-color: $whiteDarker;
    width: 100vw;
}

.leader-tile {
    display: inline-block;
    margin: 0;
    position: relative;
    cursor: pointer;
    cursor: hand;
    overflow: hidden;
    width: 50vw;
}

.leader-tile-background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: background-color 0.1s 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: transform 4s 0s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.leader-tile-text-container {
    height: 50%;
    bottom: 0;
    position: absolute;
    padding: 5% 5% 10% 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    color: $white;
    opacity: 1;
    z-index: 10;
    transition: opacity 0.1s 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.leader-name {
    font-family: $display;
    font-size: $fontSize4;
    font-weight: bold;
    line-height: 1.5;
}

.leader-role {
    font-family: $sans;
    font-size: $fontSize2;
    line-height: 1.5;
    letter-spacing: -0.01em;
}

.leader-office {
    font-family: $sans;
    font-size: $fontSize2;
    line-height: 1.5;
    letter-spacing: -0.01em;
    color: $gray;
}

.leader-name,
.leader-role,
.leader-office {
    transform: translateY(20%);
    transition: all 0.1s 0.1s ease-in-out;
    opacity: 1;
}

.leader-role + .leader-office {
    margin-top: 0.25em;
}

.leader-divider-container {
    overflow: hidden;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: all 0.1s 0.2s ease-in-out;
    margin: 0.5rem 0;
}

.leader-tile:before {
    content: "";
    display: block;
    padding-top: 133%;
}

.leader-tile:nth-of-type(1),
.leader-tile:nth-of-type(4),
.leader-tile:nth-of-type(5),
.leader-tile:nth-of-type(8),
.leader-tile:nth-of-type(9) {
    .leader-tile-background {
        background-color: $white;
        background-image: linear-gradient($white, $grayDarker);
        background-blend-mode: multiply;
    }
}

.leader-tile:nth-of-type(2),
.leader-tile:nth-of-type(3),
.leader-tile:nth-of-type(6),
.leader-tile:nth-of-type(7),
.leader-tile:nth-of-type(10) {
    .leader-tile-background {
        background-color: $whiteDarker;
        background-blend-mode: multiply;
    }
}

.leader-tile-text-container:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background-image: linear-gradient(transparent, $blackDarker);
    opacity: 0.75;
}
