// $x-large-breakpoint: 1200;
@media screen and (min-width: '#{$x-large-breakpoint}px') {
    .leadership-headline {
        font-size: $fontSize9;
    }
    .leader-name {
        font-size: $fontSize6;
    }
    .leader-role {
        font-size: $fontSize4;
    }
    .leader-office {
        font-size: $fontSize3;
    }
}
