// $xx-large-breakpoint: 1600;
@media screen and (min-width: '#{$xx-large-breakpoint}px') {
    .leader-name {
        font-size: $scale08;
    }
    .leader-role {
        font-size: $scale05;
    }
    .leader-office {
        font-size: $scale04;
    }
}
