// $xx-large-breakpoint: 1600;
@media screen and (min-width: '#{$xx-large-breakpoint}px') {
    .leader-name {
        font-size: $fontSize8;
    }
    .leader-role {
        font-size: $fontSize5;
    }
    .leader-office {
        font-size: $fontSize4;
    }
}
