@media screen and (min-width: '#{$xx-large-breakpoint}px') {
    .leadership-headline {
        font-size: $fontSize10;
    }
    .leader-name {
        font-size: $fontSize7;
    }
    .leader-role {
        font-size: $fontSize5;
    }
    .leader-office {
        font-size: $fontSize4;
    }
}
