.iCIMS_socialCellLeft {
	text-align: left;
	vertical-align: top;
	padding-right: 10px;
}

.iCIMS_socialCellLeft .iCIMS_InfoField_Login.iCIMS_TableCell {
	vertical-align: top;
}

.iCIMS_SocialLoginContainer {
	padding-top: 7px;
}

.iCIMS_SocialLoginButtonContainer {
	margin-bottom: 10px;
}

.socialLoginButton {
	cursor: pointer;
}

.socialLoginButton img {
	vertical-align: middle;
	border: 0;
}

.googleDriveButton {
	cursor: pointer;
	float: left;
	clear: both;
	margin-top: 5px;
	margin-bottom: 5px;
}

.iCIMS_socialCellMiddle {
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-right: 10px;
}

.iCIMS_socialCellMiddle .iCIMS_Divider {
	height: 55px;
	width: 1px;
	background-color: #000000;
	margin: 1px auto;
}

.iCIMS_socialDisclaimer {
	padding: 10px 0px 5px 0px;
	text-align: center;
	font-style: italic;
}

.providerIcon {
	margin:-2px 0px 0px 3px;
}

.socialLoginButton span.IN-widget {
	vertical-align: middle;
}

#iCIMS_SocialInfo {
	background:#efefef;
	border: 1px solid #ccc;
	padding:5px;
	margin-bottom:10px;
}

/* Legacy style from 13.1, once everyone is off 13.1--this can be removed. */
.iCIMS_socialDivider hr {
	height: 30px;
	width: 1px;
	border: none;
	background-color: #707070;
}
