.article-meta {
    position: relative;
    @include component-padding;
    @include padding-bottom(0.75);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    float: left;
    z-index: 1;
    @include padding-top;
    @include padding-left;
    @media screen and ($lg) {
        width: calc(100% / 12 * 8);
    }
    @media screen and ($xl) {
        margin-left: 0;
        margin-right: 0;
        width: calc(100% / 12 * 3);
        margin-bottom: 0;
    }
    .divider {
        width: 1.2em;
        height: 3px;
        @media screen and ($lg) {
            height: 4px;
        }
        @media screen and ($xxl) {
            height: 5px;
        }
    }
    .two-column {
        width: 100%;
        @media screen and ($md) {
            column-count: 2;
            column-gap: 2rem;
        }
        @media screen and ($xl) {
            column-count: 1;
        }
    }
    .group {
        font-size: $scale04;
        @media screen and ($xxl) {
            font-size: $scale05;
        }
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid-column;
        padding-bottom: 1.5em;
        margin-bottom: 0;
        &:last-child {
            padding-bottom: 0;
        }
        &--link {
            margin-top: 0.75em;
        }
        &--data {
            font-size: $scale05;
            @media screen and ($xxl) {
                font-size: $scale06;
            }
            -webkit-column-break-inside: avoid;
            page-break-inside: avoid;
            break-inside: avoid-column;
            padding-bottom: 1.5em;
            margin-bottom: 0;
            &:last-child {
                padding-bottom: 0;
            }
        }
    }
    .label {
        font-family: $sans;
        font-size: $scale03;
        font-weight: 400;
        font-style: normal;
        line-height: 1.1;
        letter-spacing: 0.025em;
        text-transform: uppercase;
        margin-bottom: 0.5em;
        max-width: 20em;
        color: $gray-label;
        @media screen and ($lg) {
            font-size: $scale02;
        }
        @media screen and ($xxl) {
            font-size: $scale03;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    .meta-name {
        font-family: $sans;
        line-height: 1.2;
        font-weight: 700;
        margin-bottom: 0.1em;
        font-size: $scale04;
        @media screen and ($xxl) {
            font-size: $scale05;
        }
    }
    .p {
        font-family: $sans;
        line-height: 1.2;
        margin-bottom: 0.25em;
        font-size: $scale04;
        -webkit-font-smoothing: antialiased;
        @media screen and ($xxl) {
            font-size: $scale05;
        }
        &:last-child {
            margin-bottom: 0;
        }
        &--phone {
            margin-top: 1em;
        }
        &--data {
            font-family: $sans;
            line-height: 1.2;
            margin-bottom: 0.25em;
            font-size: $scale05;
            @media screen and ($xxl) {
                font-size: $scale06;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .social-links {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        list-style: none;
        margin-left: -0.8rem;
        color: $primary;
    }
    .icon {
        display: inline-block;
        width: 3rem;
        cursor: pointer;
        cursor: hand;
        position: relative;
        text-decoration: none;
        color: currentColor;
        outline: none;
        -webkit-font-smoothing: antialiased;
        font-size: $scale05;
        @media (hover) {
            &:hover {
                animation-name: bounce;
                animation-duration: 0.5s;
                animation-timing-function: ease-in-out;
                animation-delay: 0.05s;
                animation-iteration-count: 1;
                animation-direction: normal;
                animation-fill-mode: none;
                animation-play-state: running;
            }
        }
        &:before {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &:after {
            content: "";
            display: block;
            padding-bottom: 100%;
            position: relative;
        }
    }
    .meta-logo {
        margin-bottom: 2em;
        @media screen and ($lg) {
            margin-bottom: 3em;
        }
        &:last-child {
            margin-bottom: 0;
        }
        img {
            max-width: 10em;
            max-height: 5em;
            height: auto;
            object-fit: contain;
        }
    }
    .divider {
        margin-bottom: 1rem;
        @media screen and ($xxl) {
            margin-bottom: 1.5rem;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__example {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        @include grid-padding;
        .article-meta {
            float: none;
            @include component-padding;
        }
    }
}
