.article-meta {
    position: relative;
    background-color: $gray-article-meta;
    width: 100%;
    @include grid-padding;
    @include padding-top;
    @include padding-bottom;
    @media screen and ($md) {
        @include padding-top(0.5);
        @include padding-bottom(0.5);
    }
    @media screen and ($xl) {
        @include padding-top;
        @include padding-bottom;
        position: absolute;
        background-color: transparent;
    }
    .module-content {
        position: relative;
        z-index: 1;
        width: calc(100% / 4 * 3);
        @include component-padding;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        @media screen and ($md) {
            width: calc(100% / 6 * 4);
        }
        @media screen and ($lg) {
            width: calc(100% / 12 * 8);
            margin-left: auto;
            margin-right: auto;
        }
        @media screen and ($xl) {
            width: calc(100% / 12 * 3);
            margin-left: 0;
            flex-direction: column;
            flex-wrap: nowrap;
        }
    }
    .multi-column {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-left: -1rem;
        margin-right: -1rem;
        width: calc(100% + 2rem);
        @media screen and ($md) {
            flex-direction: row;
            flex-wrap: wrap;
        }
        @media screen and ($xl) {
            flex-direction: column;
            flex-wrap: nowrap;
        }
    }
    .group {
        width: 100%;
        @include component-padding;
        margin-bottom: 1.5em;
        font-size: $scale04;
        @media screen and ($md) {
            width: 50%;
        }
        @media screen and ($xl) {
            width: 100%;
        }
        @media screen and ($xxl) {
            font-size: $scale05;
        }
        .label {
            padding-left: 0;
            padding-right: 0;
        }
        &:last-child,
        &:last-of-type {
            margin-bottom: 0;
        }
        &--link {
            margin-top: 0.75em;
        }
        &--data {
            font-size: $scale05;
            @media screen and ($xxl) {
                font-size: $scale06;
            }
            -webkit-column-break-inside: avoid;
            page-break-inside: avoid;
            break-inside: avoid-column;
            padding-bottom: 1.5em;
            margin-bottom: 0;
            &:last-child {
                padding-bottom: 0;
            }
        }
    }
    .label {
        width: 100%;
        font-family: $sans;
        font-size: $scale03;
        font-weight: 400;
        font-style: normal;
        line-height: 1.1;
        letter-spacing: 0.025em;
        text-transform: uppercase;
        margin-bottom: 0.5em;
        color: $gray-label;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .meta-name {
        font-family: $sans;
        line-height: 1.2;
        font-weight: 700;
        margin-bottom: 0.1em;
        font-size: $scale04;
        @media screen and ($xxl) {
            font-size: $scale05;
        }
    }
    .p {
        font-family: $sans;
        line-height: 1.2;
        margin-bottom: 0.25em;
        font-size: $scale04;
        -webkit-font-smoothing: antialiased;
        @media screen and ($xxl) {
            font-size: $scale05;
        }
        &:last-child {
            margin-bottom: 0;
        }
        &.phone {
            margin-top: 1em;
        }
        &--data {
            font-family: $sans;
            line-height: 1.2;
            margin-bottom: 0.25em;
            font-size: $scale05;
            @media screen and ($xxl) {
                font-size: $scale06;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .cta {
        margin-top: 2em;
        width: 100%;
        font-family: $sans;
        line-height: 1.1;
        font-size: $scale04;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        @media screen and ($xl) {
            margin-top: calc(1.6em + 1.6em + 5px);
            &:before {
                content: "";
                display: block;
                position: absolute;
                background-color: $gray;
                width: 1.4em;
                margin-top: calc(-1.6em - 5px);
                top: 0;
                height: 5px;
                margin-right: auto;
                @media screen and ($xxl) {
                    height: 6px;
                    margin-top: calc(-1.6em - 6px);
                }
            }
        }
        @media screen and ($xxl) {
            font-size: $scale05;
            margin-top: calc(1.6em + 1.6em + 6px);
        }
        &:focus,
        &:active,
        &:target {
            background-color: transparent;
        }
    }
    .social-links {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        list-style: none;
        margin-left: -0.8rem;
        margin-bottom: -0.8rem;
        color: $primary;
    }
    .icon {
        display: inline-block;
        width: 3rem;
        cursor: pointer;
        cursor: hand;
        position: relative;
        text-decoration: none;
        color: currentColor;
        outline: none;
        -webkit-font-smoothing: antialiased;
        font-size: $scale05;
        &:hover,
        &:focus {
            animation-name: bounce;
            animation-duration: 0.5s;
            animation-timing-function: ease-in-out;
            animation-delay: 0.05s;
            animation-iteration-count: 1;
            animation-direction: normal;
            animation-fill-mode: none;
            animation-play-state: running;
        }
        &:before {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &:after {
            content: "";
            display: block;
            padding-bottom: 100%;
            position: relative;
        }
    }
    .meta-logo {
        width: 100%;
        margin-bottom: 2em;
        @media screen and ($lg) {
            margin-bottom: 3em;
        }
        &:last-child {
            margin-bottom: 0;
        }
        img {
            max-width: 10em;
            max-height: 5em;
            height: auto;
            object-fit: contain;
        }
    }
    .divider {
        margin-bottom: 1rem;
        @media screen and ($xxl) {
            margin-bottom: 1.5rem;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__example {
        position: relative;
        .body-copy-flexible {
            opacity: 0.2;
            filter: grayscale(100%);
        }
        .article-meta {
            @include margin-bottom;
        }
    }
}
