.body-wrapper {
    position: relative;
    transform-origin: top;
    transition: 0.5s all 0s $bezier;
    opacity: 1;
    background-color: $white;
    &.fade {
        transform: scale(0.9) translateY(5vw);
        opacity: 0;
        .site-navigation__container {
            opacity: 0;
            transform: scale(0.9) translateY(5vw);
            transition: 0.5s all 0s $bezier;
            transform-origin: top;
        }
    }
    // &:before {
    //     content: "";
    //     display: block;
    //     position: absolute;
    //     width: 100%;
    //     // margin-left: 0.5%;
    //     height: 100vh;
    //     top: 0;
    //     box-shadow: 0 50px 100px 0 darken($white, 10%);
    //     z-index: -2;
    // }
    &:after {
        content: "";
        display: block;
        position: absolute;
        width: 90%;
        height: 100px;
        bottom: 0;
        margin-left: 5%;
        box-shadow: 0 0 100px 0 darken($black, 20%);
        z-index: -2;
        opacity: 0;
        transition: all 0.5s 0s $bezier;
    }
    &.pre-shrink {
        transform-origin: center;
    }
    &.shrink {
        opacity: 1;
        transform: scale(0.9) translateY(5%);
        transform-origin: center;
        &:after {
            opacity: 1;
        }
    }
}
