.body-copy {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    @include grid-padding;
    @include padding-top;
    @include padding-bottom;
    &--dark {
        color: $white;
        background-color: $black;
    }
    &__container {
        display: flex;
        flex-direction: column;
        @include component-padding;
        @include margin-bottom;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        @media only screen and ($lg) {
            width: calc(100% / 12 * 6);
            margin-left: calc(100% / 12 * 3);
            margin-right: calc(100% / 12 * 3);
        }
        &:last-child {
            margin-bottom: 0;
        }
        &--large {
            @media only screen and ($lg) {
                width: calc(100% / 12 * 10);
                margin-left: calc(100% / 12 * 1);
                margin-right: calc(100% / 12 * 1);
            }
            @media only screen and ($xxl) {
                width: calc(100% / 12 * 8);
                margin-left: calc(100% / 12 * 2);
                margin-right: calc(100% / 12 * 2);
            }
        }
        &--centered {
            align-items: center;
            .body-copy__h2,
            .body-copy__subhead {
                text-align: center;
            }
        }
    }
    .contact-info + .body-copy__container {
        margin-left: 0;
    }
    &__flexible {
        width: 100%;
        .divider {
            margin-bottom: 1.25rem;
        }
        .body-copy__body + .body-copy__h3 {
            margin-top: 3em;
        }
        @include padding-top(0.25);
        @include padding-bottom(0.25);
        &:first-child {
            padding-top: 0;
        }
        &:last-child {
            padding-bottom: 0;
        }
    }
    &__two-column {
        width: 100%;
        columns: 1;
        margin-left: auto;
        margin-right: auto;
        @include padding-top(0.25);
        @include padding-bottom(0.25);
        @media screen and ($md) {
            columns: 2;
            column-gap: 2rem;
        }
        &:first-child {
            padding-top: 0;
        }
        &:last-child {
            padding-bottom: 0;
        }
        &__group {
            @include two-column--group;
            padding-bottom: 2em;
            .body-copy__inline-pull-quote__quote {
                font-size: $scale05;
                @media only screen and ($md) {
                    font-size: $scale05;
                }
                @media only screen and ($lg) {
                    font-size: $scale04;
                }
                @media only screen and ($xl) {
                    font-size: $scale05;
                }
                @media only screen and ($xxl) {
                    font-size: $scale06;
                }
            }
        }
        &--award {
            @media screen and ($md) {
                columns: 2;
                column-gap: 2rem;
            }
            .body-copy__body--title {
                font-weight: 700;
            }
        }
    }
    &__image {
        overflow: hidden;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        .body-copy__container {
            margin-bottom: 0;
        }
    }
    &__headline-container.center {
        text-align: center;
        .divider {
            margin-left: auto;
            margin-right: auto;
        }
    }
    &__eyebrow {
        text-transform: uppercase;
        font-family: $sans;
        line-height: $title-sans;
        letter-spacing: $spacing-sans-large;
        margin-bottom: 0.75em;
        font-size: $scale03;
        @media only screen and ($md) {
            font-size: $scale04;
        }
        @media only screen and ($xxl) {
            font-size: $scale05;
        }
    }
    &__h2 {
        @include ligatures;
        font-family: $serif;
        line-height: 1.1;
        letter-spacing: $spacing-serif;
        font-weight: 700;
        max-width: 12em;
        font-size: $scale07;
        @media only screen and ($md) {
            font-size: $scale08;
        }
        @media only screen and ($xxl) {
            font-size: $scale09;
        }
        margin-bottom: 1em;
        &.divider {
            margin-bottom: 0.4em;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &__h3 {
        font-family: $sans;
        line-height: $title-sans;
        letter-spacing: $spacing-sans;
        font-weight: 700;
        margin-bottom: 0.5em;
        max-width: 18em;
        font-size: $scale05;
        @media only screen and ($md) {
            font-size: $scale06;
        }
        @media only screen and ($xxl) {
            font-size: $scale07;
        }
        margin-bottom: 1em;
        &:last-child {
            margin-bottom: 0;
        }
        &.divider {
            margin-bottom: 0.5em;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &__h4 {
        @include ligatures;
        font-family: $serif;
        line-height: 1.1;
        letter-spacing: $spacing-serif;
        font-weight: 700;
        max-width: 12em;
        font-size: $scale06;
        @media only screen and ($md) {
            font-size: $scale07;
        }
        @media only screen and ($xxl) {
            font-size: $scale08;
        }
        margin-bottom: 1em;
        &.divider {
            margin-bottom: 0.4em;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &__subhead {
        @include ligatures;
        font-family: $serif;
        font-style: italic;
        line-height: $title-sans;
        letter-spacing: $spacing-serif-large;
        margin-bottom: 2em;
        font-size: $scale06;
        max-width: 15em;
        @media only screen and ($md) {
            font-size: $scale07;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__label {
        font-family: $sans;
        font-size: $scale03;
        font-weight: 400;
        font-style: normal;
        line-height: 1.1;
        letter-spacing: 0.025em;
        text-transform: uppercase;
        margin-bottom: 0.5em;
        max-width: 20em;
        color: rgba($black, 0.75);
        @media screen and ($md) {
            color: rgba($black, 0.6);
        }
        @media screen and ($lg) {
            font-size: $scale02;
        }
        @media screen and ($xxl) {
            font-size: $scale03;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__body {
        font-family: $sans;
        line-height: $prose-sans;
        letter-spacing: $spacing-sans;
        margin-bottom: 1em;
        font-size: $scale04;
        @media only screen and ($md) {
            font-size: $scale04;
        }
        @media only screen and ($xxl) {
            font-size: $scale05;
        }
        strong {
            font-weight: 700;
        }
        &:last-child {
            margin-bottom: 0;
        }
        &--title {
            font-family: $sans;
            line-height: 1.2;
            letter-spacing: $spacing-sans;
            margin-bottom: 1em;
            font-size: $scale03;
            @media only screen and ($md) {
                font-size: $scale04;
            }
            @media only screen and ($xxl) {
                font-size: $scale05;
            }
            strong {
                font-weight: 700;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        &--lead {
            font-family: $sans;
            line-height: $prose-sans;
            letter-spacing: $spacing-sans;
            margin-bottom: 1em;
            font-size: $scale05;
            @media only screen and ($md) {
                font-size: $scale05;
            }
            @media only screen and ($xxl) {
                font-size: $scale06;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        &--small {
            font-family: $sans;
            line-height: $prose-sans;
            letter-spacing: $spacing-sans;
            margin-bottom: 1em;
            font-size: $scale03;
            @media only screen and ($md) {
                font-size: $scale04;
            }
            @media only screen and ($lg) {
                font-size: $scale03;
            }
            @media only screen and ($xxl) {
                font-size: $scale04;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        .link {
            text-decoration: underline;
            @media (hover) {
                &:hover {
                    opacity: 0.6;
                }
            }
        }
    }
    &__background {
        width: 100vw;
        min-height: 80vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    &__inline-pull-quote {
        border-left: solid 0.2rem $primary;
        width: 100%;
        padding-left: 1em;
        margin-top: 3em;
        margin-bottom: 4em;
        @media only screen and ($md) {
            border-left: solid calc(0.2rem * 1.5) $primary;
            padding-left: 2em;
        }
        &__quote {
            @include ligatures;
            font-family: $serif;
            line-height: 1.5;
            font-style: italic;
            color: $blackLighter;
            letter-spacing: $spacing-serif-large;
            margin-bottom: 0.5em;
            font-size: $scale05;
            @media only screen and ($md) {
                font-size: $scale06;
            }
            @media only screen and ($lg) {
                font-size: $scale05;
            }
            @media only screen and ($xl) {
                font-size: $scale06;
            }
            @media only screen and ($xxl) {
                font-size: $scale07;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        &__author {
            font-family: $sans;
            line-height: $title-sans;
            letter-spacing: $spacing-sans;
            font-size: $scale03;
            @media only screen and ($md) {
                font-size: $scale04;
            }
            @media only screen and ($lg) {
                font-size: $scale03;
            }
            @media only screen and ($xxl) {
                font-size: $scale04;
            }
            strong {
                font-weight: 700;
            }
        }
        &--simple {
            border-left: 0;
            padding-left: 0;
            margin-top: 0;
            margin-bottom: 0.5em;
            .body-copy__inline-pull-quote__quote {
                position: relative;
                &:before {
                    content: "“";
                    position: absolute;
                    margin-left: -0.5em;
                    margin-right: 0.1em;
                }
                &:after {
                    content: "”";
                    position: relative;
                    margin-left: 0.1em;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    &__foot-note {
        margin-top: 4em;
        &__group {
            margin-bottom: 1em;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &__eyebrow {
            text-transform: uppercase;
            font-family: $sans;
            line-height: $title-sans;
            letter-spacing: $spacing-sans-large;
            margin-bottom: 0.75em;
            font-size: $scale03;
            @media only screen and ($md) {
                font-size: $scale04;
            }
            @media only screen and ($xxl) {
                font-size: $scale05;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        &__link {
            font-family: $sans;
            line-height: $title-sans;
            letter-spacing: $spacing-sans;
            font-weight: 700;
            font-size: $scale05;
            color: $primary;
            @media (hover) {
                .link:hover {
                    text-decoration: underline;
                }
            }
            @media only screen and ($md) {
                font-size: $scale06;
            }
            @media only screen and ($lg) {
                font-size: $scale05;
            }
            @media only screen and ($xxl) {
                font-size: $scale06;
            }
            &--description {
                font-family: $sans;
                line-height: $prose-sans;
                letter-spacing: $spacing-sans;
                font-size: $scale03;
                @media only screen and ($md) {
                    font-size: $scale04;
                }
                @media only screen and ($lg) {
                    font-size: $scale03;
                }
                @media only screen and ($xxl) {
                    font-size: $scale04;
                }
            }
        }
    }
    &--zero-padding-top {
        padding-top: 0;
    }
    &__hr {
        width: 100%;
        background-color: rgba($black, 0.15);
        height: 3px;
        border: none;
        margin-top: 4em;
        margin-bottom: 4em;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &--white {
        color: $white;
    }
}

.background-gradient:before {
    content: "";
    background-image: linear-gradient(90deg, $tertiary, $tertiaryDarker);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    opacity: 0.9;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
