.careers-promo {
    width: 100vw;
    min-height: 50vw;
    cursor: pointer;
    cursor: hand;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: $white;
    @include grid-padding;
    @include padding-top;
    @include padding-bottom;
    @media screen and ($lg) {
        min-height: 30vw;
    }
    &__text-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    &__heading {
        @include ligatures;
        font-family: $serif;
        font-size: $scale06;
        line-height: $title-serif;
        letter-spacing: $spacing-serif;
        font-weight: 700;
        max-width: 12em;
        margin-bottom: 0.3em;
        &:last-child {
            margin-bottom: 0;
        }
        @media only screen and ($md) {
            font-size: $scale08;
        }
        @media only screen and ($md) {
            font-size: $scale09;
        }
        @media only screen and ($xxl) {
            font-size: $scale10;
            line-height: $title-serif - 0.1;
        }
        &.divider {
            margin-bottom: 0.3em;
        }
    }
    &__description {
        font-family: $sans;
        line-height: $title-sans;
        letter-spacing: $spacing-sans;
        margin-bottom: 2em;
        max-width: 24em;
        font-size: $scale04;
        @media only screen and ($xxl) {
            font-size: $scale05;
        }
        &:last-child {
            margin-bottom: 0;
        }
        @media only screen and ($xxl) {
            font-size: $scale05;
        }
    }
}
