.case-study {
    &__he-for-she {
        $primary-heforshe: #ff1d66;
        $black-heforshe: #222424;
        $gray-heforshe: #3d3d3d;
        .divider {
            background-color: $primary-heforshe !important;
        }
        .contact-info__label {
            color: $primary-heforshe;
        }
        .link--primary {
            color: $primary-heforshe;
        }
        .social-share--folded__icon {
            &:hover {
                background-color: $primary-heforshe;
            }
        }
        .body-copy__container--dark {
                background-color: $gray-heforshe;
        }
        .pull-quote {
                background-color: $black-heforshe;
        }
    }
}
