//*____________________________________*\
//    $COLOR PALETTE
//*____________________________________*/



$white: #FFFFFF;
$whiteDarker: darken( $white, 10%);



$gray: #ebe7e6;

$black: #373737;
$blackLighter: lighten( $black, 10%);
$blackDarker: darken( $black, 10%);

// Razorfish Green
$primary: #a9c000;

// Red
$secondary: #ff595b;

$brown: #362f2d;

// Dark Green
$tertiary:#4c585a;
$tertiaryLighter: lighten( $tertiary, 10%);
$tertiaryDarker: darken( $tertiary, 10%);
