$white: #FFFFFF;
$whiteDarker: darken( $white, 10%);
$gray: #ebe7e6;
$off-white: darken( $white, 10%);
// Blacks
$black: #373737;
$blackLighter: lighten( $black, 10%);
$blackDarker: darken( $black, 10%);
$black-divider: #4A4242;
// Razorfish Green
$primary: #a9c000;
// Color Themes
$color-theme-a: #fc5b5F;
$color-theme-b: #C4BD9D;
$color-theme-c: #89a596;
$color-theme-d: #4a4242;
$color-theme-e: #81969b;
$color-theme-f: #edcd68;
$brown: #362f2d;
// Dark Green
$tertiary:#4c585a;
$tertiaryLighter: lighten( $tertiary, 10%);
$tertiaryDarker: darken( $tertiary, 10%);
// Error message red
$red: #ff5756;
.overlay--green:before {
    content: "";
    background-image: linear-gradient(90deg, $tertiary, $tertiaryDarker);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    opacity: 0.9;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
