.contact-form {
    &__close-button {
        margin-left: auto;
        margin-right: auto;
        width: 34px;
        height: 4px;
        display: block;
        position: relative;
        top: 50%;
        transform: translateY(50%);
        transition: all 0.1s 0s ease-in;
        &--container {
            width: 3rem;
            height: 3rem;
            display: inline-block;
            cursor: pointer;
            cursor: hand;
            transition-property: opacity, filter;
            transition-duration: 0.15s;
            transition-timing-function: linear;
            font: inherit;
            color: inherit;
            text-transform: none;
            background-color: transparent;
            border: 0;
            margin: 0;
            z-index: 10;
            overflow: visible;
            position: fixed;
            right: 0;
            top: 0;
            @include top-padding;
            @include grid-padding;
            &:focus {
                outline: none;
            }
        }
        &--inner,
        &--inner::before,
        &--inner::after {
            width: 100%;
            height: 4px;
            background-color: currentColor;
            position: absolute;
            content: "";
            display: block;
        }
        &--inner {
            display: block;
            top: 50%;
            margin-top: -2px;
            transition: transform 0.3s 0.0s $bezier;
            transform: rotate(225deg);
            &:before {
                transform: translateY(0px);
                opacity: 1;
                transition: opacity 0.3s 0.24s $bezier, transform 0.3s 0.24s $bezier;
            }
            &:after {
                transform: translateY(0px) rotate(-90deg);
                transition: transform 0.3s 0.14s $bezier;
            }
        }
    }
    &__overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        visibility: hidden;
        color: $white;
        transform: translateY(100%);
        transition: transform 0.5s, visibility 0s 0.5s;
        &--checkbox {
            visibility: hidden;
            position: absolute;
            top: 0;
            left: 0;
            &:checked ~ .contact-form__overlay {
                visibility: visible;
                transition: transform 0.5s;
                transform: translateY(0%);
            }
            &:checked ~ .site-masthead {
                transition: transform 0.5s;
                transform: translateY(-100%);
            }
        }
    }
    &__scroll {
        position: relative;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
    }
    &__container {
        position: relative;
        width: 100%;
        min-height: 100%;
        height: auto;
        @include grid-padding;
        @include top-padding;
        @include bottom-padding;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
    }
    &__radio {
        &--input {
            display: none;
        }
        text-transform: uppercase;
        color: currentColor;
        font-family: $sans;
        font-size: $scale04;
        letter-spacing: $spacing-sans;
        line-height: 1;
        position: relative;
        width: 100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        li {
            margin-bottom: 2em;
            &:last-child {
                margin-bottom: 0;
            }
        }
        label {
            cursor: pointer;
            cursor: hand;
        }
        @media screen and ($xl) {
            width: calc(100% / 12 * 4);
        }
        @media screen and ($xxl) {
            font-size: $scale05;
        }
    }
    &__select {
        text-transform: uppercase;
        -webkit-appearance: textfield;
        background-color: transparent;
        background-position: right, center;
        background-repeat: no-repeat;
        background-size: 0.8em 0.8em;
        border: none;
        box-sizing: border-box;
        color: currentColor;
        font-family: $sans;
        font-size: $scale04;
        letter-spacing: $spacing-sans;
        line-height: 1;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0.25em;
        padding-bottom: 0.75em;
        padding-left: 0;
        padding-right: 1em;
        padding-top: 0.75em;
        position: relative;
        width: 100%;
        z-index: 1;
        opacity: 0.2;
        text-aling: center;
        display: none;
        @media screen and ($xl) {
            width: calc(100% / 12 * 4);
        }
        @media screen and ($xxl) {
            font-size: $scale05;
            width: calc(100% / 12 * 2);
        }
        &:focus {
            outline: none;
            opacity: 0.5;
        }
        @extend .icon-arrow-white;
        &:focus ~ .form__border,
        &.selected,
        &.selected ~ .form__border {
            opacity: 1;
        }
    }
    &__headline {
        font-family: $serif;
        font-size: $scale06;
        line-height: $title-serif;
        letter-spacing: $spacing-serif-tight;
        font-weight: 700;
        margin-bottom: 0.8em;
        max-width: 10em;
        @media only screen and ($md) {
            font-size: $scale07;
        }
        @media only screen and ($lg) {
            font-size: $scale08;
        }
        @media only screen and ($xxl) {
            font-size: $scale09;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__background-image {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    &__form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        left: 50%;
        @media screen and ($md) {
            width: calc(100% / 6 * 4);
        }
        @media screen and ($lg) {
            width: calc(100% / 12 * 6);
        }
        @media screen and ($xxl) {
            width: calc(100% / 12 * 4);
        }
        &--group {
            width: 100%;
            position: relative;
        }
        &--container {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
        }
    }
    &__text-container {
        @include component-padding;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        .divider {
            margin-bottom: 0.8em;
            width: 1.2
        }
    }
    &__field {
        position: relative;
        @include component-margin;
        @media screen and ($lg) {
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5),
            &:nth-child(6) {
                width: calc((100% / 12 * 4) - 2rem);
            }
            &:nth-child(7),
            &:nth-child(8),
            &:nth-child(9),
            &:nth-child(10) {
                width: calc((100% / 12 * 6) - 2rem);
            }
        }
    }
    &__button-group {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        @include top-padding(0.5);
    }
    &__input {
        &[type="text"] {
            border: none;
            color: currentColor;
            font-family: $sans;
            font-size: $scale05;
            font-weight: 200;
            letter-spacing: $spacing-sans;
            line-height: 1;
            margin-bottom: 0.4em;
            margin-top: 0.2em;
            padding-left: 0;
            padding-right: 0;
            position: relative;
            width: 100%;
            order: 2;
            width: 100%;
            background-size: contain;
            background-clip: content-box;
            background-origin: content-box;
            background-size: 0.8em 0.8em;
            background-position: right;
            background-repeat: no-repeat;
            background-origin: border-box;
            background-color: transparent;
            &::placeholder {
                color: currentColor;
                opacity: 0.5;
                transition: all 0.1s 0.1s $bezier;
            }
            &:valid {
                @include icon-tick-primary;
            }
            &:invalid {
                @include icon-info-red;
            }
            &:focus {
                outline: none;
            }
            &[value=""] ~ .input-label {
                opacity: 0;
                transform: translateY(50%);
                transition: all 0.1s 0s $bezier;
            }
            &[value=""] {
                background-image: none;
            }
        }
    }
    &__tabs {}
    .form__field {
        z-index: 1;
        transform: translateY(100%);
        opacity: 0;
        transition-duration: 0.1s;
        transition-property: all;
        transition-timing-function: ease;
    }
}


@for $i from 1 through 15 {
    .form__field:nth-of-type(#{$i}) {
        transition-delay: calc(0.01s * #{$i});
    }
}

.form {
    &:focus ~ .input-border,
    &:invalid ~ .input-border,
    &:valid ~ .input-border,
    &[value=""]:focus ~ .input-border {
        opacity: 1;
    }
    &::placeholder,
    &[value=""] ~ .input-label {
        opacity: 0;
    }
    &[value=""] ~ .input-border {
        opacity: 0.3;
    }
    &[value=""] ~ .input-icon,
    &[value=""],
    &[value=""]::placeholder {
        opacity: 0.5;
    }
}

@for $i from 1 through 15 {
    #contact-form__radio-1:checked ~ .contact-form__form--group .contact-form__form--container:nth-child(1) {
        .form__field:nth-of-type(#{$i}) {
            transform: translateY(0%);
            opacity: 1;
            transition-delay: calc((0.05s * #{$i}) + 0.5s);
        }
    }
}

@for $i from 1 through 15 {
    #contact-form__radio-2:checked ~ .contact-form__form--group .contact-form__form--container:nth-child(2) {
        .form__field:nth-of-type(#{$i}) {
            transform: translateY(0%);
            opacity: 1;
            transition-delay: calc((0.05s * #{$i}) + 0.5s);
        }
    }
}

@for $i from 1 through 15 {
    #contact-form__radio-3:checked ~ .contact-form__form--group .contact-form__form--container:nth-child(3) {
        .form__field:nth-of-type(#{$i}) {
            transform: translateY(0%);
            opacity: 1;
            transition-delay: calc((0.05s * #{$i}) + 0.5s);
        }
    }
}

@for $i from 1 through 15 {
    #contact-form__radio-4:checked ~ .contact-form__form--group .contact-form__form--container:nth-child(4) {
        .form__field:nth-of-type(#{$i}) {
            transform: translateY(0%);
            opacity: 1;
            transition-delay: calc((0.05s * #{$i}) + 0.5s);
        }
    }
}
