.contact-info {
    position: relative;
    @include component-padding;
    @include padding-bottom;
    width: 100%;
    @media screen and ($lg) {
        width: calc(100% / 12 * 3);
        margin-bottom: 0;
    }
    .divider {
        width: 1.2em;
        height: 3px;
        @media screen and ($lg) {
            height: 4px;
        }
        @media screen and ($xxl) {
            height: 5px;
        }
    }
    &__multi-column {
        width: 100%;
        @media screen and ($md) {
            column-count: 2;
            column-gap: 2rem;
        }
        @media screen and ($lg) {
            column-count: 1;
        }
    }
    &__group {
        font-size: $scale04;
        @media screen and ($xxl) {
            font-size: $scale05;
        }
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid-column;
        padding-bottom: 1.5em;
        margin-bottom: 0;
        &:last-child {
            padding-bottom: 0;
        }
        &--link {
            margin-top: 0.75em;
        }
    }
    &__group--data {
        font-size: $scale05;
        @media screen and ($xxl) {
            font-size: $scale06;
        }
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid-column;
        padding-bottom: 1.5em;
        margin-bottom: 0;
        &:last-child {
            padding-bottom: 0;
        }
    }
    &__label {
        font-family: $sans;
        font-size: $scale03;
        font-weight: 400;
        font-style: normal;
        line-height: 1.1;
        letter-spacing: 0.025em;
        text-transform: uppercase;
        margin-bottom: 0.5em;
        max-width: 20em;
        color: rgba($black, 0.75);
        @media screen and ($md) {
            color: rgba($black, 0.6);
        }
        @media screen and ($lg) {
            font-size: $scale02;
        }
        @media screen and ($xxl) {
            font-size: $scale03;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__author-name {
        font-family: $sans;
        line-height: 1.2;
        font-weight: 700;
        margin-bottom: 0.1em;
        font-size: $scale04;
        @media screen and ($xxl) {
            font-size: $scale05;
        }
    }
    &__body {
        font-family: $sans;
        line-height: 1.2;
        margin-bottom: 0.25em;
        font-size: $scale04;
        @media screen and ($xxl) {
            font-size: $scale05;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__body--phone {
        margin-top: 1em;
    }
    &__body--data {
        font-family: $sans;
        line-height: 1.2;
        margin-bottom: 0.25em;
        font-size: $scale05;
        @media screen and ($xxl) {
            font-size: $scale06;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__social-icons {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-left: -0.8rem;
        @media screen and ($md) {
            width: calc(100% / 12 * 8);
        }
        margin-bottom: 1rem;
        @media screen and ($xxl) {
            margin-bottom: 1.5rem;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__stat {
        @include stat-body;
        &--group {
            break-inside: avoid;
            font-size: $scale04;
            @media screen and ($md) {
                font-size: $scale04;
            }
            @media screen and ($xl) {
                font-size: $scale05;
            }
            @media screen and ($xxl) {
                font-size: $scale06;
            }
            margin-bottom: 1em;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &__logo {
        max-width: calc(100% / 12 * 6);
        margin-bottom: 2em;
        @media screen and ($lg) {
            max-width: calc((100% / 3 * 2) - 1rem);
            margin-bottom: 3em;
        }
        &:last-child {
            margin-bottom: 0;
        }
        img {
            width: 100%;
            height: auto;
        }
    }
    &__icon {
        display: block;
        width: 3rem;
        background-size: 50%, contain;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        cursor: pointer;
        cursor: hand;
        &:before {
            content: "";
            display: block;
            padding-bottom: 100%;
            position: relative;
        }
        @media (hover) {
            &:hover {
                animation-name: bounce;
                animation-duration: 0.5s;
                animation-timing-function: ease-in-out;
                animation-delay: 0.05s;
                animation-iteration-count: 1;
                animation-direction: normal;
                animation-fill-mode: none;
                animation-play-state: running;
            }
        }
    }
    .social-share__group {
        @media screen and ($md) {
            max-width: 8rem;
        }
        @media screen and ($xl) {
            max-width: 9rem;
        }
        @media screen and ($xxl) {
            max-width: none;
        }
    }
    .social-share__icon-container {
        background-color: $white;
        flex-grow: 0.25;
        @media screen and ($md) {
            width: 3rem;
            flex-grow: 0.5;
        }
        @media screen and ($xxl) {
            width: 3.5rem;
            flex-grow: 0;
        }
        @media screen and ($xxl) {
            width: 4rem;
        }
    }
    .divider {
        margin-bottom: 1rem;
        @media screen and ($xxl) {
            margin-bottom: 1.5rem;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    .link {
        font-weight: 500;
    }
}

.contact-info.with-padding + .body-copy__flexible {
    @media screen and ($lg) {
        margin-right: calc(100% / 12 * 3);
    }
}
