// Animation mixins
@mixin fields-visible {
    animation-name: fields_visible;
    animation-duration: 0.6s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes fields_visible {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    40% {
        transform: translateY(100px);
        opacity: 0;
    }
    80% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@mixin fields-hide {
    animation-name: fields_hide;
    animation-duration: 0.2s;
    animation-delay: 0s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes fields_hide {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    99% {
        opacity: 0;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(100px);
    }
}

.contact-form {
    &__link {
        font-family: $sans;
        @media (hover) {
            &:hover {
                color: $primary;
            }
        }
        line-height: 1;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: $spacing-sans-mega;
        font-size: $scale03;
        @media screen and ($xxl) {
            font-size: $scale04;
        }
        &.link--underline:before {
            height: 2px;
        }
        &:before {
            bottom: -0.5em;
        }
        &--group {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            margin-top: 1.5em;
            @media screen and ($md) {
                flex-direction: row;
            }
            li {
                margin-right: 2em;
                margin-bottom: 2em;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    &__overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        color: $white;
        display: none;
        z-index: 5;
        &.display {
            display: block;
        }
        .contact-form__form-group {
            transform: translateY(-100%);
            transition: all 0s 0.20s linear;
            .contact-form__back-container,
            .contact-form__headline,
            .divider,
            .contact-form__form > *,
            .contact-form__button-group {
                opacity: 0;
                transition: opacity 1s ease-in 0s;
            }
            .contact-form__back-container,
            .contact-form__headline,
            .divider,
            .contact-form__form > *,
            .contact-form__button-group {
                @include fields-hide;
            }
        }
        &.form {
            .contact-form__form-group {
                z-index: 1;
                transform: translateY(0);
                transition: all 0s 0s linear;
                .contact-form__back-container {
                    @include fields-visible;
                    animation-delay: 0.2s;
                }
                .contact-form__headline {
                    @include fields-visible;
                    animation-delay: 0.225s;
                }
                .divider {
                    @include fields-visible;
                    animation-delay: 0.25s;
                }
                .contact-form__form > * {
                    @include fields-visible;
                    @for $i from 1 through 15 {
                        &:nth-of-type(#{$i}) {
                            animation-delay: (0.025s * $i) + 0.25s;
                        }
                    }
                }
                .contact-form__button-group {
                    @include fields-visible;
                    animation-delay: 0.60s;
                }
            }
            .image {
                transition: all 1s 0s $bezier;
                opacity: 1;
                transform: scale(1.3) translate3d(0, 5%, 0);
            }
        }
        .contact-form__confirmation-group {
            transform: translateY(100%);
            transition: all 0s 0.2s linear;
            .contact-form__headline,
            .divider,
            .contact-form__subhead {
                transform: translateY(100px);
                opacity: 0;
                transition: transform 0s 0.21s linear, opacity 0.2s 0s ease;
            }
            .contact-form__headline,
            .divider,
            .contact-form__subhead {
                @include fields-hide;
                animation-delay: 0s;
            }
        }
        &.confirmation {
            .contact-form__confirmation-group {
                z-index: 1;
                transform: translateY(0);
                transition: all 0s 0s linear;
                .contact-form__headline {
                    @include fields-visible;
                    animation-delay: 0.6s;
                }
                .divider {
                    @include fields-visible;
                    animation-delay: 0.625s;
                }
                .contact-form__subhead {
                    @include fields-visible;
                    animation-delay: 0.65s;
                }
            }
            .image {
                transition: all 1s 0s $bezier;
                opacity: 1;
                .image-blurred {
                    opacity: 0;
                    transition: all 1s 0s $bezier;
                }
            }
        }
        .image {
            transition: all 1s 0.2s $bezier;
            opacity: 0;
            transform: scale(1) translate3d(0, 0, 0);
            .image-blurred {
                opacity: 1;
                transition: all 0s 1s linear;
                
            }
        }
    }
    &__scroll {
        position: relative;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
    &__form-group {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        overflow: hidden;
        width: 100%;
        min-height: 100%;
        @include grid-padding;
        @include padding-top;
        @include padding-bottom;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        .divider {
            margin-bottom: 0.8em;
            font-size: $scale06;
            @media only screen and ($md) {
                font-size: $scale07;
            }
            @media only screen and ($lg) {
                font-size: $scale08;
            }
            @media only screen and ($xxl) {
                font-size: $scale09;
            }
        }
    }
    &__confirmation-group {
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        width: 100%;
        min-height: 100%;
        @include grid-padding;
        @include padding-top;
        @include padding-bottom;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        display: flex;
        .divider {
            margin-bottom: 0.8em;
            font-size: $scale06;
            @media only screen and ($md) {
                font-size: $scale07;
            }
            @media only screen and ($lg) {
                font-size: $scale08;
            }
            @media only screen and ($xxl) {
                font-size: $scale09;
            }
        }
    }
    &__back {
        font-family: $sans;
        font-size: $scale04;
        line-height: 1;
        font-weight: 400;
        text-transform: uppercase;
        cursor: hand;
        cursor: pointer;
        @media screen and ($xxl) {
            font-size: $scale05;
        }
        &:before {
            bottom: -0.5em;
        }
        &--group {
            display: flex;
            flex-direction: row;
            li {
                margin-right: 2em;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    &__back-container {
        @include padding-bottom(0.5);
    }
    &__headline-container {
        @include component-padding;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    &__headline {
        @include ligatures;
        font-family: $serif;
        line-height: $title-serif;
        font-weight: 700;
        margin-bottom: 0.8em;
        max-width: 10em;
        font-size: $scale06;
        @media only screen and ($md) {
            font-size: $scale07;
        }
        @media only screen and ($lg) {
            font-size: $scale08;
        }
        @media only screen and ($xxl) {
            font-size: $scale09;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__subhead {
        font-family: $sans;
        line-height: $title-sans;
        letter-spacing: $spacing-sans;
        margin-bottom: 1em;
        max-width: 26em;
        font-size: $scale04;
        @media only screen and ($md) {
            font-size: $scale05;
        }
        @media only screen and ($xxl) {
            font-size: $scale06;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    .image {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: all 0.5s 0.01s ease-in-out;
    }
    &__form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        left: 50%;
        @media screen and ($md) {
            width: calc(100% / 6 * 4);
        }
        @media screen and ($lg) {
            width: calc(100% / 12 * 6);
        }
        @media screen and ($xxl) {
            width: calc(100% / 12 * 4);
        }
    }
    &__field {
        position: relative;
        @include component-margin;
        @media screen and ($lg) {
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5),
            &:nth-child(6) {
                width: calc((100% / 12 * 4) - 2rem);
            }
            &:nth-child(7),
            &:nth-child(8),
            &:nth-child(9),
            &:nth-child(10) {
                width: calc((100% / 12 * 6) - 2rem);
            }
        }
    }
    &__button-group {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        @include padding-top(0.25);
    }
    &__input {
        &[type="text"] {
            border: none;
            color: currentColor;
            font-family: $sans;
            font-size: $scale05;
            font-weight: 200;
            letter-spacing: $spacing-sans;
            line-height: 1;
            margin-bottom: 0.4em;
            margin-top: 0.2em;
            padding-left: 0;
            padding-right: 0;
            position: relative;
            width: 100%;
            order: 2;
            width: 100%;
            background-size: contain;
            background-clip: content-box;
            background-origin: content-box;
            background-size: 0.8em 0.8em;
            background-position: right;
            background-repeat: no-repeat;
            background-origin: border-box;
            background-color: transparent;
            &::placeholder {
                color: currentColor;
                opacity: 0.5;
                transition: all 0.1s 0.1s $bezier;
            }
            &:valid {
                @include icon-tick-primary;
            }
            &:invalid {
                @include icon-info-red;
            }
            &:focus {
                outline: none;
            }
            &[value=""] ~ .input-label {
                opacity: 0;
                transform: translateY(50%);
                transition: all 0.1s 0s $bezier;
            }
            &[value=""] {
                background-image: none;
            }
        }
    }
}

.form {
    &:focus ~ .input-border,
    &:invalid ~ .input-border,
    &:valid ~ .input-border,
    &[value=""]:focus ~ .input-border {
        opacity: 1;
    }
    &::placeholder,
    &[value=""] ~ .input-label {
        opacity: 0;
    }
    &[value=""] ~ .input-border {
        opacity: 0.3;
    }
    &[value=""] ~ .input-icon,
    &[value=""],
    &[value=""]::placeholder {
        opacity: 0.5;
    }
}

