.contact-info {
    position: relative;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 15%;
    padding-bottom: 15%;
    width: 100%;
    @media screen and ($md) {
        padding-top: 10%;
        padding-bottom: 10%;
        padding-left: 20%;
        padding-right: 20%;
    }
    @media screen and ($xl) {
        width: 20%;
        padding-left: 0;
        padding-right: 5%;
        padding-top: 10%;
        padding-bottom: 10%;
    }
    @media only screen and ($xxl) {
        padding-top: 7.5%;
        padding-bottom: 7.5%;
    }
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $black;
        opacity: 0.05;
        @media screen and ($xl) {
            display: none;
        }
    }
    &__label {
        font-family: $sans;
        font-size: $scale03;
        font-weight: 400;
        font-style: normal;
        line-height: $title-sans;
        letter-spacing: $spacing-sans-mega;
        text-transform: uppercase;
        opacity: 0.75;
        margin-bottom: 0.25em;
        @media screen and ($md) {
            opacity: 0.5;
        }
    }
    .email-address,
    .other-link {
        font-family: $sans;
        line-height: $title-sans;
        letter-spacing: $spacing-sans;
        font-size: $scale04;
    }
    &__group {
        margin-bottom: 2rem;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    .social-buttons__group +.contact-info__group {
        margin-top: 3rem;
    }
    &__sticky {
        @media only screen and ($xl) {
            top: 10vw;
            padding-bottom: 10vw;
        }
        @media only screen and ($xxl) {
            top: 7.5vw;
            padding-bottom: 7.5vw;
        }
    }
}

.author {
    &-name {
        font-family: $sans;
        line-height: $title-sans;
        letter-spacing: $spacing-sans;
        font-weight: 700;
        font-size: $scale05;
        margin-bottom: 0.1em;
    }
    &-role {
        font-family: $sans;
        line-height: $title-sans;
        letter-spacing: $spacing-sans;
        font-size: $scale04;
    }
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
}

.sticky:before,
.sticky:after {
    content: '';
    display: table;
}

.background-gradient:before {
    content: "";
    background-image: linear-gradient(90deg, $tertiary, $tertiaryDarker);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    opacity: 0.9;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
