$medium-breakpoint: 768;
$large-breakpoint: 992;
$x-large-breakpoint: 1200;
$xx-large-breakpoint: 1600;

$md: "min-width: #{$medium-breakpoint}px";
$lg: "min-width: #{$large-breakpoint}px";
$xl: "min-width: #{$x-large-breakpoint}px";
$xxl: "min-width: #{$xx-large-breakpoint}px";

$gutter: 1em;

// Transparency 
$opaque: 0.3;
$opaqueDarker: 0.7;
$visible: 1;

// Animation
// $bezier: cubic-bezier(.58, .27, .18, .99);
$bezier: cubic-bezier(.32, .01, 0, 1);