.contact-promo {
    width: 100vw;
    min-height: 60vh;
    cursor: pointer;
    cursor: hand;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
    &__text-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: baseline;
        justify-content: center;
        color: $white;
        text-align: left;
    }
    &__eyebrow {
        font-family: $sans;
        line-height: $title-sans;
        letter-spacing: $spacing-sans;
        margin-bottom: 0em;
        max-width: 24em;
        color: $primary;
        margin-bottom: 0.25em;
        font-size: $scale04;
        text-transform: uppercase;
        @media only screen and ($md) {
            font-size: $scale05;
        }
        @media only screen and ($xxl) {
            font-size: $scale06;
        }
    }
    &__description {
        font-variant-ligatures: common-ligatures;
        font-family: $display;
        font-size: $scale08;
        line-height: $solid-serif + 0.1;
        letter-spacing: $spacing-serif;
        font-weight: 700;
        margin-bottom: 0.2em;
        max-width: 12em;
        @media only screen and ($md) {
            font-size: $scale09;
        }
        @media only screen and ($lg) {
            font-size: $scale10;
        }
        @media only screen and ($xxl) {
            font-size: $scale11;
        }
    }
    &__background {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background-image: url('./../images/contact-promo-background.jpg'), linear-gradient(90deg, $tertiary, $tertiaryDarker);
        &:before {
            content: "";
            background-image: linear-gradient(90deg, $tertiary, $tertiaryDarker);
            background-color: rgba(0, 0, 0, 0.5);
            background-blend-mode: darken;
            opacity: 0.9;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }
    .link {
        font-style: italic;
        max-width: 24em;
        line-height: $solid-serif + 0.1;
        letter-spacing: 0.02em;
        &:before {
            border-bottom-width: 4px;
            margin-bottom: -0.1em;
        }
    }
}

.contact-promo.in-viewport {
    .contact-promo__background {
        animation: 20s ease-out 0.5s forwards zoom;
    }
}
