.discipline-list {
    width: 100%;
    background-color: $black;
    color: $white;
    @include grid-padding;
    @include padding-bottom;
    &__grid {
        color: $black;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        @include component-padding;
    }
    .item {
        background-color: $white;
        width: 100%;
        height: auto;
        min-height: calc(80vw / 4);
        padding-left: 5%;
        padding-right: 5%;
        cursor: pointer;
        cursor: hand;
        @include padding-top(0.5);
        @include padding-bottom(0.5);
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        transition: all 0.1s 0s $bezier;
        @media only screen and ($md) {
            width: 50%;
        }
        @media screen and ($md) {
            &:nth-child(1) {
                order: 1;
            }
            &:nth-child(2) {
                order: 2;
            }
            &:nth-child(3) {
                order: 4;
            }
            &:nth-child(4) {
                order: 3;
            }
            &:nth-child(5) {
                order: 5;
            }
            &:nth-child(6) {
                order: 6;
            }
            &:nth-child(7) {
                order: 8;
            }
            &:nth-child(8) {
                order: 7;
            }
            &:nth-child(9) {
                order: 9;
            }
            &:nth-child(10) {
                order: 10;
            }
        }
        &:nth-child(even) {
            background-color: darken($white, 4%);
        }
    }
    a.item {
        text-decoration: none;
        color: currentColor;
        .module-content > *:last-child {
            position: relative;
            &:after {
                content: "\EA04";
                font-size: $scale04 / 1.75;
                @media only screen and ($md) {
                    font-size: $scale05 / 1.75;
                }
                @media only screen and ($xxl) {
                    font-size: $scale06 / 1.75;
                }
                color: $primary;
                font-family: $icons;
                display: block;
                position: absolute;
                animation-name: arrowOut;
                animation-duration: 0.2s;
                animation-timing-function: $bezier;
                animation-iteration-count: 1;
                animation-direction: normal;
                animation-fill-mode: forwards;
                animation-play-state: running;
                margin-top: 2em;
                width: 100%;
            }
        }
        &:hover,
        &:focus {
            background-color: darken($white, 8%);
            transition: background-color 0.3s 0s $bezier;
            .module-content > *:last-child:after {
                animation-name: arrowIn;
                animation-duration: 0.2s;
                animation-timing-function: $bezier;
                animation-iteration-count: 1;
                animation-direction: normal;
                animation-fill-mode: forwards;
                animation-play-state: running;
            }
        }
    }
    .module-content {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .headline {
        -webkit-font-smoothing: antialiased;
        @include ligatures;
        font-family: $serif;
        line-height: 1.1;
        letter-spacing: $spacing-serif;
        font-weight: 700;
        font-size: $scale05;
        max-width: 10em;
        @media only screen and ($md) {
            font-size: $scale05;
        }
        @media only screen and ($lg) {
            font-size: $scale05;
        }
        @media only screen and ($xl) {
            font-size: $scale07;
        }
        @media only screen and ($xxl) {
            font-size: $scale08;
        }
        :last-child {
            margin-bottom: 0;
        }
        &:not(:last-child):after {
            content: "";
            display: block;
            position: relative;
            width: 0.8em;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            height: 4px;
            background-color: $primary;
            left: 50%;
            transform: translateX(-50%);
            @media screen and ($lg) {
                height: 5px;
            }
            @media screen and ($xxl) {
                height: 6px;
            }
        }
    }
    .subhead {
        font-family: $sans;
        line-height: 1.4;
        letter-spacing: $spacing-sans;
        font-weight: 400;
        font-size: $scale03;
        max-width: 20em;
        opacity: 0.7;
        @media only screen and ($xl) {
            font-size: $scale04;
        }
        @media only screen and ($xxl) {
            font-size: $scale05;
        }
    }
}
