.divider-md {
    width: 54px;
    height: 6px;
    background-color: $primary;
    border: none;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.divider-md.not-in-viewport {
    width: 0;
    transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.divider-md.not-in-viewport.in-viewport {
    width: 54px;
    transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
}

.divider-sm {
    width: 2rem;
    height: 0.2rem;
    background-color: $primary;
    border: none;
    margin: 2em 0;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    &__gray {
        background-color: $gray;
    }
}

.horizontal-rule {
    background-color: $gray;
    width: 100%;
    height: 0.1rem;
    border: none;
}
