.feed {
    width: 100%;
    overflow: hidden;
    background-color: $white;
    .button-container {
        margin-top: 3em;
        margin-bottom: 3em;
        @media screen and ($md) {
            margin-top: 4em;
            margin-bottom: 4em;
        }
        @media screen and ($xl) {
            margin-top: 6em;
            margin-bottom: 6em;
        }
    }
    &__grid {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        list-style: none;
        overflow: hidden;
        @media screen and ($md) {
            height: calc(100vw / 4 * 7);
        }
    }
    &__item {
        width: 100%;
        height: auto;
        position: relative;
        cursor: pointer;
        cursor: hand;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        transition: all 1s 0s $bezier;
        overflow: hidden;
        @media screen and ($md) {
            width: 50%;
        }
        &:before {
            content: "";
            display: block;
            padding-bottom: 50%;
            position: relative;
        }
        &.text-top:before,
        &.text-bottom:before {
            padding-bottom: 100%;
        }
        @media screen and ($md) {
            &:nth-of-type(1) {
                order: 1;
            }
            &:nth-of-type(2) {
                order: 6;
            }
            &:nth-of-type(3) {
                order: 7;
            }
            &:nth-of-type(4) {
                order: 2;
            }
            &:nth-of-type(5) {
                order: 3;
            }
            &:nth-of-type(6) {
                order: 8;
            }
            &:nth-of-type(7) {
                order: 4;
            }
            &:nth-of-type(8) {
                order: 5;
            }
            &:nth-of-type(9) {
                order: 9;
            }
            &:nth-of-type(10) {
                order: 10;
            }
        }
        .eyebrow {
            -webkit-font-smoothing: antialiased;
            font-family: $sans;
            line-height: $title-sans;
            letter-spacing: $spacing-sans;
            font-size: $scale03;
            font-weight: 400;
            margin-bottom: 0.5em;
            text-transform: uppercase;
            @media screen and ($lg) {
                font-size: $scale04;
            }
            @media screen and ($xxl) {
                font-size: $scale05;
            }
        }
        .headline {
            -webkit-font-smoothing: antialiased;
            @include ligatures;
            font-family: $serif;
            line-height: 1.2;
            letter-spacing: $spacing-serif;
            font-weight: 700;
            max-width: 14em;
            font-size: $scale05;
            @media screen and ($xl) {
                font-size: $scale07;
            }
            @media screen and ($xxl) {
                font-size: $scale08;
            }
        }
        .module-content {
            width: 100%;
            height: 100%;
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 10%;
            padding-right: 10%;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            text-align: center;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: 0;
            @media screen and ($xxl) {
                padding: 0 15%;
            }
        }
        .module-background {
            position: absolute;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        .image {
            width: 100%;
            height: auto;
            &_container {
                transition: all 0.5s 0s $bezier;
                &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: $black;
                    opacity: 0;
                    transition: all 0.5s 0s $bezier;
                }
            }
        }
        &:target,
        &:active {
            filter: brightness(95%);
        }
        &.split {
            background-position: 50% center;
            .module-content {
                margin-left: 50%;
                padding-left: 7.5%;
                padding-right: 7.5%;
                width: 50%;
                background-color: $white;
                height: 100%;
                display: flex;
                text-align: left;
                flex-direction: column;
                flex-wrap: nowrap;
                align-items: baseline;
                justify-content: center;
            }
            .headline {
                max-width: 8em;
                font-size: $scale04;
                @media screen and ($lg) {
                    font-size: $scale05;
                }
                @media screen and ($xl) {
                    font-size: $scale06;
                }
                @media screen and ($xxl) {
                    font-size: $scale07;
                }
            }
            .module-background {
                width: 50%;
                position: absolute;
                top: 0;
            }
        }
    }
    .text-top {
        .module-content {
            height: 50%;
            align-self: flex-start;
        }
    }
    .text-bottom {
        .module-content {
            height: 50%;
            align-self: flex-end;
            bottom: 0;
        }
    }
    .color-combination-1 {
        .eyebrow,
        .module-content > *:last-child:after {
            color: $primary;
        }
        .headline {
            color: $black;
        }
        .module-background {
            background-color: $white;
        }
    }
    .color-combination-2 {
        .eyebrow,
        .module-content > *:last-child:after {
            color: $primary;
        }
        .headline {
            color: $white;
        }
        .module-background {
            background-color: $black;
        }
    }
    .color-combination-3 {
        .eyebrow,
        .module-content > *:last-child:after {
            color: $white;
        }
        .headline {
            color: $black;
        }
        .module-background {
            background-color: $primary;
        }
    }
    .color-combination-4 {
        .eyebrow,
        .module-content > *:last-child:after {
            color: $black;
        }
        .headline {
            color: $white;
        }
        .module-background {
            background-color: $color-theme-a;
        }
    }
    .color-combination-5 {
        .eyebrow,
        .module-content > *:last-child:after {
            color: $black;
        }
        .headline {
            color: $white;
        }
        .module-background {
            background-color: $tertiaryLighter;
        }
    }
    &__curated {
        background-color: $gray;
        .feed__grid {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            @media screen and ($md) {
                height: calc(90vw / 4 * 7);
            }
            @media screen and ($xl) {
                width: 80%;
                height: calc(80vw / 4 * 7);
            }
            &:last-child {
                @include margin-bottom;
            }
        }
        .feed__item {
            .headline {
                font-size: $scale05;
                @media screen and ($lg) {
                    font-size: $scale06;
                }
                @media screen and ($xl) {
                    font-size: $scale07;
                }
                @media screen and ($xxl) {
                    font-size: $scale08;
                }
            }
        }
        .feed__item.split {
            .headline {
                font-size: $scale04;
                @media screen and ($lg) {
                    font-size: $scale05;
                }
                @media screen and ($xl) {
                    font-size: $scale06;
                }
                @media screen and ($xxl) {
                    font-size: $scale07;
                }
            }
        }
        .feed-sort {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            @media screen and ($md) {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                margin-top: 0;
            }
            select {
                width: 50%;
                @media screen and ($md) {
                    width: auto;
                }
            }
        }
    }
    &__related {
        .feed__grid {
            @media screen and ($md) {
                height: calc(100vw / 4 * 2);
            }
        }
    }
    &.debug {
        counter-reset: debugCounter;
        .feed__item {
            counter-increment: debugCounter;
            &:after {
                content: counter(debugCounter);
                font-size: $scale06;
                font-family: $sans;
                color: $primary;
                position: absolute;
                top: 1em;
                left: 1em;
                opacity: 0.5;
                display: inline-block;
                @media screen and ($lg) {
                    font-size: $scale10;
                }
            }
        }
    }
}

// Feed item animations
.feed__item.below-viewport {
    transform: translate(0, 50%);
    opacity: 0;
    .module-content > * {
        transform: translate(0, 50%);
        opacity: 0;
    }
}

.feed__item.in-viewport,
.feed__item.above-viewport {
    transform: translate(0, 0);
    opacity: 1;
    // transition: all 1s 0s $bezier;
    .module-content > * {
        transform: translate(0, 0);
        opacity: 1;
        transition: all 1s 0.1s $bezier;
        &:nth-child(2) {
            transition-delay: 0.2s;
            transition-duration: 0.6s;
        }
    }
}

a.feed__item {
    .module-content > *:last-child:after {
        content: "\EA04";
        font-size: $scale04 / 1.5;
        @media only screen and ($md) {
            font-size: $scale05 / 1.5;
        }
        @media only screen and ($xxl) {
            font-size: $scale06 / 1.5;
        }
        color: currentColor;
        font-family: $icons;
        display: block;
        position: absolute;
        animation-name: arrowOut;
        animation-duration: 0.2s;
        animation-timing-function: $bezier;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: forwards;
        animation-play-state: running;
        margin-top: 2em;
        width: 100%;
    }
    @media (hover) {
        &:hover,
        &:focus {
            outline: none;
            .image_container {
                transform: translate3d(0, 0, 0) scale(1.05);
                &:after {
                    opacity: 0.2;
                }
            }
            &.split {
                .image_container {
                    transform: translate3d(0, 0, 0) scale(1.075);
                }
            }
        }
        &:hover,
        &:focus {
            .module-content > *:last-child:after {
                animation-name: arrowIn;
                animation-duration: 0.2s;
                animation-timing-function: $bezier;
                animation-iteration-count: 1;
                animation-direction: normal;
                animation-fill-mode: forwards;
                animation-play-state: running;
            }
        }
    }
}
