.filtered-job-listings {
    padding-bottom: 20%;
    @media screen and ($lg) {
        padding-bottom: 10%;
    }
    @media screen and ($xl) {
        padding-bottom: 7.5%;
    }
    @media screen and ($xxl) {
        padding-bottom: 5%;
    }
    &__table {
        width: 100%;
        margin-bottom: 5%;
        z-index: 10;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        width: 100%;
        border-bottom: 3px solid rgba($black, 0.03);
        padding-top: 3em;
        padding-bottom: 3em;
        transition: all 0.2s 0s $bezier, transform 0.2s 0s $bezier;
        cursor: pointer;
        cursor: hand;
        position: relative;
        box-sizing: border-box;
        &:first-of-type {
            border-top: 3px solid rgba($black, 0.05);
        }
        &:last-of-type {
            border-bottom: 3px solid rgba($black, 0.05);
        }
        &:hover:before {
            content: "";
            display: block;
            position: absolute;
            width: calc(100% + 2rem);
            height: 100%;
            left: -1rem;
            top: 0;
            background-color: rgba($black, 0.03);
            transition: all 0s 0s $bezier;
        }
        &:active,
        &:target {
            background-color: rgba($black, 0.03);
            transition: all 0s 0s $bezier;
            border-bottom: 3px solid transparent;
        }
    }
    &__job-title {
        font-family: $sans;
        line-height: $title-sans;
        letter-spacing: $spacing-sans;
        font-weight: 700;
        text-align: left;
        width: calc(100% / 12 * 4);
        color: $primary;
        font-size: $scale04;
        @media only screen and ($md) {
            font-size: $scale05;
        }
    }
    &__date {
        font-family: $sans;
        line-height: $title-sans;
        letter-spacing: $spacing-sans;
        text-align: center;
        width: calc(100% / 12 * 2);
        font-size: $scale04;
        @media only screen and ($md) {
            font-size: $scale05;
        }
    }
    &__location {
        font-family: $sans;
        line-height: $title-sans;
        letter-spacing: $spacing-sans;
        text-align: right;
        width: calc(100% / 12 * 4);
        font-size: $scale04;
        @media only screen and ($md) {
            font-size: $scale05;
        }
    }
    .padded-grid {
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }
}
