.filtered-job-listings {
    @include grid-padding;
    display: flex;
    flex-direction: column;
    padding-bottom: 20%;
    @media screen and ($lg) {
        padding-bottom: 10%;
    }
    @media screen and ($xl) {
        padding-bottom: 7.5%;
    }
    @media screen and ($xxl) {
        padding-bottom: 5%;
    }
    &__table {
        width: 100%;
        margin-bottom: 5%;
        text-align: left;
        @include component-padding;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: baseline;
        width: calc(100% + 1rem + 1rem);
        margin-left: -1rem;
        padding-top: 1.5em;
        padding-bottom: 1em;
        transition: all 0s 0s;
        cursor: pointer;
        cursor: hand;
        position: relative;
        box-sizing: border-box;
        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            margin-left: 1rem;
            margin-right: 1rem;
            width: calc(100% - 1rem - 1rem);
            height: 100%;
            border-bottom: 3px solid darken($white, 10%);
            z-index: -1;
            box-sizing: border-box;
        }
        @media screen and ($md) {
            padding-top: 2em;
            padding-bottom: 1.75em;
        }
        @media screen and ($xxl) {
            padding-top: 3em;
            padding-bottom: 3em;
        }
        &:first-of-type {
            &:before {
                border-top: 3px solid darken($white, 10%);
            }
        }
        @media screen and ($xl) {
            &:hover,
            &:focus {
                &:before {
                    background-color: darken($white, 1.5%);
                }
                .filtered-job-listings__job-title {
                    color: $primary;
                }
            }
            &:active,
            &:target {
                &:before {
                    background-color: darken($white, 3%);
                }
                .filtered-job-listings__job-title {
                    color: $primary;
                }
            }
        }
    }
    &__job-title {
        @include component-padding;
        font-family: $sans;
        line-height: $title-sans;
        letter-spacing: $spacing-sans;
        font-weight: 700;
        width: 100%;
        padding-bottom: 0.5em;
        font-size: $scale04;
        padding-left: 2rem;
        @media only screen and ($md) {
            font-size: $scale05;
        }
        @media only screen and ($lg) {
            width: calc(100% / 12 * 4);
            padding-bottom: 0em;
            font-size: $scale04;
        }
        @media only screen and ($xxl) {
            font-size: $scale05;
        }
    }
    &__category {
        @include component-padding;
        font-family: $sans;
        line-height: $title-sans;
        letter-spacing: $spacing-sans;
        width: calc(100% / 2);
        font-size: $scale03;
        padding-left: 2rem;
        @media only screen and ($md) {
            width: calc(100% / 12 * 4);
            font-size: $scale04;
        }
        @media only screen and ($lg) {
            width: calc(100% / 12 * 3);
            font-size: $scale04;
            padding-left: 1rem;
        }
        @media only screen and ($xxl) {
            font-size: $scale05;
        }
    }
    &__location {
        @include component-padding;
        font-family: $sans;
        line-height: $title-sans;
        letter-spacing: $spacing-sans;
        width: calc(100% / 2);
        font-size: $scale03;
        text-align: right;
        padding-right: 2rem;
        @media only screen and ($md) {
            width: calc(100% / 12 * 4);
            text-align: left;
            padding-right: 1rem;
            font-size: $scale04;
        }
        @media only screen and ($lg) {
            width: calc(100% / 12 * 2);
            padding-right: 1rem;
            font-size: $scale04;
        }
        @media only screen and ($xxl) {
            font-size: $scale05;
        }
    }
    &__id {
        @include component-padding;
        font-family: $sans;
        line-height: $title-sans;
        letter-spacing: $spacing-sans;
        width: 100%;
        font-size: $scale03;
        opacity: 0.5;
        padding-left: 2rem;
        @media only screen and ($md) {
            text-align: right;
            padding-left: 1rem;
            padding-right: 2rem;
            width: calc(100% / 12 * 4);
            opacity: 1;
            font-size: $scale04;
        }
        @media only screen and ($lg) {
            width: calc(100% / 12 * 3);
            font-size: $scale04;
        }
        @media only screen and ($xxl) {
            font-size: $scale05;
        }
    }
    &__button-group {
        @include component-padding;
        align-self: center;
    }
}
