.filtered-job-listings {
    @include grid-padding;
    display: flex;
    flex-direction: column;
    padding-bottom: 20%;
    @media screen and ($lg) {
        padding-bottom: 10%;
    }
    @media screen and ($xl) {
        padding-bottom: 7.5%;
    }
    @media screen and ($xxl) {
        padding-bottom: 5%;
    }
    &__table {
        width: 100%;
        margin-bottom: 5%;
        z-index: 10;
        @include component-padding;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        width: 100%;
        border-bottom: 3px solid darken($white, 5%);
        padding-top: 2em;
        padding-bottom: 2em;
        transition: all 0.2s 0s $bezier, transform 0.2s 0s $bezier, border-bottom 0s 0s $bezier, ;
        cursor: pointer;
        cursor: hand;
        position: relative;
        box-sizing: border-box;
        z-index: 0;
        @media screen and ($md) {
            padding-top: 2.5em;
            padding-bottom: 2.5em;
        }
        @media screen and ($xxl) {
            padding-top: 3em;
            padding-bottom: 3em;
        }
        &:first-of-type {
            border-top: 3px solid darken($white, 10%);
        }
        &:last-of-type {
            border-bottom: 3px solid darken($white, 10%);
        }
        @media screen and ($xl) {
            &:hover:before,
            &:focus:before {
                z-index: 5;
                content: "";
                display: block;
                position: absolute;
                width: calc(100% + 4rem);
                height: calc(100% + 6px);
                left: -2rem;
                top: -3px;
                background-color: darken($white, 3%);
                transition: all 0s 0s $bezier;
            }
            &:active:before,
            &:target:before {
                background-color: darken($white, 5%);
            }
        }
    }
    &__job-title {
        font-family: $sans;
        line-height: $title-sans;
        letter-spacing: $spacing-sans;
        font-weight: 700;
        text-align: left;
        width: calc(100% / 12 * 6);
        color: $primary;
        z-index: 10;
        font-size: $scale04;
        @media only screen and ($md) {
            width: calc(100% / 12 * 4);
            font-size: $scale05;
        }
    }
    &__date {
        font-family: $sans;
        line-height: $title-sans;
        letter-spacing: $spacing-sans;
        text-align: center;
        width: calc(100% / 12 * 2);
        z-index: 10;
        font-size: $scale03;
        @media only screen and ($md) {
            font-size: $scale05;
        }
    }
    &__location {
        font-family: $sans;
        line-height: $title-sans;
        letter-spacing: $spacing-sans;
        text-align: right;
        width: calc(100% / 12 * 4);
        z-index: 10;
        font-size: $scale03;
        @media only screen and ($md) {
            font-size: $scale05;
        }
    }
    &__button-group {
        @include component-padding;
        align-self: center;
    }
}
