.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include grid-padding;
    @include padding-top(0.5);
    @include padding-bottom(0.75);
    font-size: $scale05;
    @media only screen and ($md) {
        font-size: $scale05;
    }
    @media only screen and ($lg) {
        font-size: $scale06;
    }
    @media only screen and ($xxl) {
        font-size: $scale07;
    }
    .icon__razorfish {
        text-rendering: geometricPrecision;
        font-size: $scale05;
        @media only screen and ($md) {
            font-size: $scale06;
        }
        @media only screen and ($xxl) {
            font-size: $scale07;
        }
        &:after {
            content: "";
            display: block;
            position: relative;
            background-color: $primary;
            width: 1.2em;
            margin-top: 1.2em;
            margin-bottom: 1.2em;
            left: 50%;
            transform: translateX(-50%);
            height: 4px;
            @media screen and ($xxl) {
                height: 5px;
            }
        }
    }
    .social-share {
        @include component-padding;
        margin-top: -0.6em;
        margin-bottom: 1em;
    }
    .copyrights {
        @include component-padding;
        font-family: $sans;
        font-size: $scale03;
        letter-spacing: $spacing-sans-large;
        line-height: $title-sans;
        color: currentColor;
        opacity: 0.5;
        text-align: center;
        @media only screen and ($xxl) {
            font-size: $scale04;
        }
        .legal {
            display: block;
            margin-bottom: 1em;
            @media screen and ($md) {
                display: inline-block;
                margin-bottom: 0em;
            }
        }
    }
    .link--underline {
        margin-left: 2.2em;
        &:hover {
            color: currentColor;
        }
        &:before {
            background-color: currentColor;
            opacity: 0.5;
        }
        &:first-of-type {
            margin-left: 0;
            &:after {
                display: none;
            }
        }
        &:last-of-type {
            margin-right: 0;
        }
        @media only screen and ($md) {
            margin-left: 2.2em;
            &:first-of-type {
                margin-left: 2.2em;
                &:after {
                    display: inline;
                }
            }
            &:last-of-type {
                margin-right: 2.2em;
            }
        }
        &:after {
            content: "·";
            position: absolute;
            display: inline-block;
            margin-left: 1em;
            margin-right: 1em;
            left: -2.2em;
            color: inherit;
        }
    }
}