.foot-note {
    margin-top: 4em;
    .group {
        margin-bottom: 1.5em;
        font-size: $scale05;
        @media only screen and ($xxl) {
            font-size: $scale06;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    .eyebrow {
        text-transform: uppercase;
        -webkit-font-smoothing: antialiased;
        font-family: $sans;
        line-height: $title-sans;
        letter-spacing: $spacing-sans-large;
        margin-bottom: 0.75em;
        color: $gray-label;
        font-size: $scale03;
        @media only screen and ($md) {
            font-size: $scale03;
        }
        @media only screen and ($xxl) {
            font-size: $scale04;
        }
        &:last-child {
            margin-bottom: 0;
        }
        &:first-child:before {
            content: "";
            display: block;
            position: relative;
            background-color: $primary;
            width: 2.4em;
            margin-bottom: 1.2em;
            height: 4px;
            @media screen and ($lg) {
                width: 3em;
                width: 2em;
                margin-bottom: 1em;
            }
            @media screen and ($xxl) {
                height: 6px;
            }
        }
    }
    &__link {
        font-family: $sans;
        line-height: $title-sans;
        letter-spacing: $spacing-sans;
        font-weight: 700;
        font-size: $scale05;
        margin-bottom: 0.2em;
        @media only screen and ($xxl) {
            font-size: $scale06;
        }
        &:last-child {
            margin-bottom: 0;
        }
        .link--primary {
            &:after {
                content: "\EA04";
                font-size: 0.4em;
                margin-left: 0.8em;
                color: currentColor;
                font-family: $icons;
                vertical-align: middle;
                transition: margin-left 0.2s 0s $bezier;
            }
            &:hover:after {
                margin-left: 1.2em;
                color: $primary;
            }
        }
        &--description {
            font-family: $sans;
            line-height: $prose-sans;
            letter-spacing: $spacing-sans;
            font-size: $scale04;
            @media only screen and ($xxl) {
                font-size: $scale05;
            }
        }
    }
}