$transparent: 0;
$opacity01: 0.2;
$opacity02: 0.5;
$opacity03: 0.8;
$visible: 1;
.form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    &__field {
        position: relative;
        @include component-margin;
        @include bottom-margin(0.25);
        width: 100%;
        &:last-child {
            @include bottom-margin(0.5);
        }
        &:hover .form__input[value=""] ~ .form__border,
        &:hover .form__select ~ .form__border {
            opacity: 0.5;
        }
        &:hover .form__input[value=""] ~ .form__placeholder,
        &:hover .form__select {
            opacity: 0.5;
            transition: opacity 0s 0s linear;
        }
    }
    &__textarea {
        -webkit-appearance: none;
        -webkit-appearance: textfield;
        -webkit-box-sizing: content-box;
        background-color: transparent;
        background-position: right, center;
        background-repeat: no-repeat;
        background-size: 0.8em 0.8em;
        border: none;
        box-sizing: border-box;
        color: currentColor;
        font-family: $sans;
        font-size: $scale04;
        letter-spacing: $spacing-sans;
        line-height: 1;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0.25em;
        padding-bottom: 0.75em;
        padding-left: 0;
        padding-right: 1em;
        padding-top: 0.75em;
        position: relative;
        width: 100%;
        z-index: 1;
        @media screen and ($xxl) {
            font-size: $scale05;
        }
        &:focus {
            outline: none;
        }
    }
    &__input {
        &[type="text"],
        &[type="email"] {
            color: currentColor;
            -webkit-appearance: textfield;
            -webkit-box-sizing: content-box;
            -webkit-appearance: none;
            font-family: $sans;
            font-size: $scale04;
            @media screen and ($xxl) {
                font-size: $scale05;
            }
            letter-spacing: $spacing-sans;
            line-height: 1;
            border: none;
            padding-bottom: 0.75em;
            padding-left: 0;
            padding-right: 1em;
            padding-top: 0.75em;
            margin-top: 0.25em;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 0;
            position: relative;
            box-sizing: border-box;
            width: 100%;
            background-color: transparent;
            background-position: right,
            center;
            background-repeat: no-repeat;
            background-size: 0.8em 0.8em;
            z-index: 1;
            &:valid {
                @include icon-tick-primary;
            }
            &:invalid {
                @include icon-info-red;
            }
            &:focus {
                outline: none;
            }
            &:not([value=""]) ~ .form__border {
                opacity: 1;
            }
            &:active ~ .form__border,
            &:focus ~ .form__border {
                opacity: 1;
            }
            &:active ~ .form__placeholder,
            &:focus ~ .form__placeholder {
                opacity: 0.5;
            }
            &[value=""] {
                background-image: none;
            }
        }
    }
    &__select {
        -webkit-appearance: textfield;
        background-color: transparent;
        background-position: right, center;
        background-repeat: no-repeat;
        background-size: 0.8em 0.8em;
        border: none;
        box-sizing: border-box;
        color: currentColor;
        font-family: $sans;
        font-size: $scale04;
        letter-spacing: $spacing-sans;
        line-height: 1;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0.25em;
        padding-bottom: 0.75em;
        padding-left: 0;
        padding-right: 1em;
        padding-top: 0.75em;
        position: relative;
        width: 100%;
        z-index: 1;
        opacity: 0.2;
        @media screen and ($xxl) {
            font-size: $scale05;
        }
        &:focus {
            outline: none;
            opacity: 0.5;
        }
        @extend .icon-arrow-white;
        &:focus ~ .form__border,
        &.selected,
        &.selected ~ .form__border {
            opacity: 1;
        }
    }
    &__placeholder {
        font-family: $sans;
        font-size: $scale04;
        @media screen and ($xxl) {
            font-size: $scale05;
        }
        letter-spacing: $spacing-sans;
        line-height: 1;
        bottom: 0;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        left: 0;
        padding-bottom: calc(0.75em + 2px);
        opacity: 0.2;
        position: absolute;
        width: 100%;
        transform-origin: left;
        transition: transform 0.1s 0s ease-in-out;
    }
    &__required {
        margin-left: 0.25em;
        &--note {
            @include component-padding;
            font-family: $sans;
            opacity: 0.3;
            font-size: $scale03;
            @media screen and ($xxl) {
                font-size: $scale04;
            }
        }
    }
    &__border {
        position: absolute;
        left: 0;
        bottom: 0;
        display: block;
        height: 2px;
        width: 100%;
        background-color: currentColor;
        opacity: 0.2;
    }
    &__checkbox {
        visibility: hidden;
        position: absolute;
        &--label {
            width: 2em;
            height: 2em;
            display: inline-block;
            cursor: pointer;
            border: 2px solid currentColor;
            background-color: transparent;
            position: relative;
            margin-right: 1em;
            &:after {
                content: "";
                width: 1em;
                height: 0.5em;
                position: absolute;
                border: 2px solid currentColor;
                border-top: none;
                border-right: none;
                background: transparent;
                top: 40%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(-45deg);
                opacity: 0;
            }
        }
        &--body {
            font-family: $sans;
            font-size: $scale03;
            @media screen and ($md) {
                font-size: $scale04;
            }
            letter-spacing: $spacing-sans;
            line-height: 1;
            cursor: pointer;
            cursor: hand;
        }
        &:checked ~ .form__checkbox--label:after {
            opacity: 1;
        }
        &:active ~ .form__checkbox--label,
        &:target ~ .form__checkbox--label {
            background-color: rgba($white, 0.15);
        }
        &--group {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }
    &--black {
        color: $black;
    }
    &--white {
        color: $white;
    }
    &--comments {
        width: 100%;
        max-height: 5em;
    }
}

.form__input:not([value=""]) ~ .form__placeholder {
    transform: translateY(-80%) scale(0.7);
    transition: transform 0.1s 0.1s ease-in-out;
    span {
        opacity: 0;
    }
}

.input-text,
.input-select,
.input-file-label {
    border: none;
    color: currentColor;
    font-family: $sans;
    font-size: $scale05;
    font-weight: 200;
    letter-spacing: $spacing-sans;
    line-height: $title-sans;
    margin-bottom: 0.4em;
    margin-top: 0.2em;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    width: 100%;
}

.input-file {
    height: 0px;
    order: 3;
    overflow: hidden;
    position: absolute;
    width: 0px;
    z-index: -10;
}

.input-file-label {
    order: 2;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.input-file-note {
    font-size: $scale04;
    margin-left: 0.5em;
}

.input-file-button {
    font-size: $scale04;
    text-transform: uppercase;
    cursor: pointer;
    cursor: hand;
}

.input-file-button:after {
    content: "";
    @extend .icon-arrow-white;
    transform: rotate(-90deg);
    display: inline-block;
    width: 0.6em;
    height: 0.6em;
    margin-left: 0.3em;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-clip: content-box;
    background-origin: content-box;
}

.input-submit:focus,
.input-text:focus,
.input-select:focus {
    outline: none;
}

// .input-text:invalid ~ .input-icon {
//     @include icon-info-red;
// }
.input-text[value=""] ~ .input-label,
.input-file ~ .input-label,
.input-select ~ .input-label {
    opacity: 0;
    transform: translateY(50%);
    transition: all 0.1s 0s $bezier;
}

.input-select.selected ~ .input-label {
    transform: translateY(0%);
}

.form {
    .input-file:focus ~ .input-border,
    .input-file:focus ~ .input-file-button,
    .input-file:focus ~ .input-file-label,
    .input-select.selected ~ .input-border,
    .input-select.selected,
    .input-select:focus ~ .input-border,
    .input-select:focus ~ .input-icon,
    .input-select:focus,
    .input-text:focus ~ .input-border,
    .input-text:invalid ~ .input-border,
    .input-text:valid ~ .input-border,
    .input-text[value=""]:focus ~ .input-border {
        opacity: $visible;
    }
    .input-file ~ .input-label,
    .input-file,
    .input-select ~ .input-label,
    .input-text::placeholder,
    .input-text[value=""] ~ .input-label,
    .input-file ~ .input-label,
    .input-select ~ .input-label {
        opacity: $transparent;
    }
    .input-text[value=""] ~ .input-border,
    .input-file-label ~ .input-border,
    .input-select ~ .input-border {
        opacity: 0.3;
    }
    .input-border,
    .input-file-label,
    .input-label,
    .input-select ~ .input-icon,
    .input-select,
    .input-select.selected ~ .input-label,
    .input-text[value=""] ~ .input-icon,
    .input-text[value=""],
    .input-text[value=""]::placeholder {
        opacity: $opacity02;
    }
}

.form.white {
    color: $white;
    .input-select {
        @extend .icon-arrow-white;
    }
}
