

/*
 * Base Site Styles
*/

* {
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
}

body {
    margin: 0;
    width: 100%;
}


/*
 * Base Module Styles
*/

.module {}


/*
 * Global UX Elements
*/
