.padded-grid {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: calc(80% + 1rem + 1rem);
    @media screen and ($lg) {
        width: calc(90% + 1rem + 1rem);
    }
    @media screen and ($xl) {
        width: calc(80% + 1rem + 1rem);
    }
    .col-6 {
        width: 50%;
    }
}

.padded-grid > div,
.padded-grid > section,
.padded-grid > ul {
    padding-left: 1rem;
    padding-right: 1rem;
}

$gridLine: hsla(100, 100%, 40%, 0.1);
.overlay-grid {
    position: fixed;
    z-index: 1000;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    user-select: none;
    cursor: not-allowed;
    pointer-events: none;
    .padded-grid {
        height: 100%;
        flex-direction: row;
        user-select: none;
        cursor: not-allowed;
        pointer-events: none;
        flex-wrap: nowrap;
        &:before {
            content: "$sm";
            position: fixed;
            display: block;
            background-color: $gridLine;
            width: 4em;
            height: 4em;
            font-family: $sans;
            font-size: $scale03;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            top: 0;
            left: 0;
            @media screen and ($md) {
                content: "$md";
            }
            @media screen and ($lg) {
                content: "$lg";
            }
            @media screen and ($xl) {
                content: "$xl";
            }
            @media screen and ($xxl) {
                content: "$xxl";
            }
        }
    }
    &__col {
        border-left: 1px solid $gridLine;
        border-right: 1px solid $gridLine;
        @media screen and ($md) {
            border-left: 1px solid $gridLine;
            border-right: 1px solid $gridLine;
        }
        @media screen and ($lg) {
            border-left: 1px solid $gridLine;
            border-right: 1px solid $gridLine;
        }
        @media screen and ($xl) {
            border-left: 1px solid $gridLine;
            border-right: 1px solid $gridLine;
        }
        @media screen and ($xxl) {
            border-left: 1px solid $gridLine;
            border-right: 1px solid $gridLine;
        }
        width: 100%;
        background-color: hsla(0, 0%, 0%, 0.01);
        margin-left: 1rem;
        margin-right: 1rem;
        width: calc(100% / 4);
        height: 100%;
        display: block;
        user-select: none;
        cursor: not-allowed;
        pointer-events: none;
        &:nth-of-type(5),
        &:nth-of-type(6),
        &:nth-of-type(7),
        &:nth-of-type(8),
        &:nth-of-type(9),
        &:nth-of-type(10),
        &:nth-of-type(11),
        &:nth-of-type(12) {
            display: none;
        }
        @media screen and ($md) {
            &:nth-of-type(1),
            &:nth-of-type(2),
            &:nth-of-type(3),
            &:nth-of-type(4),
            &:nth-of-type(5),
            &:nth-of-type(6) {
                width: calc(100% / 6);
                display: block;
            }
        }
        @media screen and ($lg) {
            &:nth-of-type(1),
            &:nth-of-type(2),
            &:nth-of-type(3),
            &:nth-of-type(4),
            &:nth-of-type(5),
            &:nth-of-type(6),
            &:nth-of-type(7),
            &:nth-of-type(8),
            &:nth-of-type(9),
            &:nth-of-type(10),
            &:nth-of-type(11),
            &:nth-of-type(12) {
                width: calc(100% / 12);
                display: block;
            }
        }
    }
}
