$gridLine: hsla(100, 100%, 40%, 0.1);
.overlay-grid {
    position: fixed;
    z-index: 1000;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    user-select: none;
    cursor: not-allowed;
    pointer-events: none;
    @include grid-padding;
    &:after {
        content: "$sm";
        position: fixed;
        display: block;
        background-color: $gridLine;
        width: 4em;
        height: 4em;
        font-family: $sans;
        font-size: $scale03;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        @media screen and ($md) {
            content: "$md";
        }
        @media screen and ($lg) {
            content: "$lg";
        }
        @media screen and ($xl) {
            content: "$xl";
        }
        @media screen and ($xxl) {
            content: "$xxl";
        }
    }
    .col {
        @include component-margin;
        box-shadow: inset 1px 0 0 0 rgba($primary, 0.2), inset -1px 0 0 0 rgba($primary, 0.2), -1rem 0 0 0 rgba($primary, 0.1), 1rem 0 0 0 rgba($primary, 0.1);
        width: 100%;
        background-color: rgba($black, 0.015);
        height: 100%;
        display: none;
        position: relative;
        @for $i from 1 through 4 {
            &:nth-of-type(#{$i}) {
                display: block;
            }
        }
        @media screen and ($md) {
            @for $i from 5 through 6 {
                &:nth-of-type(#{$i}) {
                    display: block;
                }
            }
        }
        @media screen and ($lg) {
            @for $i from 7 through 12 {
                &:nth-of-type(#{$i}) {
                    display: block;
                }
            }
        }
    }
    &.half {
        height: 40%;
        .col {
            &:first-child:before {
                content: "1 of 4 column (Flexbox)";
                position: absolute;
                font-family: $sans;
                font-weight: 700;
                line-height: 1.2;
                color: $primary;
                top: 1rem;
                left: 1rem;
                @media screen and ($md) {
                    content: "1 of 6 column (Flexbox)";
                    top: 2rem;
                    left: 2rem;
                }
                @media screen and ($lg) {
                    content: "1 of 12 column (Flexbox)";
                }
            }
        }
    }
}

.overlay-grid-qa {
    position: fixed;
    z-index: 1000;
    width: 100%;
    user-select: none;
    cursor: not-allowed;
    pointer-events: none;
    .col {
        box-shadow: inset 1px 0 0 0 rgba($red, 0.2), inset -1px 0 0 0 rgba($red, 0.2), -1rem 0 0 0 rgba($red, 0.1), 1rem 0 0 0 rgba($red, 0.1);
        // box-shadow: inset 1px 0 0 0 rgba($red, 0.2), inset -1px 0 0 0 rgba($red, 0.2), inset 1rem 0 0 0 rgba($red, 0.1), inset -1rem 0 0 0 rgba($red, 0.1);
        background-color: rgba($red, 0.05);
        height: 100%;
        position: relative;
        bottom: 0;
        user-select: none;
        cursor: not-allowed;
        pointer-events: none;
        margin-left: 1rem;
        margin-right: 1rem;
        display: none;
        float: left;
        @include col(1, 4);
        @media screen and ($md) {
            @include col(1, 6);
        }
        @media screen and ($lg) {
            @include col(1, 12);
        }
        &:first-child {
            margin-left: calc(10vw);
            box-shadow: inset 1px 0 0 0 rgba($red, 0.2), inset -1px 0 0 0 rgba($red, 0.2), -1rem 0 0 0 rgba($red, 0.1), 1rem 0 0 0 rgba($red, 0.1);
        }
        @for $i from 1 through 4 {
            &:nth-of-type(#{$i}) {
                display: block;
            }
        }
        @media screen and ($md) {
            @for $i from 5 through 6 {
                &:nth-of-type(#{$i}) {
                    display: block;
                }
            }
        }
        @media screen and ($lg) {
            @for $i from 7 through 12 {
                &:nth-of-type(#{$i}) {
                    display: block;
                }
            }
        }
    }
    &:nth-of-type(2) {
        height: 30%;
        top: 40%;
        .col {
            &:first-child:before {
                content: "1 of 4 column (Float)";
                position: absolute;
                font-family: $sans;
                font-weight: 700;
                line-height: 1.2;
                color: $red;
                top: 1rem;
                left: 1rem;
                @media screen and ($md) {
                    content: "1 of 6 column (Float)";
                    top: 2rem;
                    left: 2rem;
                }
                @media screen and ($lg) {
                    content: "1 of 12 column (Float)";
                }
            }
        }
    }
    &:nth-of-type(3) {
        height: 30%;
        top: 70%;
        .col {
            @include col(4, 4);
            @media screen and ($md) {
                @include col(6, 6);
            }
            @media screen and ($lg) {
                @include col(10, 12);
            }
            @media screen and ($xl) {
                @include col(8, 12);
            }
            @media screen and ($xxl) {
                @include col(6, 12);
            }
            &:before {
                content: "4 of 4 column (Float)";
                position: absolute;
                font-family: $sans;
                font-weight: 700;
                line-height: 1.2;
                color: $red;
                top: 1rem;
                left: 1rem;
                @media screen and ($md) {
                    content: "6 of 6 column (Float)";
                    top: 2rem;
                    left: 2rem;
                }
                @media screen and ($lg) {
                    content: "10 of 12 column (Float)";
                }
                @media screen and ($xl) {
                    content: "8 of 12 column (Float)";
                }
                @media screen and ($xxl) {
                    content: "6 of 12 column (Float)";
                }
            }
        }
    }
}
