.hero {
    width: 100vw;
    min-height: 100vh;
    max-height: calc(100vw / 9 * 16);
    position: relative;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    padding-bottom: 25%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    scroll-snap-coordinate: 0% 0%;
    @media screen and ($md) {
        padding-bottom: 20%;
    }
    @media screen and ($lg) {
        max-height: 100vh;
        padding-bottom: 10%;
    }
    @media screen and ($xl) {
        padding-bottom: 7.5%;
    }
    .video-play-button {
        margin: auto;
    }
    &-white {
        color: $white;
    }
    &__text-container {
        z-index: 10;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: baseline;
        justify-content: center;
        text-align: left;
    }
    &__eyebrow {
        font-family: $sans;
        line-height: $title-sans;
        letter-spacing: $spacing-sans-large;
        max-width: 30em;
        font-size: $scale04;
        font-weight: 400;
        text-transform: uppercase;
        @media only screen and ($xxl) {
            font-size: $scale05;
        }
        &:not(:last-child) {
            margin-bottom: 0.75em;
        }
    }
    &__headline,
    &__headline--group {
        font-family: $display;
        line-height: $solid-serif + 0.1;
        letter-spacing: $spacing-serif;
        font-weight: 700;
        max-width: 10em;
        font-size: $scale07;
        @media only screen and ($md) {
            font-size: $scale09;
        }
        @media only screen and ($xxl) {
            font-size: $scale11;
            line-height: $solid-serif;
        }
        &:not(:last-child) {
            margin-bottom: 0.3em;
        }
    }
    &__subhead {
        font-family: $sans;
        line-height: $title-sans;
        letter-spacing: $spacing-sans;
        margin-bottom: 1em;
        max-width: 30em;
        font-size: $scale04;
        @media only screen and ($md) {
            font-size: $scale05;
        }
        @media only screen and ($xxl) {
            font-size: $scale06;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__cta {
        font-family: $sans;
        line-height: $title-sans;
        letter-spacing: $spacing-sans;
        margin-bottom: 1em;
        max-width: 30em;
        font-size: $scale04;
        font-weight: 700;
        @media only screen and ($md) {
            font-size: $scale05;
        }
        @media only screen and ($xxl) {
            font-size: $scale06;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__scroll-down-container {
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        animation: 1s ease-in-out 0.5s infinite bounce;
        z-index: 10;
        &:hover {
            animation-play-state: paused;
        }
    }
    &__background {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        svg {
            width: 100%;
            height: 100%;
        }
    }
    &__background.gradient:before {
        @include background-gradient;
    }
    &__background.in-viewport {
        animation: 20s ease-out 0.5s forwards zoom;
    }
    &--profile {
        color: $white;
        @media screen and ($lg) {
            color: lighten($black, 10%);
        }
        &__name {
            font-family: $display;
            line-height: 1.05;
            letter-spacing: $spacing-serif;
            font-weight: 700;
            margin-bottom: 0.4em;
            max-width: 10em;
            font-size: $scale08;
            @media only screen and ($md) {
                font-size: $scale09;
                max-width: 8em;
            }
            @media only screen and ($lg) {
                font-size: $scale08;
                max-width: 12em;
            }
            @media only screen and ($xl) {
                font-size: $scale10;
            }
            @media only screen and ($xxl) {
                font-size: $scale11;
            }
            &:last-child {
                margin-bottom: 0;
            }
            &.divider {
                margin-bottom: 0.25em;
            }
        }
        &__title,
        &__office {
            font-family: $sans;
            line-height: $title-sans;
            letter-spacing: $spacing-sans;
            text-transform: uppercase;
            font-size: $scale03;
            @media only screen and ($md) {
                font-size: $scale04;
            }
            @media only screen and ($xxl) {
                font-size: $scale06;
            }
        }
        &__title {
            font-weight: 700;
            margin-right: 0.5em;
            &:last-child {
                margin-right: 0;
            }
        }
        &__office {
            font-width: 400;
        }
        &__group {
            margin-bottom: 1.5em;
            @media screen and ($lg) {
                margin-bottom: 2em;
            }
            @media screen and ($xxl) {
                margin-bottom: 2.5em;
            }
            &:last-child {
                margin-bottom: 0;
            }
            &--icon {
                margin-left: -0.9em;
                margin-top: -0.9em;
                @media screen and ($xxl) {
                    margin-left: -1.1em;
                    margin-left: -1.1em;
                }
            }
        }
        &__icon {
            display: inline-block;
            width: 3rem;
            background-size: 50%, contain;
            background-position: center;
            background-repeat: no-repeat;
            position: relative;
            cursor: pointer;
            cursor: hand;
            @media screen and ($xxl) {
                width: 4rem;
            }
            &:before {
                content: "";
                display: block;
                padding-bottom: 100%;
                position: relative;
            }
            &:hover {
                animation-name: bounce;
                animation-duration: 0.5s;
                animation-timing-function: ease-in-out;
                animation-delay: 0.05s;
                animation-iteration-count: 1;
                animation-direction: normal;
                animation-fill-mode: none;
                animation-play-state: running;
            }
        }
        .link--primary {
            color: darken( $primary, 5%);
        }
        .hero__background {
            background-position: 70% center;
            @media screen and ($xl) {
                background-position: center;
            }
            &:before {
                content: "";
                background-color: rgba($black, 0.4);
                background-blend-mode: darken;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                @media screen and ($lg) {
                    display: none;
                }
            }
        }
        .hero--profile__icon,
        .divider {
            filter: brightness(110%);
        }
    }
    &--approach {
        .hero__headline {
            opacity: 0.5;
        }
    }
    &.client-promo {
        min-height: 50vw;
        justify-content: center;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 10%;
        padding-bottom: 10%;
        @media screen and ($xl) {
            min-height: 40vw;
        }
        .hero__headline {
            font-size: $scale06;
            @media only screen and ($md) {
                font-size: $scale08;
            }
            @media only screen and ($xxl) {
                font-size: $scale10;
            }
        }
    }
    a {
        color: currentColor;
        text-decoration: none;
    }
}
