.hero {
    width: 100vw;
    height: 100vh;
    max-height: calc(100vw / 9 * 16);
    position: relative;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    padding-bottom: 40%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    @media screen and ($md) {
        padding-bottom: 15%;
        max-height: 75vw;
    }
    @media screen and ($xl) {
        padding-bottom: 10%;
    }
    .video-play-button {
        margin: auto;
    }
    &-white {
        color: $white;
    }
    &__text-container {
        z-index: 10;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: baseline;
        justify-content: center;
        text-align: left;
    }
    .divider-md {
        margin-bottom: 1.5rem;
    }
    &__eyebrow {
        font-family: $sans;
        line-height: $title-sans;
        letter-spacing: $spacing-sans;
        max-width: 24em;
        font-size: $scale04;
        margin-bottom: 0.75em;
        @media only screen and ($xxl) {
            font-size: $scale05;
        }
    }
    &__headline {
        font-family: $display;
        line-height: $solid-serif + 0.3;
        letter-spacing: $spacing-serif;
        font-weight: 700;
        margin-bottom: 0.2em;
        max-width: 10em;
        font-size: $scale07;
        @media only screen and ($md) {
            font-size: $scale08;
        }
        @media only screen and ($md) {
            font-size: $scale10;
            line-height: $solid-serif + 0.1;
        }
        @media only screen and ($xxl) {
            font-size: $scale11;
            line-height: $solid-serif;
        }
    }
    &__subhead {
        font-family: $sans;
        line-height: $title-sans;
        letter-spacing: $spacing-sans;
        margin-bottom: 1em;
        max-width: 30em;
        font-size: $scale04;
        font-variant-ligatures: common-ligatures;
        text-rendering: optimizeLegibility;
        @media only screen and ($md) {
            font-size: $scale05;
        }
        @media only screen and ($xxl) {
            font-size: $scale06;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__styling {
        &-red {
            color: $white;
            .hero__background {
                background-color: $secondary;
            }
            .divider-md {
                background-color: $black;
            }
        }
        &-light {
            color: $black;
            .hero__eyebrow {
                color: $primary;
            }
            .hero__background {
                background-color: $white;
            }
            .divider-md {
                background-color: $primary;
            }
        }
        &-dark {
            color: $white;
            .hero__eyebrow {
                color: $white;
            }
            .hero__background {
                background-color: $gray;
            }
            .divider-md {
                background-color: $primary;
            }
        }
    }
    &__scroll-down-container {
        position: absolute;
        bottom: 15%;
        left: 50%;
        transform: translateX(-50%);
        animation: 1s ease-in-out 0.5s infinite bounce;
        z-index: 10;
        @media screen and ($xl) {
            bottom: 5%;
        }
        &:hover {
            animation-play-state: paused;
        }
    }
    &__background {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        svg {
            width: 100%;
            height: 100%;
        }
    }
    &__background.gradient:before {
        @include background-gradient;
    }
    &__background.in-viewport {
        animation: 20s ease-out 0.5s forwards zoom;
    }
}
