.hero__carousel {
    position: relative;
    &_nav {
        position: fixed;
        right: 0;
        top: 50%;
        margin-right: 3rem;
        z-index: 5;
        opacity: 0;
        transition: all 0.2s 0s $bezier;
        &.visible {
            opacity: 1;
        }
        span {
            display: block;
            width: 1rem;
            height: 0.5rem;
            margin-bottom: 1rem;
            position: relative;
            &:hover {
                &:after {
                    opacity: 0.6;
                    cursor: hand;
                    cursor: pointer;
                }
            }
            &.active {
                opacity: 1;
            }
            &:after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 10px;
                height: 10px;
                background-color: $white;
                opacity: 0.2;
                transition: all 0.2s 0s $bezier;
                border-radius: 50%;
            }
        }
    }
}

.hero {
    width: 100vw;
    min-height: 100vh;
    max-height: calc(100vw / 9 * 16);
    position: relative;
    @include grid-padding;
    @include padding-top;
    @include padding-bottom(1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    &:first-of-type:not(:last-child) {
        &:after {
            content: "\EA0E";
            font-family: $icons;
            font-size: $scale03;
            position: absolute;
            bottom: 0;
            left: 50%;
            transition: bottom 1s $bezier;
            margin-bottom: 3em;
            transform: translate(-50%, 0);
            animation: 1s scrollIconBounce infinite;
            @keyframes scrollIconBounce {
                0% {
                    transform: translate(-50%, 0);
                }
                20% {
                    transform: translate(-50%, 0);
                }
                40% {
                    transform: translate(-50%, -100%);
                }
                50% {
                    transform: translate(-50%, 0);
                }
                60% {
                    transform: translate(-50%, -40%);
                }
                80% {
                    transform: translate(-50%, 0);
                }
                100% {
                    transform: translate(-50%, 0);
                }
            }
        }
    }
    &.hide-arrow {
        &:first-of-type:not(:last-child) {
            &:after {
                bottom: -10em;
            }
        }
    }
    .module-background {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: transform 0.5s 0s $bezier;
        &:after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $black;
            opacity: 0;
            transition: opacity 0.5s 0s $bezier;
            mix-blend-mode: multiply;
        }
    }
    .module-content {
        @include component-padding;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: baseline;
        justify-content: center;
        text-align: left;
        position: relative;
        width: 100%;
        @media screen and ($lg) {
            width: calc(100% / 12 * 12);
        }
        @media screen and ($xl) {
            width: calc(100% / 12 * 10);
        }
        @media screen and ($xl) {
            width: calc(100% / 12 * 8);
        }
    }
    .eyebrow {
        font-family: $sans;
        line-height: 1.1;
        letter-spacing: 0.04em;
        max-width: 30em;
        font-size: $scale03;
        font-weight: 400;
        text-transform: uppercase;
        -webkit-font-smoothing: antialiased;
        @media screen and ($md) {
            font-size: $scale04;
        }
        @media screen and ($xxl) {
            font-size: $scale05;
        }
        &:not(:last-child) {
            margin-bottom: 0.75em;
        }
        &:first-child:before {
            content: "";
            display: block;
            position: relative;
            background-color: $primary;
            width: 2.4em;
            margin-bottom: 1.2em;
            height: 4px;
            @media screen and ($lg) {
                width: 2em;
                margin-bottom: 1em;
            }
            @media screen and ($xxl) {
                height: 6px;
            }
        }
    }
    .headline {
        -webkit-font-smoothing: antialiased;
        @include ligatures;
        font-family: $serif;
        line-height: 1.1;
        letter-spacing: $spacing-serif;
        font-weight: 700;
        max-width: 10em;
        font-size: $scale07;
        @media only screen and ($md) {
            font-size: $scale10;
        }
        @media only screen and ($xxl) {
            font-size: $scale12;
            line-height: 1;
        }
        &:not(:last-child) {
            margin-bottom: 0.3em;
        }
        &:first-child:before {
            content: "";
            display: block;
            position: relative;
            background-color: $primary;
            width: 0.9em;
            margin-bottom: 0.4em;
            height: 4px;
            @media screen and ($lg) {
                height: 5px;
                width: 0.7em;
                margin-bottom: 0.35em;
            }
            @media screen and ($xxl) {
                height: 6px;
            }
        }
    }
    .subhead {
        font-family: $sans;
        line-height: $title-sans;
        letter-spacing: $spacing-sans;
        margin-bottom: 1em;
        max-width: 40em;
        font-size: $scale03;
        @media only screen and ($md) {
            font-size: $scale04;
        }
        @media only screen and ($xxl) {
            font-size: $scale05;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    .cta {
        &_video {
            font-family: $sans;
            line-height: 1.1;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            max-width: 30em;
            font-size: $scale03;
            font-weight: 400;
            @media only screen and ($md) {
                font-size: $scale04;
            }
            @media only screen and ($xxl) {
                font-size: $scale05;
            }
            &:before {
                @include icon-play;
                font-size: 1.5em;
                margin-right: 0.3em;
                color: currentColor;
                font-family: $icons;
                vertical-align: middle;
            }
        }
    }
    .image {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transform: scale(1) translate3d(0, 0, 0);
    }
    &_profile {
        color: $white;
        @media screen and ($lg) {
            color: lighten($black, 10%);
        }
        .image {
            &:after {
                content: "";
                display: block;
                position: absolute;
                height: 100%;
                width: 100%;
                background-blend-mode: multiply;
                transition: all 0.5s 0s $bezier;
                background-color: rgba($black, 0.05);
            }
        }
        .name {
            @include ligatures;
            font-family: $serif;
            line-height: 1.05;
            letter-spacing: $spacing-serif;
            font-weight: 700;
            margin-bottom: 0.4em;
            max-width: 10em;
            font-size: $scale08;
            @media only screen and ($md) {
                font-size: $scale09;
                max-width: 8em;
            }
            @media only screen and ($lg) {
                font-size: $scale08;
                max-width: 12em;
            }
            @media only screen and ($xl) {
                font-size: $scale09;
            }
            @media only screen and ($xxl) {
                font-size: $scale11;
            }
            &:first-child:before {
                content: "";
                display: block;
                position: relative;
                background-color: lighten($primary, 5%);
                width: 0.9em;
                margin-bottom: 0.4em;
                height: 4px;
                @media screen and ($lg) {
                    height: 5px;
                    width: 0.7em;
                    margin-bottom: 0.35em;
                    background-color: $primary-darker;
                }
                @media screen and ($xxl) {
                    height: 6px;
                }
            }
        }
        .role,
        .office {
            font-family: $sans;
            line-height: 1.4;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            font-size: $scale03;
            @media only screen and ($md) {
                font-size: $scale04;
            }
            @media only screen and ($xxl) {
                font-size: $scale05;
            }
        }
        .role {
            font-weight: 700;
            margin-right: 0.5em;
            &:last-child {
                margin-right: 0;
            }
        }
        .office {
            font-width: 400;
        }
        .group {
            margin-bottom: 1em;
            @media screen and ($md) {
                margin-bottom: 1.5em;
            }
            @media screen and ($xxl) {
                margin-bottom: 2.5em;
            }
            &:last-child {
                margin-bottom: 0;
            }
            &--icon {
                margin-left: -0.9em;
                margin-top: -0.9em;
                @media screen and ($xxl) {
                    margin-left: -1.1em;
                    margin-left: -1.1em;
                }
            }
        }
        .social-links {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
            list-style: none;
            margin-left: -0.8rem;
            margin-top: -0.8rem;
            color: $primary;
            @media screen and ($lg) {
                color: $primary-darker;
            }
        }
        .icon {
            display: inline-block;
            width: 3rem;
            cursor: pointer;
            cursor: hand;
            position: relative;
            text-decoration: none;
            color: currentColor;
            outline: none;
            font-size: $scale05;
            &:hover,
            &:focus {
                animation-name: bounce;
                animation-duration: 0.5s;
                animation-timing-function: ease-in-out;
                animation-delay: 0.05s;
                animation-iteration-count: 1;
                animation-direction: normal;
                animation-fill-mode: none;
                animation-play-state: running;
            }
            &:before {
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            &:after {
                content: "";
                display: block;
                padding-bottom: 100%;
                position: relative;
            }
        }
        .link--primary {
            color: darken( $primary, 5%);
        }
        .image {
            background-position: 70% center;
            @media screen and ($xl) {
                background-position: center;
            }
            &:before {
                content: "";
                background-color: rgba($black, 0.4);
                background-blend-mode: darken;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                @media screen and ($lg) {
                    display: none;
                }
            }
        }
        .icon,
        .divider {
            filter: brightness(110%);
        }
    }
    &__approach {
        &.hero {
            color: $white;
            .module-content.in-viewport .headline,
            .headline {
                opacity: 0.5;
            }
            .eyebrow:first-child:before,
            .headline:first-child:before {
                background-color: lighten($primary, 10%);
            }
        }
    }
    &__video {
        position: relative;
        &__poster {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            @include grid-padding;
            @include padding-top;
            @include padding-bottom(1);
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: flex-end;
        }
        &__embed {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }
    }
}

a.hero {
    text-decoration: none;
    .module-content > *:last-child:not(.cta):after {
        content: "\EA04";
        font-size: $scale04 / 1.5;
        @media only screen and ($md) {
            font-size: $scale05 / 1.5;
        }
        @media only screen and ($xxl) {
            font-size: $scale06 / 1.5;
        }
        color: currentColor;
        font-family: $icons;
        display: block;
        position: absolute;
        animation-name: arrowOut;
        animation-duration: 0.2s;
        animation-timing-function: $bezier;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: forwards;
        animation-play-state: running;
        margin-top: 2em;
        width: 100%;
    }
    &:hover,
    &:focus {
        outline: none;
        .module-background {
            transform: translate3d(0, 0, 0) scale(1.05);
            transition: transform 0.5s 0s $bezier;
            &:after {
                opacity: 0.2;
                transition: opacity 0.5s 0s $bezier;
            }
        }
    }
    &:hover,
    &:focus {
        .module-content > *:last-child:not(.cta):after {
            animation-name: arrowIn;
            animation-duration: 0.2s;
            animation-timing-function: $bezier;
            animation-iteration-count: 1;
            animation-direction: normal;
            animation-fill-mode: forwards;
            animation-play-state: running;
        }
        .cta_video {
            transition: color 0.2s 0s $bezier;
            color: $primary;
        }
    }
}

.hero {
    .module-content {
        transition-property: all;
        &.below-viewport > * {
            opacity: 0;
            transform: translateY(100px);
        }
        &.above-the-fold > * {
            opacity: 1;
            transform: translateY(0);
            transition-delay: 0s;
            transition-duration: 0s;
        }
        &.in-viewport > * {
            opacity: 1;
            transform: translateY(0);
            transition-timing-function: $bezier;
            &:nth-child(1) {
                transition-delay: 0s;
                transition-duration: 1s;
            }
            &:nth-child(2) {
                transition-delay: 0.1s;
                transition-duration: 1s;
            }
            &:nth-child(3) {
                transition-delay: 0.2s;
                transition-duration: 1s;
            }
            &:nth-child(4) {
                transition-delay: 0.3s;
                transition-duration: 1s;
            }
        }
    }
}
