.image {
    width: 100vw;
    height: 80vh;
    max-height: 100vw;
    background-attachment: scroll;
    position: relative;
    overflow-y: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &--divider {
        @media screen and ($xl) {
            background-attachment: fixed; // Fixed only on desktop as it is buggy on ios
        }
    }
    &--full-height {
        height: auto;
        max-height: none;
    }
    &--full-width {
        width: 100%;
        height: auto;
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }
    &__background {
        width: 100vw;
        min-height: 80vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    &__caption {
        &__icon {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 4rem;
            height: 4rem;
            background-size: 40% 40%, contain;
            background-position: center;
            background-repeat: no-repeat;
            z-index: 100;
            cursor: pointer;
            cursor: hand;
            color: $primary;
            // @include icon-info-primary;
            &--component {
                width: 2rem;
                height: 2rem;
                margin: 1rem;
                border: 2px solid rgba($primary, 0.7);
                display: block;
                position: relative;
                border-radius: 50%;
                background-clip: content-box;
                transition: all 0.2s 0s $bezier;
                &:before {
                    content: "";
                    display: block;
                    width: 3px;
                    height: 3px;
                    background-color: currentColor;
                    position: absolute;
                    top: 20%;
                    left: 50%;
                    transform: translateX(-50%) translateY(0%) rotate(0deg);
                    transition: all 0.2s 0s $bezier;
                }
                &:after {
                    content: "";
                    display: block;
                    width: 3px;
                    height: 10px;
                    background-color: currentColor;
                    position: absolute;
                    top: 42%;
                    left: 50%;
                    transform: translateX(-50%) translateY(0%) rotate(0deg);
                    transition: all 0.2s 0s $bezier;
                }
            }
            &:hover,
            &:focus {
                .image__caption__icon--component {
                    border: 2px solid rgba($primary, 1);
                    transition: all 0s 0s $bezier;
                }
            }
            &:active,
            &:target {
                ;
                .image__caption__icon--component {
                    border: 2px solid rgba($primary, 1);
                    background-color: rgba($white, 0.2);
                    transition: all 0s 0s $bezier;
                }
            }
        }
        &--container {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding-left: 4rem;
            padding-right: 5%;
            padding-top: 1.2em;
            padding-bottom: 1.2em;
            z-index: 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            transform: translateY(100%);
            transition: transform 0.2s 0s $bezier;
            &:before {
                content: "";
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                position: absolute;
                background-color: $black;
                opacity: 0.8;
                z-index: 0;
            }
        }
        &-body {
            font-family: $sans;
            line-height: $title-sans;
            letter-spacing: $spacing-sans;
            color: $white;
            font-size: $scale03;
            position: relative;
            @media only screen and ($md) {
                font-size: $scale04;
            }
            strong {
                font-weight: 700;
                margin-right: 0.5em;
            }
        }
    }
    #image__caption__checkbox:checked ~ .image__caption--container {
        transform: translateY(0%);
    }
    #image__caption__checkbox:checked ~ .image__caption__icon {
        .image__caption__icon--component:before {
            content: "";
            display: block;
            width: 3px;
            height: 15px;
            background-color: currentColor;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%) rotate(45deg);
        }
        .image__caption__icon--component:after {
            content: "";
            display: block;
            width: 3px;
            height: 15px;
            background-color: currentColor;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%) rotate(-45deg);
        }
    }
    #image__caption__checkbox {
        appearance: none;
        display: none;
    }
}

.image-carousel {
    @include top-padding;
    @include bottom-padding(0.5);
    .owl-controls {
        @include ligatures;
        width: 100%;
        margin-top: 3em;
        height: 1em;
        position: relative;
        font-family: $serif;
        font-style: italic;
        line-height: 1;
        letter-spacing: $spacing-serif;
        font-size: $scale04;
        @media only screen and ($md) {
            font-size: $scale04;
        }
        @media only screen and ($xl) {
            font-size: $scale05;
        }
        @media only screen and ($xxl) {
            font-size: $scale06;
        }
    }
    .owl-prev {
        position: relative;
        float: left;
        padding: 1em;
        &:before {
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            width: 0;
            height: 0;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-right: 9px solid currentColor;
            border-left: 0 solid transparent;
            position: absolute;
            display: block;
            top: 50%;
            transform: translateY(-50%);
            right: 11px;
            transition: all 0.1s 0s ease-in-out;
        }
        &:after {
            content: "";
            width: 11px;
            height: 3px;
            display: block;
            background-color: currentColor;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0px;
            transition: all 0.1s 0s ease-in-out;
        }
        &:hover {
            &:before {
                right: 20px;
            }
            &:after {
                width: 20px;
            }
        }
    }
    .owl-next {
        position: relative;
        float: right;
        padding: 1em;
        &:before {
            content: "";
            width: 11px;
            height: 3px;
            display: block;
            background-color: currentColor;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0px;
            transition: all 0.1s 0s ease-in-out;
        }
        &:after {
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            width: 0;
            height: 0;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-left: 9px solid currentColor;
            border-right: 0 solid transparent;
            position: absolute;
            display: block;
            top: 50%;
            transform: translateY(-50%);
            left: 11px;
            transition: all 0.1s 0s ease-in-out;
        }
        &:hover {
            &:before {
                width: 20px;
            }
            &:after {
                left: 20px;
            }
        }
    }
    .owl-nav {
        width: 8em;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .owl-dots {
        counter-reset: slides-num;
        /* Initialize counter. */
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        &:after {
            content: counter(slides-num);
            margin-left: 0.3em;
        }
    }
    .owl-dot {
        display: inline-block;
        counter-increment: slides-num;
        /* Increment counter */
        position: relative;
        span {
            display: none;
        }
        &.active {
            &:before {
                content: counter(slides-num) " of";
            }
        }
    }
}
