.leadership-grid {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    aling-content: stretch;
    background-color: $whiteDarker;
    width: 100vw;
}

.leader-tile {
    display: inline-block;
    margin: 0;
    position: relative;
    cursor: pointer;
    cursor: hand;
    overflow: hidden;
    width: 50vw;
    @media screen and ($md) {
        width: 25vw;
    }
}

.leader-tile-background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: background-color 0.1s 0.2s $bezier;
    transition: transform 4s 0s $bezier;
}

.leader-tile-text-container {
    height: 50%;
    bottom: 0;
    position: absolute;
    padding: 5% 5% 10% 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    color: $white;
    opacity: 1;
    z-index: 10;
    transition: opacity 0.1s 0.1s $bezier;
    @media screen and ($md) {
        justify-content: center;
    }
}

.leader-name {
    font-family: $display;
    font-size: $scale04;
    font-weight: bold;
    line-height: $scale06;
    @media screen and ($md) {
        line-height: $scale05;
    }
    @media screen and ($lg) {
        font-size: $scale06;
    }
    @media screen and ($xl) {
        font-size: $scale07;
    }
    @media screen and ($xxl) {
        font-size: $scale08;
    }
}

.leader-role {
    font-family: $sans;
    font-size: $scale02;
    line-height: $scale06;
    letter-spacing: -0.01em;
    @media screen and ($md) {
        font-size: $scale03;
    }
    @media screen and ($xl) {
        font-size: $scale04;
    }
    @media screen and ($xxl) {
        font-size: $scale05;
    }
}

.leader-office {
    font-family: $sans;
    font-size: $scale02;
    line-height: $scale06;
    letter-spacing: -0.01em;
    color: $gray;
    @media screen and ($xl) {
        font-size: $scale03;
    }
    @media screen and ($xxl) {
        font-size: $scale04;
    }
}

.leader-name,
.leader-role,
.leader-office {
    transform: translateY(20%);
    transition: all 0.1s 0.1s ease-in-out;
    opacity: 1;
    @media screen and ($md) {
        transform: translateY(20%);
        opacity: 0;
    }
}

.leader-role + .leader-office {
    margin-top: 0.25em;
    @media screen and ($md) {
        margin-top: 0.5em;
    }
}

.leader-divider-container {
    overflow: hidden;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: all 0.1s 0.2s ease-in-out;
    margin: 0.5rem 0;
    @media screen and ($md) {
        width: 0%;
        margin: 1em 0;
    }
    @media screen and ($xl) {
        width: 0%;
        margin: 1.5em 0;
    }
}

.leader-tile:before {
    content: "";
    display: block;
    padding-top: 133%;
}

.leader-tile:hover {
    .leader-divider-container {
        @media screen and ($xl) {
            width: calc(1rem * 2);
        }
    }
    @media screen and ($md) {
        .leader-tile:hover {
            .leader-name,
            .leader-role,
            .leader-office {
                transform: translateY(0%);
                opacity: 1;
            }
            .leader-divider-container {
                width: calc(1rem * 1.5);
            }
            .leader-tile-background {
                background-color: darken( $gray, 10%);
                background-blend-mode: multiply;
                transform: scale(1.1);
            }
        }
    }
}

.leader-tile:nth-of-type(1),
.leader-tile:nth-of-type(4),
.leader-tile:nth-of-type(5),
.leader-tile:nth-of-type(8),
.leader-tile:nth-of-type(9) {
    .leader-tile-background {
        background-color: $white;
        background-image: linear-gradient($white, darken( $gray, 10%));
        background-blend-mode: multiply;
    }
}

.leader-tile:nth-of-type(2),
.leader-tile:nth-of-type(3),
.leader-tile:nth-of-type(6),
.leader-tile:nth-of-type(7),
.leader-tile:nth-of-type(10) {
    .leader-tile-background {
        background-color: $whiteDarker;
        background-blend-mode: multiply;
    }
}

.leader-tile-text-container:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background-image: linear-gradient(transparent, $blackDarker);
    opacity: 0.75;
    @media screen and ($md) {
        display: none;
    }
}

@media screen and ($md) {
    .leader-tile:nth-of-type(1),
    .leader-tile:nth-of-type(3),
    .leader-tile:nth-of-type(6),
    .leader-tile:nth-of-type(8),
    .leader-tile:nth-of-type(9) {
        .leader-tile-background {
            background-color: $white;
            background-image: linear-gradient($white, darken( $gray, 10%));
            background-blend-mode: multiply;
        }
    }
    .leader-tile:nth-of-type(2),
    .leader-tile:nth-of-type(4),
    .leader-tile:nth-of-type(5),
    .leader-tile:nth-of-type(7),
    .leader-tile:nth-of-type(10) {
        .leader-tile-background {
            background-color: $whiteDarker;
            background-blend-mode: multiply;
        }
    }
}
