@mixin col($column) {
    width: calc((100% / 12 * #{$column}) - ((#{$gutter} * 12) - (1 * (#{$column} - 1))));
}

@mixin grid-padding {
    padding-left: calc(10vw - 1rem);
    padding-right: calc(10vw - 1rem);
    @media screen and ($lg) {
        padding-left: calc(5vw - 1rem);
        padding-right: calc(5vw - 1rem);
    }
    @media screen and ($xl) {
        padding-left: calc(10vw - 1rem);
        padding-right: calc(10vw - 1rem);
    }
}

@mixin grid-margin {
    margin-left: calc(10vw - 1rem);
    margin-right: calc(10vw - 1rem);
    @media screen and ($lg) {
        margin-left: calc(5vw - 1rem);
        margin-right: calc(5vw - 1rem);
    }
    @media screen and ($xl) {
        margin-left: calc(10vw - 1rem);
        margin-right: calc(10vw - 1rem);
    }
}

@mixin grid-margin-left {
    margin-left: calc(10vw - 1rem);
    @media screen and ($lg) {
        margin-left: calc(5vw - 1rem);
    }
    @media screen and ($xl) {
        margin-left: calc(10vw - 1rem);
    }
}

@mixin grid-margin-right {
    margin-right: calc(10vw - 1rem);
    @media screen and ($lg) {
        margin-right: calc(5vw - 1rem);
    }
    @media screen and ($xl) {
        margin-right: calc(10vw - 1rem);
    }
}

@mixin top-padding($multiplier: 1) {
    padding-top: 20vw * $multiplier;
    @media screen and ($md) {
        padding-top: 15vw * $multiplier;
    }
    @media screen and ($lg) {
        padding-top: 7.5vw * $multiplier;
    }
    @media screen and ($xl) {
        padding-top: 10vw * $multiplier;
    }
    @media screen and ($xxl) {
        padding-top: 7.5vw * $multiplier;
    }
}

@mixin bottom-padding($multiplier: 1) {
    padding-bottom: 20vw * $multiplier;
    @media screen and ($md) {
        padding-bottom: 15vw * $multiplier;
    }
    @media screen and ($lg) {
        padding-bottom: 7.5vw * $multiplier;
    }
    @media screen and ($xl) {
        padding-bottom: 10vw * $multiplier;
    }
    @media screen and ($xxl) {
        padding-bottom: 7.5vw * $multiplier;
    }
}

@mixin top-margin($multiplier: 1) {
    margin-top: 20vw * $multiplier;
    @media screen and ($md) {
        margin-top: 15vw * $multiplier;
    }
    @media screen and ($lg) {
        margin-top: 10vw * $multiplier;
    }
    @media screen and ($lg) {
        margin-top: 7.5vw * $multiplier;
    }
    @media screen and ($xl) {
        margin-top: 10vw * $multiplier;
    }
    @media screen and ($xxl) {
        margin-top: 7.5vw * $multiplier;
    }
}

@mixin bottom-margin($multiplier: 1) {
    margin-bottom: 20vw * $multiplier;
    @media screen and ($md) {
        margin-bottom: 15vw * $multiplier;
    }
    @media screen and ($lg) {
        margin-bottom: 10vw * $multiplier;
    }
    @media screen and ($lg) {
        margin-bottom: 7.5vw * $multiplier;
    }
    @media screen and ($xl) {
        margin-bottom: 10vw * $multiplier;
    }
    @media screen and ($xxl) {
        margin-bottom: 7.5vw * $multiplier;
    }
}


@mixin component-padding {
    padding-left: 1rem;
    padding-right: 1rem;
}

@mixin component-margin {
    margin-left: 1rem;
    margin-right: 1rem;
}

@mixin video {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

@mixin background-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

@mixin background-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    z-index: 5;
}

@mixin background-gradient {
    content: "";
    background-image: linear-gradient(90deg, $tertiary, $tertiaryDarker);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    opacity: 0.9;
    z-index: 6;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

@mixin background-dark {
    content: "";
    background-color: rgba($black, 0.4);
    background-blend-mode: darken;
    z-index: 6;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.background-dark:before {
    content: "";
    background-color: rgba($black, 0.4);
    background-blend-mode: darken;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

@mixin headline-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: flex-end;
    color: $black;
    z-index: 10;
}

@mixin body {
    font-family: $sans;
    font-size: $scale04;
    line-height: $prose-sans;
    letter-spacing: $spacing-sans;
    margin-bottom: 1em;
    strong {
        font-weight: 700;
    }
}

@mixin h2-sans {
    font-family: $sans;
    font-size: $scale06;
    line-height: $title-sans;
    letter-spacing: $spacing-sans;
    font-weight: 700;
    @media only screen and ($md) {
        font-size: $scale07;
    }
    @media only screen and ($lg) {
        font-size: $scale08;
    }
    @media only screen and ($xxl) {
        font-size: $scale09;
    }
}

@mixin label {
    font-family: $sans;
    font-size: $scale03;
    font-weight: 400;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    margin-bottom: 0.25em;
    max-width: 20em;
    color: rgba($black, 0.75);
    @media screen and ($md) {
        color: rgba($black, 0.6);
    }
    @media screen and ($lg) {
        font-size: $scale02;
    }
    @media screen and ($xl) {
        font-size: $scale03;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

@mixin stat-body {
    font-family: $sans;
    line-height: 1.1;
    letter-spacing: $spacing-sans;
    margin-bottom: 0.15em;
    font-weight: 400;
    font-size: $scale05;
    @media screen and ($md) {
        font-size: $scale06;
    }
    @media screen and ($lg) {
        font-size: $scale05;
    }
    @media screen and ($xxl) {
        font-size: $scale06;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

@mixin sidebar-body {
    font-family: $sans;
    line-height: 1.2;
    letter-spacing: $spacing-sans;
    margin-bottom: 0.15em;
    font-size: $scale04;
    @media screen and ($xl) {
        font-size: $scale04;
    }
    @media screen and ($xxl) {
        font-size: $scale05;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

@mixin two-column--group {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid-column;
    padding-bottom: 1.5em;
    margin-bottom: 0;
    &:last-child {
        padding-bottom: 0;
    }
}
