
@mixin link--underline--animated($multiplier: 1) {
    position: relative;
    &:before {
        content: "";
        width: 100%;
        @if unit($multiplier)=="px" {
            height: $multiplier;
        }
        @else {
            height: 0.1em * $multiplier;
        }
        max-height: 5px;
        display: block;
        background-color: currentColor;
        position: absolute;
        bottom: 0;
        animation-name: underline_out;
        animation-duration: 0.2s;
        animation-timing-function: ease;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: forwards;
        animation-play-state: running;
    }
    @media (hover) {
        &:hover:before {
            animation-name: underline_in;
            animation-duration: 0.2s;
            animation-timing-function: ease;
            animation-iteration-count: 1;
            animation-direction: normal;
            animation-fill-mode: forwards;
            animation-play-state: running;
        }
    }
    @keyframes underline_in {
        0% {
            width: 0%;
            left: 0;
        }
        100% {
            width: 100%;
            left: 0;
        }
    }
    @keyframes underline_out {
        0% {
            width: 100%;
            right: 0;
        }
        100% {
            width: 0%;
            right: 0;
        }
    }
}

@mixin col($column) {
    width: calc((100% / 12 * #{$column}) - ((#{$gutter} * 12) - (1 * (#{$column} - 1))));
}

@mixin grid-padding {
    padding-left: calc(10vw - 1rem);
    padding-right: calc(10vw - 1rem);
}

@mixin grid-margin {
    margin-left: calc(10vw - 1rem);
    margin-right: calc(10vw - 1rem);
}

@mixin grid-margin-left {
    margin-left: calc(10vw - 1rem);
}

@mixin grid-margin-right {
    margin-right: calc(10vw - 1rem);
}

@mixin padding-top($multiplier: 1) {
    padding-top: 20vw * $multiplier;
    @media screen and ($md) {
        padding-top: 15vw * $multiplier;
    }
    @media screen and ($lg) {
        padding-top: 10vw * $multiplier;
    }
}

@mixin padding-bottom($multiplier: 1) {
    padding-bottom: 20vw * $multiplier;
    @media screen and ($md) {
        padding-bottom: 15vw * $multiplier;
    }
    @media screen and ($lg) {
        padding-bottom: 10vw * $multiplier;
    }
}

@mixin margin-top($multiplier: 1) {
    margin-top: 20vw * $multiplier;
    @media screen and ($md) {
        margin-top: 15vw * $multiplier;
    }
    @media screen and ($lg) {
        margin-top: 10vw * $multiplier;
    }
}

@mixin margin-bottom($multiplier: 1) {
    margin-bottom: 20vw * $multiplier;
    @media screen and ($md) {
        margin-bottom: 15vw * $multiplier;
    }
    @media screen and ($lg) {
        margin-bottom: 10vw * $multiplier;
    }
}

@mixin margin-left($multiplier: 1) {
    margin-left: 10vw * $multiplier;
}

@mixin margin-right($multiplier: 1) {
    margin-right: 10vw * $multiplier;
}

@mixin padding-left($multiplier: 1) {
    padding-left: 10vw * $multiplier;
}

@mixin padding-right($multiplier: 1) {
    padding-right: 10vw * $multiplier;
}

@mixin component-padding {
    padding-left: 1rem;
    padding-right: 1rem;
}

@mixin component-margin {
    margin-left: 1rem;
    margin-right: 1rem;
}

@mixin video {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}




@mixin body {
    font-family: $sans;
    font-size: $scale04;
    line-height: $prose-sans;
    letter-spacing: $spacing-sans;
    margin-bottom: 1em;
    strong {
        font-weight: 700;
    }
}

@mixin h2-sans {
    font-family: $sans;
    font-size: $scale06;
    line-height: $title-sans;
    letter-spacing: $spacing-sans;
    font-weight: 700;
    @media only screen and ($md) {
        font-size: $scale07;
    }
    @media only screen and ($lg) {
        font-size: $scale08;
    }
    @media only screen and ($xxl) {
        font-size: $scale09;
    }
}

@mixin label {}

@mixin stat-body {
    font-family: $sans;
    line-height: 1.1;
    letter-spacing: $spacing-sans;
    margin-bottom: 0.15em;
    font-weight: 400;
    font-size: $scale05;
    @media screen and ($md) {
        font-size: $scale06;
    }
    @media screen and ($lg) {
        font-size: $scale05;
    }
    @media screen and ($xxl) {
        font-size: $scale06;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

@mixin sidebar-body {
    font-family: $sans;
    line-height: 1.2;
    letter-spacing: $spacing-sans;
    margin-bottom: 0.15em;
    font-size: $scale04;
    @media screen and ($xl) {
        font-size: $scale04;
    }
    @media screen and ($xxl) {
        font-size: $scale05;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

@mixin two-column--group {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid-column;
    padding-bottom: 1.5em;
    margin-bottom: 0;
    &:last-child {
        padding-bottom: 0;
    }
}

@mixin ligatures {
    text-rendering: optimizeLegibility;
    font-variant-ligatures: common-ligatures;
    font-feature-settings: "kern";
    font-kerning: normal;
}
