.newsletter-signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include grid-padding;
    @include padding-top(0.75);
    @include padding-bottom(0.75);
    @media screen and ($xl) {
        @include padding-top(0.5);
        @include padding-bottom(0.5);
    }
    &__form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        @media screen and ($lg) {
            width: calc(100% / 12 * 8);
        }
        @media screen and ($xl) {
            width: calc(100% / 12 * 6);
        }
    }
    .form-field {
        width: 100%;
        @media screen and ($md) {
            width: calc(50% - 2rem);
        }
    }
    .module-content {
        display: flex;
        flex-direction: column;
        @include component-padding;
        @include padding-bottom(0.1);
        width: 100%;
        @media screen and ($lg) {
            width: calc(100% / 12 * 8);
        }
        @media screen and ($xl) {
            width: calc(100% / 12 * 6);
        }
    }
    .button-group {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        @include padding-top(0.2);
        @media screen and ($md) {
            @include padding-top(0.1);
        }
        @media screen and ($lg) {
            @include padding-top(0.05);
        }
        .button {
            justify-content: center;
            @include component-margin;
            @media screen and ($md) {
                width: calc((100% / 3) - 2rem);
            }
        }
    }
    &--dark {
        background-color: $blackLighter;
        color: $white;
    }
    &--light {
        background-color: $gray-newsletter;
    }
    &--confirmation {
        padding-top: 30%;
        padding-bottom: 30%;
        @media screen and ($md) {
            padding-top: 20%;
            padding-bottom: 20%;
        }
        @media screen and ($lg) {
            padding-top: 15%;
            padding-bottom: 15%;
        }
        @media screen and ($lg) {
            padding-top: 10%;
            padding-bottom: 10%;
        }
        @media screen and ($xl) {
            padding-top: 7.5%;
            padding-bottom: 7.5%;
        }
    }
    .headline {
        -webkit-font-smoothing: antialiased;
        @include ligatures;
        font-family: $serif;
        font-size: $scale06;
        line-height: $title-serif;
        letter-spacing: $spacing-serif-tight;
        font-weight: 700;
        margin-bottom: 0.25em;
        @media only screen and ($md) {
            font-size: $scale07;
        }
        @media only screen and ($xxl) {
            font-size: $scale08;
        }
        &:first-child:before {
            content: "";
            display: block;
            position: relative;
            background-color: $primary;
            width: 0.9em;
            margin-bottom: 0.4em;
            height: 4px;
            @media screen and ($lg) {
                height: 5px;
                width: 0.7em;
                margin-bottom: 0.35em;
            }
            @media screen and ($xxl) {
                height: 6px;
            }
        }
    }
    .subhead {
        font-family: $sans;
        line-height: $title-sans;
        letter-spacing: $spacing-sans;
        max-width: 24em;
        font-size: $scale03;
        @media only screen and ($md) {
            font-size: $scale04;
        }
        @media only screen and ($xxl) {
            font-size: $scale05;
        }
    }
}
