.office-list {
    background-color: $gray;
    @include grid-padding;
    @include padding-bottom;
    &__country {
        display: flex;
        flex-direction: column;
        @include margin-bottom(0.5);
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__country-name {
        @include component-padding;
        font-family: $sans;
        line-height: 1;
        letter-spacing: $spacing-sans;
        font-weight: 700;
        margin-bottom: 1.5em;
        max-width: 14em;
        font-size: $scale04;
        @media screen and ($md) {
            font-size: $scale05;
        }
        @media screen and ($lg) {
            margin-bottom: 1em;
        }
        @media screen and ($xl) {
            font-size: $scale06;
        }
        @media screen and ($xxl) {
            font-size: $scale07;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__item {
        position: relative;
        width: 100%;
        cursor: pointer;
        cursor: hand;
        overflow: hidden;
        &:last-child {
            margin-bottom: 0;
        }
        @media screen and ($md) {
            width: 50%;
        }
        &:after {
            content: "";
            display: block;
            position: relative;
            padding-bottom: calc(100% / 16 * 9);
        }
        &:hover {
            .office-list__image {
                transform: scale(1.025);
            }
        }
        &--close {
            .office-list__office-name {
                margin-bottom: 0;
            }
            .office-list__multi-column {
                display: none;
            }
            .office-list__image {
                height: 0;
            }
            cursor: pointer;
            cursor: hand;
            background-color: rgba($white, 0.4);
            &:hover {
                background-color: rgba($white, 0.6);
            }
        }
        &--open {
            .office-list__office-name {
                margin-bottom: 0;
            }
            .office-list__multi-column {
                display: none;
            }
            .office-list__image {
                height: 0;
            }
            cursor: pointer;
            cursor: hand;
            background-color: rgba($white, 0.4);
            &:hover {
                background-color: rgba($white, 0.6);
            }
        }
    }
    &__image {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-size: cover;
        background-position: 100% 100%, center;
        background-repeat: no-repeat;
        z-index: -1;
        transition: 0.2s 0s ease;
        @include image-grading--darker;
    }
    &__description {
        @include padding-top(0.5);
        @include padding-bottom(0.5);
        @include padding-left(0.5);
        @include padding-right(0.5);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        color: $white;
    }
    &__group {
        @include two-column--group;
    }
    &__office-name {
        @include ligatures;
        font-family: $serif;
        line-height: 1.2;
        letter-spacing: $spacing-serif;
        font-weight: 700;
        margin-bottom: 1.5em;
        max-width: 14em;
        font-size: $scale06;
        @media screen and ($md) {
            font-size: $scale07;
        }
        @media screen and ($lg) {
            margin-bottom: 1em;
            font-size: $scale07;
        }
        @media screen and ($xl) {
            font-size: $scale08;
        }
        @media screen and ($xxl) {
            font-size: $scale09;
        }
        &:last-child {
            margin-bottom: 0;
        }
        &--highlight {
            color: $primary;
            margin-right: 0.5em;
        }
    }
    &__label {
        font-family: $sans;
        font-size: $scale03;
        font-weight: 400;
        font-style: normal;
        line-height: 1.1;
        letter-spacing: 0.025em;
        text-transform: uppercase;
        margin-bottom: 0.5em;
        max-width: 20em;
        color: rgba($black, 0.75);
        @media screen and ($md) {
            color: rgba($black, 0.6);
        }
        @media screen and ($lg) {
            font-size: $scale02;
        }
        @media screen and ($xxl) {
            font-size: $scale03;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__body {
        font-family: $sans;
        line-height: 1.3;
        letter-spacing: $spacing-sans;
        margin-bottom: 0.15em;
        font-weight: 400;
        font-size: $scale04;
        @media screen and ($xl) {
            font-size: $scale04;
        }
        @media screen and ($xxl) {
            font-size: $scale05;
        }
        &:last-child {
            margin-bottom: 0;
        }
        .link {
            margin-top: 0.25em;
        }
    }
    &__area-container {
        overflow: hidden;
        position: relative;
        @include component-margin;
    }
    &__area {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        transition: transform 0.4s 0s $bezier;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        &:nth-child(1) {
            transform: translateX(100%);
        }
        &:nth-child(2) {
            transform: translateX(200%);
        }
    }
    &.north-america {
        .office-list__area {
            &:nth-child(1) {
                transform: translateX(0%);
            }
            &:nth-child(2) {
                transform: translateX(100%);
            }
            &:nth-child(3) {
                transform: translateX(200%);
            }
        }
    }
    &.europe {
        .office-list__area {
            &:nth-child(1) {
                transform: translateX(-100%);
            }
            &:nth-child(2) {
                transform: translateX(0%);
            }
            &:nth-child(3) {
                transform: translateX(100%);
            }
        }
    }
    &.asia-pacific {
        .office-list__area {
            &:nth-child(1) {
                transform: translateX(-200%);
            }
            &:nth-child(2) {
                transform: translateX(-100%);
            }
            &:nth-child(3) {
                transform: translateX(0%);
            }
        }
    }
}
