.office-contact-info {
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    &__headline {
        font-family: $display;
        font-size: $scale06;
        line-height: $title-serif;
        letter-spacing: $spacing-serif-tight;
        font-weight: 700;
        margin-bottom: 1em;
        @media only screen and ($lg) {
            font-size: $scale07;
        }
        @media only screen and ($xxl) {
            font-size: $scale09;
        }
    }
    &__label {
        font-family: $sans;
        font-size: $scale03;
        line-height: $title-sans;
        letter-spacing: $spacing-sans-tight;
        font-weight: 700;
        text-transform: uppercase;
        opacity: 0.5;
        margin-bottom: 0.5em;
        @media only screen and ($xxl) {
            font-size: $scale04;
        }
    }
    &__body {
        font-family: $sans;
        line-height: $prose-sans;
        letter-spacing: $spacing-sans;
        margin-bottom: 0.5em;
        font-weight: 400;
        font-size: $scale04;
        @media only screen and ($xxl) {
            font-size: $scale05;
        }
        strong {
            font-weight: 700;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__item {
        width: 100vw;
        height: auto;
        min-height: 50vw;
        padding: 10%;
        text-align: left;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        @media only screen and ($lg) {
            padding: 7.5%;
            width: 50vw;
        }
        @media only screen and ($xl) {
            padding: 10%;
            min-height: 40vw;
        }
        @media only screen and ($xxl) {
            min-height: 25vw;
        }
        &.red {
            background-color: $secondary;
            color: $white;
            hr {
                background-color: $black;
            }
            a {
                color: $secondary_darker;
            }
        }
        &.black {
            background-color: $black;
            color: $white;
            a {
                color: $primary;
            }
        }
    }
    &__multi-column {
        columns: 2;
        column-gap: 2rem;
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid;
    }
    &__column {
        width: 100%;
        @media only screen and ($md) {
            width: 50%;
        }
    }
    &__group {
        padding-bottom: 1.5em;
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid-column;
    
    }
    .divider {
        margin-bottom: 1rem;
    }
}
