.office-list {
    background-color: $gray;
    @include grid-padding;
    @include padding-bottom;
    transition: all 1s 0s $bezier;
    width: 100%;
    .office {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        position: relative;
        width: calc(100% - 1rem);
        cursor: pointer;
        cursor: hand;
        overflow: hidden;
        float: left;
        transition: all 1s 0s $bezier;
        &:last-child {
            margin-bottom: 0;
        }
        @media screen and ($md) {
            width: calc(50% - 1rem);
        }
        &:after {
            content: "";
            display: block;
            position: relative;
            padding-bottom: calc(100% / 16 * 9);
        }
        @media (hover) {
            &:hover {
                .module-background {
                    transform: translate3d(0, 0, 0) scale(1.075);
                    transition: transform 0.5s 0s ease-out;
                    &:before {
                        opacity: 0.2;
                        transition: opacity 0.5s 0s ease-out;
                    }
                }
            }
        }
    }
    a.office {
        .module-content > *:last-child:after {
            content: "\EA04";
            font-size: $scale04 / 1.75;
            @media only screen and ($md) {
                font-size: $scale05 / 1.75;
            }
            @media only screen and ($xxl) {
                font-size: $scale06 / 1.75;
            }
            color: currentColor;
            font-family: $icons;
            display: block;
            position: absolute;
            animation-name: arrowOut;
            animation-duration: 0.2s;
            animation-timing-function: $bezier;
            animation-iteration-count: 1;
            animation-direction: normal;
            animation-fill-mode: forwards;
            animation-play-state: running;
            margin-top: 2em;
            width: 100%;
        }
        @media (hover) {
            &:hover,
            &:focus {
                outline: none;
                .image_container {
                    transform: translate3d(0, 0, 0) scale(1.05);
                    &:after {
                        opacity: 0.2;
                    }
                }
                &.split {
                    .image_container {
                        transform: translate3d(0, 0, 0) scale(1.075);
                    }
                }
            }
            &:hover,
            &:focus {
                .module-content > *:last-child:after {
                    animation-name: arrowIn;
                    animation-duration: 0.2s;
                    animation-timing-function: $bezier;
                    animation-iteration-count: 1;
                    animation-direction: normal;
                    animation-fill-mode: forwards;
                    animation-play-state: running;
                }
            }
        }
    }
    .module-background {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-size: cover;
        background-position: 100% 100%, center;
        background-repeat: no-repeat;
        transition: all 0.5s 0s $bezier;
        transform: translate(0, 0) scale(1);
        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $black;
            opacity: 0;
            transition: all 0.5s 0s $bezier;
        }
    }
    .module-content {
        @include padding-top(0.25);
        @include padding-bottom(0.25);
        @include padding-left(0.25);
        @include padding-right(0.25);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-offices: center;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        color: $white;
        transition: all 1s 0.2s $bezier;
    }
    .eyebrow {
        font-family: $sans;
        line-height: 1.3;
        letter-spacing: $spacing-sans-mega;
        margin-bottom: 0.4em;
        font-weight: 400;
        text-transform: uppercase;
        color: lighten($primary, 10%);
        text-align: center;
        font-size: $scale02;
        @media screen and ($lg) {
            font-size: $scale03;
        }
        @media screen and ($xxl) {
            font-size: $scale04;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    .office-name {
        @include ligatures;
        font-family: $serif;
        line-height: $title-serif;
        letter-spacing: $spacing-serif;
        font-weight: 700;
        max-width: 14em;
        margin-bottom: 0.25em;
            text-align: center;
        font-size: $scale06;
        @media screen and ($md) {
            font-size: $scale07;
        }
        @media screen and ($lg) {
            font-size: $scale08;
        }
        @media screen and ($xxl) {
            font-size: $scale10;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    .office-contact {
        font-family: $sans;
        line-height: 1.3;
        letter-spacing: $spacing-sans-mega;
        font-weight: 400;
        text-transform: uppercase;
        position: relative;
        font-size: $scale02;
        text-align: center;
        @media screen and ($lg) {
            font-size: $scale03;
        }
        @media screen and ($xxl) {
            font-size: $scale04;
        }
    }
    .cta {
        &:after {
            content: "";
            display: inline-block;
            margin-left: 1em;
            margin-right: 1em;
            height: 1em;
            width: 1px;
            background-color: currentColor;
            position: relative;
            top: 0.125em;
        }
    }
    .office-region {
        position: relative;
        @include component-margin;
        width: calc(100% - 2rem);
        overflow: hidden;
        &:after {
            content: "";
            display: block;
            clear: both;
        }
    }
    .office-container {
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% + 1rem);
        transition: all 1s 0s $bezier;
        margin-top: -0.5rem;
        margin-left: -0.5rem;
        float: left;
    }
    &.north-america {
        .office-container {
            &:nth-child(1) {
                position: relative;
                opacity: 1;
                transition: all 1s 0s $bezier;
                z-index: 1;
                .office {
                    transform: translateX(0%);
                }
            }
            &:nth-child(2) {
                opacity: 0;
                .office {
                    transform: translateX(calc(220% + 2rem));
                    .module-content {
                        transform: translateX(100px);
                    }
                }
            }
            &:nth-child(3) {
                opacity: 0;
                .office {
                    transform: translateX(calc(220% + 2rem));
                }
                .module-content {
                    transform: translateX(100px);
                }
            }
        }
    }
    &.europe {
        .office-container {
            &:nth-child(1) {
                opacity: 0;
                .office {
                    transform: translateX(calc(-220% - 2rem));
                    .module-content {
                        transform: translateX(-100px);
                    }
                }
            }
            &:nth-child(2) {
                position: relative;
                z-index: 1;
                transition: all 1s 0s $bezier;
                opacity: 1;
                .office {
                    transform: translateX(0%);
                }
            }
            &:nth-child(3) {
                opacity: 0;
                .office {
                    transform: translateX(calc(220% + 2rem));
                    .module-content {
                        transform: translateX(100px);
                    }
                }
            }
        }
    }
    &.asia-pacific {
        .office-container {
            &:nth-child(1) {
                opacity: 0;
                .office {
                    transform: translateX(calc(-220% - 2rem));
                    .module-content {
                        transform: translateX(-100px);
                    }
                }
            }
            &:nth-child(2) {
                opacity: 0;
                .office {
                    transform: translateX(calc(-220% - 2rem));
                    .module-content {
                        transform: translateX(-100px);
                    }
                }
            }
            &:nth-child(3) {
                transition: all 1s 0s $bezier;
                opacity: 1;
                position: relative;
                z-index: 1;
                .office {
                    transform: translateX(0%);
                }
            }
        }
    }
}
