.office-list {
    background-color: $gray;
    @include grid-padding;
    @include padding-bottom;
    transition: all 1s 0s $bezier;
    float: left;
    width: 100%;
    &__item {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        position: relative;
        width: calc(100% - 1rem);
        cursor: pointer;
        cursor: hand;
        overflow: hidden;
        float: left;
        transition: all 1s 0s $bezier;
        &:last-child {
            margin-bottom: 0;
        }
        @media screen and ($md) {
            width: calc(50% - 1rem);
        }
        &:after {
            content: "";
            display: block;
            position: relative;
            padding-bottom: calc(100% / 16 * 9);
        }
        @media (hover) {
            &:hover {
                .office-list__image {
                    transform: translate3d(0, 0, 0) scale(1.05);
                    transition: transform 0.5s 0s ease-out;
                    &:before {
                        opacity: 0.2;
                        transition: opacity 0.5s 0s ease-out;
                    }
                }
            }
        }
    }
    &__image {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-size: cover;
        background-position: 100% 100%, center;
        background-repeat: no-repeat;
        z-index: 0;
        transition: transform 0.5s 0s ease-out;
        transform: translate(0, 0) scale(1);
        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $black;
            opacity: 0;
            mix-blend-mode: darken;
            transition: opacity 0.5s 0s ease-out;
        }
    }
    &__description {
        @include padding-top(0.25);
        @include padding-bottom(0.25);
        @include padding-left(0.25);
        @include padding-right(0.25);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        color: $white;
        z-index: 1;
        transition: all 1s 0.2s $bezier;
    }
    &__country-eyebrow {
        font-family: $sans;
        line-height: 1.3;
        letter-spacing: $spacing-sans-mega;
        margin-bottom: 0.4em;
        font-weight: 400;
        text-transform: uppercase;
        color: lighten($primary, 10%);
        font-size: $scale02;
        @media screen and ($lg) {
            font-size: $scale03;
        }
        @media screen and ($xxl) {
            font-size: $scale04;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__office-name {
        @include ligatures;
        font-family: $serif;
        line-height: 1.2;
        letter-spacing: $spacing-serif;
        font-weight: 700;
        max-width: 14em;
        margin-bottom: 0.25em;
        font-size: $scale06;
        @media screen and ($md) {
            font-size: $scale07;
        }
        @media screen and ($lg) {
            font-size: $scale08;
        }
        @media screen and ($xl) {
            font-size: $scale08;
        }
        @media screen and ($xxl) {
            font-size: $scale10;
        }
        &:last-child {
            margin-bottom: 0;
        }
        &--highlight {
            color: $primary;
            margin-right: 0.5em;
        }
    }
    &__body {
        font-family: $sans;
        line-height: 1.3;
        letter-spacing: $spacing-sans-mega;
        font-weight: 400;
        text-transform: uppercase;
        font-size: $scale02;
        @media screen and ($lg) {
            font-size: $scale03;
        }
        @media screen and ($xxl) {
            font-size: $scale04;
        }
    }
    &__cta {
        &:after {
            content: "";
            display: inline-block;
            margin-left: 1em;
            margin-right: 1em;
            height: 1em;
            width: 1px;
            background-color: currentColor;
            position: relative;
            top: 0.125em;
        }
    }
    &__arrow {
        display: block;
        position: absolute;
        height: 100%;
        fill: currentColor;
        animation-name: arrow_out;
        animation-duration: 0.2s;
        animation-timing-function: $bezier;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: forwards;
        animation-play-state: running;
        @keyframes arrow_out {
            0% {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            100% {
                top: 50%;
                left: 50%;
                transform: translate(200%, -50%);
            }
        }
        &--container {
            display: none;
            position: absolute;
            margin-top: 1.5em;
            left: 50%;
            transform: translateX(-50%);
            height: 1em;
            width: 6em;
            font-size: $scale02;
            @media screen and ($lg) {
                font-size: $scale03;
            }
            @media screen and ($xxl) {
                font-size: $scale04;
            }
            @media (hover) {
                display: block;
                overflow: hidden;
                // border: 1px solid red;
            }
        }
    }
    @media (hover) {
        &__item:hover {
            .office-list__arrow {
                animation-name: arrow_in;
                animation-duration: 0.2s;
                animation-timing-function: $bezier;
                animation-iteration-count: 1;
                animation-direction: normal;
                animation-fill-mode: forwards;
                animation-play-state: running;
                @keyframes arrow_in {
                    0% {
                        top: 50%;
                        left: 50%;
                        transform: translate(-300%, -50%);
                    }
                    100% {
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }
    }
    &__area-container {
        position: relative;
        @include component-margin;
        // transition: all 1s 0s $bezier;
        // overflow: hidden;
        width: calc(100% - 2rem);
        float: left;
    }
    &__area {
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% + 1rem);
        transition: all 1s 0s $bezier;
        margin-top: -0.5rem;
        margin-left: -0.5rem;
        float: left;
    }
    &.north-america {
        .office-list__area {
            &:nth-child(1) {
                position: relative;
                z-index: 1;
                opacity: 1;
                transition: all 1s 0s $bezier;
                .office-list__item {
                    transform: translateX(0%);
                }
            }
            &:nth-child(2) {
                opacity: 0;
                .office-list__item {
                    transform: translateX(calc(220% + 2rem));
                    .office-list__description {
                        transform: translateX(100px);
                    }
                }
            }
            &:nth-child(3) {
                opacity: 0;
                .office-list__item {
                    transform: translateX(calc(220% + 2rem));
                }
                .office-list__description {
                    transform: translateX(100px);
                }
            }
        }
    }
    &.europe {
        .office-list__area {
            &:nth-child(1) {
                opacity: 0;
                .office-list__item {
                    transform: translateX(calc(-220% - 2rem));
                    .office-list__description {
                        transform: translateX(-100px);
                    }
                }
            }
            &:nth-child(2) {
                position: relative;
                z-index: 1;
                transition: all 1s 0s $bezier;
                opacity: 1;
                .office-list__item {
                    transform: translateX(0%);
                }
            }
            &:nth-child(3) {
                opacity: 0;
                .office-list__item {
                    transform: translateX(calc(220% + 2rem));
                    .office-list__description {
                        transform: translateX(100px);
                    }
                }
            }
        }
    }
    &.asia-pacific {
        .office-list__area {
            &:nth-child(1) {
                opacity: 0;
                .office-list__item {
                    transform: translateX(calc(-220% - 2rem));
                    .office-list__description {
                        transform: translateX(-100px);
                    }
                }
            }
            &:nth-child(2) {
                opacity: 0;
                .office-list__item {
                    transform: translateX(calc(-220% - 2rem));
                    .office-list__description {
                        transform: translateX(-100px);
                    }
                }
            }
            &:nth-child(3) {
                transition: all 1s 0s $bezier;
                opacity: 1;
                position: relative;
                z-index: 1;
                .office-list__item {
                    transform: translateX(0%);
                }
            }
        }
    }
    // &.transition-to-north-america {
    //     .office-list__item {
    //         transition: all 1.2s 0s $bezier;
    //     }
    //     .office-list__area {
    //         &:nth-child(1) {
    //             .office-list__description {
    //                 transition: all 1s 0.2s $bezier;
    //             }
    //         }
    //         &:nth-child(2) {
    //             transition: all 1s 0s cubic-bezier(0.58, 0.27, 0.18, 0.99);
    //             opacity: 1;
    //         }
    //         &:nth-child(3) {
    //             transition: all 0.75s 0s $bezier;
    //             opacity: 0;
    //         }
    //     }
    // }
    // &.transition-to-asia-pacific {
    //     .office-list__item {
    //         transition: all 1.2s 0s $bezier;
    //     }
    //     .office-list__area {
    //         &:nth-child(1) {
    //             transition: all 0.75s 0s $bezier;
    //             opacity: 0;
    //         }
    //         &:nth-child(2) {
    //             transition: all 1s 0s cubic-bezier(0.58, 0.27, 0.18, 0.99);
    //             opacity: 1;
    //         }
    //         &:nth-child(3) {
    //             .office-list__description {
    //                 transition: all 1s 0.2s $bezier;
    //             }
    //         }
    //     }
    // }
}
