.related-link {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    @include grid-padding;
    @include padding-bottom;
    @include margin-top(-0.25);
    .module-content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        @include component-padding;
        @include margin-bottom;
        width: 100%;
        @media only screen and ($lg) {
            width: calc(100% / 12 * 8);
        }
        @media only screen and ($xl) {
            width: calc(100% / 12 * 6);
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    .group {
        margin-bottom: 1.5em;
        font-size: $scale05;
        @media only screen and ($xxl) {
            font-size: $scale06;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    .eyebrow {
        text-transform: uppercase;
        -webkit-font-smoothing: antialiased;
        font-family: $sans;
        line-height: $title-sans;
        letter-spacing: $spacing-sans-large;
        margin-bottom: 1em;
        color: $gray-label;
        font-size: $scale03;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .link {
        color: currentColor;
        text-decoration: none;
        font-family: $sans;
        line-height: 1.1;
        letter-spacing: $spacing-sans;
        font-weight: 700;
        font-size: $scale05;
        margin-bottom: 0.25em;
        display: block;
        @media only screen and ($xxl) {
            font-size: $scale06;
        }
        &:last-child {
            margin-bottom: 0;
        }
        &:after {
            content: "\EA04";
            font-size: 0.4em;
            margin-left: 0.8em;
            color: currentColor;
            font-family: $icons;
            vertical-align: middle;
            transition: margin-left 0.2s 0s $bezier;
        }
        &:hover {
            text-decoration: none;
            color: $primary;
        }
        &:hover:after {
            margin-left: 1.2em;
        }
    }
    .description {
        font-family: $sans;
        line-height: $prose-sans;
        letter-spacing: $spacing-sans;
        font-size: $scale04;
        @media only screen and ($xxl) {
            font-size: $scale05;
        }
    }
}
