.results {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .icon {
        height: 1.5em;
        width: 1.5em;
        background-size: 100% 100%, contain;
        background-position: center;
        background-repeat: no-repeat;
        @media only screen and ($xl) {
            height: 2em;
            width: 2em;
            margin-bottom: 4em;
        }
        @media only screen and ($xxl) {
            height: 3em;
            width: 3em;
        }
        &.quotation-mark--white,
        &.quotation-mark--dark {
            height: 1.5rem;
            width: 1.5rem;
            margin-bottom: 1.5rem;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    .eyebrow {
        -webkit-font-smoothing: antialiased;
        font-family: $sans;
        line-height: $title-sans;
        letter-spacing: $spacing-sans-mega;
        margin-bottom: 1em;
        font-size: $scale02;
        text-transform: uppercase;
        @media only screen and ($md) {
            font-size: $scale03;
        }
        @media only screen and ($xxl) {
            font-size: $scale04;
        }
    }
    .headline {
        @include ligatures;
        font-family: $serif;
        line-height: 1.1;
        letter-spacing: $spacing-serif;
        margin-bottom: 1em;
        font-weight: 700;
        font-size: $scale06;
        max-width: 10em;
        -webkit-font-smoothing: antialiased;
        @media only screen and ($md) {
            font-size: $scale07;
        }
        @media only screen and ($xl) {
            font-size: $scale08;
        }
        @media only screen and ($xxl) {
            font-size: $scale09;
        }
        :last-child {
            margin-bottom: 0;
        }
        &.divider {
            margin-bottom: 0.4em;
        }
    }
    .subhead {
        font-family: $sans;
        line-height: 1;
        letter-spacing: $spacing-sans-mega;
        margin-bottom: 1em;
        font-size: $scale02;
        text-transform: uppercase;
        opacity: 0.5;
        font-weight: 700;
        @media only screen and ($md) {
            font-size: $scale03;
        }
        @media only screen and ($xl) {
            font-size: $scale04;
        }
        @media only screen and ($xxl) {
            font-size: $scale05;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    .number {
        font-family: $sans;
        line-height: 1;
        letter-spacing: $spacing-sans-tight;
        margin-bottom: 0.2em;
        font-size: $scale08;
        text-transform: uppercase;
        font-weight: 700;
        @media only screen and ($md) {
            font-size: $scale09;
        }
        @media only screen and ($lg) {
            font-size: $scale10;
        }
        @media only screen and ($xl) {
            font-size: $scale11;
        }
        @media only screen and ($xxl) {
            font-size: $scale12;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    .pull-quote {
        @include ligatures;
        font-family: $serif;
        font-style: italic;
        line-height: 1.3;
        letter-spacing: $spacing-serif-large;
        margin-bottom: 1em;
        max-width: 12em;
        font-size: $scale05;
        @media only screen and ($md) {
            font-size: $scale06;
        }
        @media only screen and ($lg) {
            font-size: $scale06;
        }
        @media only screen and ($xl) {
            font-size: $scale07;
        }
        @media only screen and ($xxl) {
            font-size: $scale08;
        }
        &--author-name {
            font-family: $sans;
            line-height: $title-sans;
            letter-spacing: $spacing-sans;
            font-weight: 700;
            font-size: $scale04;
            margin-bottom: 0.25em;
            @media only screen and ($xxl) {
                font-size: $scale05;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        &--author-title {
            font-family: $sans;
            line-height: $title-sans;
            letter-spacing: $spacing-sans;
            font-weight: 400;
            font-size: $scale03;
            opacity: 0.5;
            @media only screen and ($xxl) {
                font-size: $scale04;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        &--author-photo {
            width: 4rem;
            height: 4rem;
            background-color: $white;
            border-radius: 50%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            margin-bottom: 1rem;
            @media screen and ($xl) {
                width: 5rem;
                height: 5rem;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    .image {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .body {
        font-family: $sans;
        line-height: $prose-sans;
        letter-spacing: $spacing-sans;
        margin-bottom: 0.5em;
        font-weight: 400;
        font-size: $scale04;
        @media only screen and ($xxl) {
            font-size: $scale05;
        }
        strong {
            font-weight: 700;
        }
        &:last-child {
            margin-bottom: 0;
        }
        ul {
            list-style-type: none;
        }
        li:before {
            content: "";
            width: 4px;
            height: 4px;
            background-color: $primary;
            margin-right: 0.9em;
            top: 50%;
            transform: translateY(-50%);
            display: inline-block;
            vertical-align: middle;
        }
        li {
            margin-bottom: 0.5em;
        }
        li:last-of-type {
            margin-bottom: 0;
        }
    }
    .item {
        width: 100%;
        height: auto;
        min-height: 80vw;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 20%;
        padding-bottom: 20%;
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        z-index: 1;
        overflow: hidden;
        @media only screen and ($md) {
            width: 50%;
            min-height: 50vw;
            padding-top: 10%;
            padding-bottom: 10%;
            padding-left: 5%;
            padding-right: 5%;
        }
        @media only screen and ($xl) {
            padding-left: 5%;
            padding-right: 5%;
            min-height: 40vw;
        }
        @media only screen and ($xxl) {
            padding-left: 12.5%;
            padding-right: 12.5%;
        }
        &--red {
            background-color: $color-theme-a;
            color: $white;
            a {
                color: darken ($color-theme-a, 10%);
            }
            .divider {
                background-color: $black;
            }
            li:before {
                background-color: $black;
            }
        }
        &--dark {
            background-color: $black;
            color: $white;
            a {
                color: $primary;
            }
        }
        &--brown {
            background-color: $brown;
            color: $white;
            a {
                color: $primary;
            }
        }
        &--container {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            &--pull-quote {
                text-align: center;
                align-items: center;
            }
        }
        @media screen and ($md) {
            &:nth-child(1) {
                order: 1;
            }
            &:nth-child(2) {
                order: 2;
            }
            &:nth-child(3) {
                order: 4;
            }
            &:nth-child(4) {
                order: 3;
            }
        }
    }
    .item {
        width: 50%;
        min-height: 50vw;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
        &:nth-child(1) {
            order: 1;
        }
        &:nth-child(2) {
            order: 2;
        }
        &:nth-child(3) {
            order: 4;
        }
        &:nth-child(4) {
            order: 3;
        }
        &:nth-child(5) {
            order: 5;
        }
        &:nth-child(6) {
            order: 6;
        }
        @media screen and ($md) {
            width: calc(100% / 3);
            min-height: calc(100vw / 3);
            &:nth-child(1) {
                order: 1;
            }
            &:nth-child(2) {
                order: 2;
            }
            &:nth-child(3) {
                order: 3;
            }
            &:nth-child(4) {
                order: 4;
            }
            &:nth-child(5) {
                order: 5;
            }
            &:nth-child(6) {
                order: 6;
            }
        }
    }
    @each $n in (1 3 5) {
        .item:nth-child(#{$n}) {
            background-color: $black;
            color: $white;
        }
    }
    @each $n in (2 4 6) {
        .item:nth-child(#{$n}) {
            background-color: $white;
            color: $black;
        }
    }
    .content-feed__icon {
        font-size: $scale07;
        height: 1em;
        width: 1em;
        margin-bottom: 0.5em;
        @media only screen and ($md) {
            font-size: $scale08;
        }
        @media only screen and ($xl) {
            font-size: $scale09;
        }
        @media only screen and ($xxl) {
            font-size: $scale10;
        }
    }
    .content-feed__pull-quote {
        font-size: $scale04;
        @media only screen and ($md) {
            font-size: $scale04;
        }
        @media only screen and ($lg) {
            font-size: $scale05;
        }
        @media only screen and ($xl) {
            font-size: $scale06;
        }
        @media only screen and ($xxl) {
            font-size: $scale07;
        }
    }
    .content-feed__icon {
        fill: $primary;
    }
}


