.site-navigation {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 100;
    left: 100%;
    &__content {
        height: 100%;
        overflow: scroll;
        display: flex;
        align-items: center;
    }
    &__link-container {
        // animation-name: fadein;
        // animation-duration: 0.1s;
        // animation-timing-function: ease-out;
        // animation-delay: 0.1s;
        // animation-iteration-count: 1;
        // animation-direction: normal;
        // animation-fill-mode: forwards;
        // animation-play-state: pause;
        opacity: 0;
        transform: translateY(-50%);
        transition: all 0s linear 0s;
        &:after {
            display: inline;
            content: "/";
            color: $primary;
            font-weight: 400;
            position: relative;
            margin-left: 0.5em;
            margin-right: 0.5em;
        }
        span {
            font-size: $scale04;
            margin-left: 0.5em;
        }
        &:last-of-type:after {
            display: none;
        }
    }
    &__pages {
        @extend .h2-sans;
        text-decoration: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        margin-bottom: 2em;
        @media screen and ($md) {
            justify-content: center;
        }
    }
    &__components {
        @extend .h4-sans;
        text-decoration: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
                @media screen and ($md) {
            justify-content: center;
        }
        .site-navigation__link-container {
            margin-bottom: 0.5em;
        }
    }
}

#site-masthead__checkbox:checked ~ .site-navigation .site-navigation__link-container {
    opacity: 1;
    transform: translateY(0%);
    transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.1s;
}

@for $i from 1 through 20 {
    .site-navigation__link-container:nth-of-type(#{$i}) {
        transition-delay: calc(0.2s + (0.025s * #{$i}));
    }
}
