#site-masthead__checkbox {
    appearance: none;
    display: none;
}

.site-masthead {
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 0%;
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
    transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    &__logo-container {
        display: flex;
        align-items: baseline;
        flex-direction: row;
    }
    &__logo-razorfish {
        transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        height: 1.3rem;
        @media screen and ($lg) {
            height: 1.5rem;
        }
        @media screen and ($xxl) {
            height: 1.6rem;
        }
    }
    &__country-dropdown {
        font-family: $sans;
        font-size: $scale04;
        color: $primary;
        font-weight: 200;
        margin-left: 0.6rem;
        display: none;
        @media screen and ($md) {
            display: inline-block;
        }
        &:after {
            content: ">";
            transform: rotate(90deg) scale(0.6, 1.2);
            margin-left: 0.3em;
            position: absolute;
        }
    }
}

.site-masthead.hiding {
    transform: translateY(-100%);
    transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.1s;
}

#site-masthead__checkbox:checked ~ .site-navigation {
    left: 0%;
}

#site-masthead__checkbox:checked ~ main,
#site-masthead__checkbox:checked ~ section,
#site-masthead__checkbox:checked ~ footer,
#site-masthead__checkbox:checked ~ article {
    filter: blur(10px);
}


/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */

.hamburger {
    padding-top: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
    &:focus {
        outline: none;
    }
}

.hamburger-box {
    width: 2.5em;
    height: 2em;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 100%;
    height: 4px;
    background-color: $black;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -0.75em;
}

.hamburger-inner::after {
    bottom: -0.75em;
}

.hamburger:hover {
    .hamburger-inner::before {
        transition: top 0.1s 0s ease-in;
        transition-delay: 0s;
        top: -0.6em;
    }
    .hamburger-inner::after {
        transition: bottom 0.1s 0s ease-in;
        transition-delay: 0s;
        bottom: -0.6em;
    }
}

.site-masthead .hamburger__spin {
    .hamburger-inner {
        transition-duration: 0.3s;
        transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    .hamburger-inner::before {
        transition: top 0.1s 0.34s ease-in-out, opacity 0.1s ease-in;
    }
    .hamburger-inner::after {
        transition: bottom 0.1s 0.34s ease-in-out, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
}

#site-masthead__checkbox:checked ~ .site-masthead .hamburger__spin {
    .hamburger-inner {
        -webkit-transform: rotate(225deg);
        transform: rotate(225deg);
        transition-delay: 0.14s;
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    .hamburger-inner::before {
        top: 0;
        opacity: 0;
        transition: top 0.1s ease-out, opacity 0.1s 0.14s ease-out;
    }
    .hamburger-inner::after {
        bottom: 0;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        transition: bottom 0.1s ease-out, transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
}
