.site-navigation {
    &__overlay {
        position: fixed;
        width: 100%;
        height: 0px;
        top: 0;
        left: 0;
        z-index: 200;
        visibility: hidden;
        color: $black;
        background-color: $white;
        &.fade,
        &.open.fade {
            .site-navigation__container {
                transition: transform 0.5s 0s $bezier, opacity 0.5s 0s $bezier;
                transform: scale(0.9);
                opacity: 0;
            }
        }
        &.visible {
            visibility: visible;
            height: 100%;
        }
        &.open {
            .site-navigation__container {
                opacity: 1;
                transition: opacity 0.2s 0s ease;
            }
            .site-navigation__link-container {
                opacity: 1;
                transform: translateY(0%);
            }
        }
    }
    &__scroll {
        position: relative;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        background-color: $white;
    }
    &__container {
        position: relative;
        width: 100%;
        min-height: 100%;
        height: auto;
        @include grid-padding;
        @include padding-top;
        @include padding-bottom;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.2s 0s ease;
    }
    &__link-container {
        opacity: 0;
        transform: translateY(-50%);
        // transition: all 0s linear 0s;
        transition-timing-function: ease;
        transition-property: all;
        transition-duration: 0.1s;
        &:after {
            display: inline;
            content: "/";
            color: $primary;
            font-weight: 400;
            position: relative;
            margin-left: 0.5em;
            margin-right: 0.5em;
        }
        span:not(.skinny) {
            font-size: $scale04;
            margin-left: 0.5em;
        }
        .skinny {
            font-weight: 200;
        }
        &:last-of-type:after {
            display: none;
        }
        .link--underline.active {
            &:before,
            &:after {
                display: none;
                animation: none;
            }
            pointer-events: none;
            color: $primary;
        }
    }
    &__pages {
        @include component-padding;
        font-family: $sans;
        line-height: $title-sans;
        letter-spacing: $spacing-sans-tight;
        font-weight: 700;
        text-decoration: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        margin-bottom: 2em;
        font-size: $scale06;
        list-style: none;
        @media only screen and ($md) {
            font-size: $scale07;
            justify-content: center;
        }
        @media only screen and ($lg) {
            font-size: $scale07;
        }
        @media only screen and ($xl) {
            font-size: $scale08;
        }
        @media only screen and ($xxl) {
            font-size: $scale09;
        }
        .note {
            letter-spacing: $spacing-sans;
        }
    }
    &__components {
        @include component-padding;
        font-family: $sans;
        font-size: $scale03;
        line-height: $title-sans;
        letter-spacing: $spacing-sans-tight;
        font-weight: 700;
        text-decoration: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        list-style: none;
        @media only screen and ($md) {
            font-size: $scale04;
            justify-content: center;
        }
        @media only screen and ($lg) {
            font-size: $scale04;
        }
        @media only screen and ($xl) {
            font-size: $scale05;
        }
        @media only screen and ($xxl) {
            font-size: $scale06;
        }
        .site-navigation__link-container {
            margin-bottom: 0.5em;
        }
    }
}
