.site-navigation {
    &__overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 10;
        visibility: hidden;
        transition: visibility 0s 0.2s linear;
    }
    &__scroll {
        position: relative;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
    &__container {
        position: relative;
        width: 100%;
        min-height: 100%;
        height: auto;
        @include grid-padding;
        @include padding-top;
        @include padding-bottom;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        background-color: $white;
        opacity: 0;
        transition: opacity 0.2s 0s ease-in-out;
    }
    &__link-container {
        opacity: 0;
        transform: translateY(-50%);
        transition: all 0s linear 0s;
        &:after {
            display: inline;
            content: "/";
            color: $primary;
            font-weight: 400;
            position: relative;
            margin-left: 0.5em;
            margin-right: 0.5em;
        }
        span:not(.skinny) {
            font-size: $scale04;
            margin-left: 0.5em;
        }
        .skinny {
            font-weight: 200;
        }
        &:last-of-type:after {
            display: none;
        }
        .link {
            transition: all 0.1s ease 0.1s;
            &:before {
                display: block;
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0%;
                height: 100%;
                transition: all 0.3s ease 0.1s;
                box-shadow: 0 -0.08em 0 0 $primary inset;
            }
            &:hover:before {
                width: 100%;
                transition: all 0.1s ease 0s;
            }
            &:hover {
                box-shadow: none;
                transition: color 0.1s ease 0s;
            }
        }
    }
    &__pages {
        @include component-padding;
        font-family: $sans;
        line-height: $title-sans;
        letter-spacing: $spacing-sans-tight;
        font-weight: 700;
        text-decoration: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        margin-bottom: 2em;
        font-size: $scale06;
        @media only screen and ($md) {
            font-size: $scale07;
            justify-content: center;
        }
        @media only screen and ($lg) {
            font-size: $scale07;
        }
        @media only screen and ($xl) {
            font-size: $scale08;
        }
        @media only screen and ($xxl) {
            font-size: $scale09;
        }
        .note {
            letter-spacing: $spacing-sans;
        }
    }
    &__components {
        @include component-padding;
        font-family: $sans;
        font-size: $scale03;
        line-height: $title-sans;
        letter-spacing: $spacing-sans-tight;
        font-weight: 700;
        text-decoration: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        @media only screen and ($md) {
            font-size: $scale04;
            justify-content: center;
        }
        @media only screen and ($lg) {
            font-size: $scale04;
        }
        @media only screen and ($xl) {
            font-size: $scale05;
        }
        @media only screen and ($xxl) {
            font-size: $scale06;
        }
        .site-navigation__link-container {
            margin-bottom: 0.5em;
        }
    }
}

@for $i from 1 through 20 {
    .site-navigation__link-container:nth-of-type(#{$i}) {
        // transition-delay: calc(0.2s + (0.025s * #{$i}));
        transition-delay: calc(0s * (0.1 * #{random(25)}));
        transition-duration: calc(0.05s * (0.1 * #{random(25)}));
    }
}

#site-masthead__checkbox:checked ~ .site-navigation__overlay {
    visibility: visible;
    transition: visibility 0s 0s linear;
    .site-navigation__link-container {
        opacity: 1;
        transform: translateY(0%);
        transition-timing-function: $bezier;
        transition-property: all;
        @for $i from 1 through 20 {
            &:nth-of-type(#{$i}) {
                // transition-delay: calc(0.2s + (0.025s * #{$i}));
                transition-delay: calc(0.2s * (0.1 * #{random(25)}));
                transition-duration: calc(0.05s * (0.1 * #{random(25)}));
            }
        }
    }
    .site-navigation__container {
        opacity: 1;
    }
}
