#site-masthead__checkbox {
    appearance: none;
    display: none;
    &:checked ~ .site-masthead {
        .hamburger-inner {
            transform: rotate(225deg);
            transition: transform 0.3s 0.14s $bezier;
            &:before {
                transform: translateY(0px);
                opacity: 0;
                transition: transform 0.3s 0.14s $bezier, opacity 0.3s 0.14s $bezier;
                ;
            }
            &:after {
                transform: translateY(0px) rotate(-90deg);
                transition: transform 0.3s 0.14s $bezier;
            }
        }
    }
}

.site-masthead {
    @include grid-padding;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
    transition: transform 0.1s 0s ease, background-color 0.2s 0.0s ease, color 0.2s 0s ease;
    background-color: rgba($white, 0);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    top: 0;
    @media screen and ($md) {
        padding-top: 1em;
        padding-bottom: 1em;
    }
    &.white {
        color: $white;
    }
    &.opaque {
        background-color: rgba($white, 1);
        color: $black;
    }
    &.navigation-open {
        color: $black;
    }
    &.hiding {
        transform: translateY(-100%);
        transition: transform 0.3s ease 0.1s, background-color 0.2s 0.1s ease;
    }
    &.important-hiding {
        transform: translateY(-100%);
        transition: transform 0.3s ease 0.1s, background-color 0.2s 0.1s ease;
    }
    &__checkbox {}
    &_before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        background-color: rgba($white, 10%);
    }
    &__logo-container {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        z-index: 1000;
        @include component-margin;
    }
    &__logo-razorfish {
        width: 8em;
        fill: currentColor;
        @media only screen and ($xxl) {
            width: 10em;
        }
    }
    &__country-dropdown {
        font-family: $sans;
        font-size: $scale04;
        color: $primary;
        font-weight: 200;
        margin-left: 0.6rem;
        display: none;
        margin-rigth: auto;
        cursor: pointer;
        cursor: hand;
        @media screen and ($md) {
            display: inline-block;
        }
        &:after {
            content: ">";
            transform: rotate(90deg) scale(0.6, 1.2);
            margin-left: 0.3em;
            position: absolute;
        }
    }
    &__hamburger {
        padding-top: 1em;
        padding-bottom: 1em;
        @include component-padding;
        height: 54px;
        display: inline-block;
        cursor: pointer;
        cursor: hand;
        transition-property: opacity, filter;
        transition-duration: 0.15s;
        transition-timing-function: linear;
        font: inherit;
        color: inherit;
        text-transform: none;
        background-color: transparent;
        border: 0;
        margin: 0;
        z-index: 1000;
        overflow: visible;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &:focus {
            outline: none;
        }
        .hamburger-box {
            margin-left: auto;
            margin-right: auto;
            width: 34px;
            height: 4px;
            display: block;
            position: relative;
            // top: 50%;
            // transform: translateY(50%);
            transition: all 0.1s 0s ease-in;
        }
        .hamburger-inner,
        .hamburger-inner::before,
        .hamburger-inner::after {
            width: 100%;
            height: 4px;
            background-color: currentColor;
            position: absolute;
            content: "";
            display: block;
        }
        .hamburger-inner {
            display: block;
            top: 50%;
            margin-top: -2px;
            transition: transform 0.3s 0.0s $bezier;
            &:before {
                transform: translateY(-8px);
                opacity: 1;
                transition: opacity 0.3s 0.24s $bezier, transform 0.3s 0.24s $bezier;
            }
            &:after {
                transform: translateY(8px);
                transition: transform 0.3s 0.14s $bezier;
            }
        }
        @media (hover) {
            &:hover {
                .hamburger-inner::before {
                    transition: transform 0.1s 0s $bezier;
                    transform: translateY(-12px);
                }
                .hamburger-inner::after {
                    transition: transform 0.1s 0s $bezier;
                    transform: translateY(12px);
                }
            }
        }
    }
}
