.social-share {
    display: flex;
    flex-direction: row;
    @include grid-padding;
    @include padding-top;
    @include padding-bottom;
    &__icon {
        display: block;
        background-size: 30%, contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        position: relative;
        &.animate {
            opacity: 0;
            transform: translateY(100%);
            transition-duration: 0.2s;
            transition-property: transform, opacity;
            transition-timing-function: ease-in-out;
            transition-delay: 0;
        }
        &:before {
            content: "";
            display: block;
            padding-bottom: 100%;
            position: relative;
        }
    }
    &__icon-container {
        margin: 1px;
        position: relative;
        cursor: pointer;
        cursor: hand;
        width: 4rem;
        overflow: hidden;
        &:focus,
        &:target,
        &:active {
            outline: none;
        }
        @media (hover) {
            &:hover {
                outline: none;
            }
        }
        &:active,
        &:target {
            background-color: rgba($black, 0.05);
        }
        @media screen and ($lg) {
            width: 3rem;
        }
        @media screen and ($xl) {
            width: 4rem;
        }
        @media screen and ($xl) {
            &:before {
                content: "";
                width: 100%;
                height: 2px;
                min-height: 2px;
                max-height: 4px;
                display: block;
                background-color: $primary;
                position: absolute;
                bottom: 0;
                animation-name: underline_out;
                animation-duration: 0.2s;
                animation-timing-function: ease;
                animation-iteration-count: 1;
                animation-direction: normal;
                animation-fill-mode: forwards;
                animation-play-state: running;
            }
            @media (hover) {
                &:hover:before {
                    animation-name: underline_in;
                    animation-duration: 0.2s;
                    animation-timing-function: ease;
                    animation-iteration-count: 1;
                    animation-direction: normal;
                    animation-fill-mode: forwards;
                    animation-play-state: running;
                }
            }
            @keyframes underline_in {
                0% {
                    width: 0%;
                    left: 0;
                }
                100% {
                    width: 100%;
                    left: 0;
                }
            }
            @keyframes underline_out {
                0% {
                    width: 100%;
                    right: 0;
                }
                100% {
                    width: 0%;
                    right: 0;
                }
            }
            &:hover {
                .social-share__icon {
                    animation-name: bounce;
                    animation-duration: 0.5s;
                    animation-timing-function: ease-in-out;
                    animation-delay: 0.05s;
                    animation-iteration-count: 1;
                    animation-direction: normal;
                    animation-fill-mode: none;
                    animation-play-state: running;
                }
            }
        }
        @media screen and ($xxl) {
            width: 4rem;
        }
    }
    &__group {
        display: inline-block;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        &.gray {
            .social-share__icon-container {
                background-color: $gray;
            }
        }
        &--dark {
            color: $white;
            .social-share__icon {
                opacity: 0.3;
            }
            .social-share__icon-container {
                &:active:before,
                &:target:before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background-color: rgba($white, 0.1);
                }
            }
        }
    }
    &--dark {
        background-color: $black;
    }
    &__button {
        &--label {}
    }
    &__container {
        width: calc(100% / 12 * 3);
        @include component-padding;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
}

@for $i from 1 through 20 {
    .social-share__icon-container:nth-of-type(#{$i}) .social-share__icon.animate.visible {
        transition-delay: calc(0.1s + (0.05s * #{$i}));
        transform: translateY(0%);
        opacity: 1;
    }
}

.article,
.press-release,
.case-study {
    .social-share--folded__footer {
        position: absolute;
        top: 0;
        bottom: auto;
        @include padding-top;
        @include padding-bottom;
        @media screen and ($xl) {
            position: absolute;
            top: auto;
            bottom: 0;
        }
        &.fixed {
            position: fixed;
            top: auto;
            bottom: 0;
            @media screen and ($xl) {
                position: absolute;
            }
            &.bottom {
                position: absolute;
            }
        }
    }
}

.social-share--folded {
    &__footer,
    &__header {
        position: absolute;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        z-index: 5;
        margin-right: 10vw;
        width: 100%;
        @media screen and ($lg) {
            width: calc(100% / 12 * 2);
        }
        @media screen and ($xxl) {
            width: calc(100% / 12 * 3);
        }
    }
    &__header {
        top: 0;
        display: none;
        @include padding-top;
        @media screen and ($xl) {
            display: flex;
            top: 0;
            justify-content: flex-start;
        }
    }
    &__footer {
        position: absolute;
        // top: calc(100vh - 3rem - 10vw);
        margin-right: 10vw;
        bottom: 0;
        @include padding-bottom;
        @media screen and ($lg) {
            position: absolute;
            bottom: 0;
            justify-content: flex-end;
            top: auto;
            right: 0;
            .social-share--folded__icon-container {
                top: auto;
                bottom: 0;
            }
        }
    }
    &__group {
        position: relative;
        width: 4rem;
        @media screen and ($lg) {
            width: 3rem;
        }
        @media screen and ($xl) {
            width: 4rem;
        }
        &:before {
            content: "";
            display: block;
            padding-bottom: 100%;
            position: relative;
        }
    }
    &__checkbox {
        appearance: none;
        display: none;
    }
    &__icon-label {
        position: relative;
        list-style: none;
    }
    &__icon-container {
        list-style: none;
        position: absolute;
        top: 0;
        right: 0;
        width: 4rem;
        @media screen and ($lg) {
            width: 3rem;
        }
        @media screen and ($xl) {
            width: 4rem;
        }
    }
    &__icon {
        width: 100%;
        cursor: pointer;
        cursor: hand;
        display: block;
        position: relative;
        background-size: 30%, contain;
        background-position: center;
        background-repeat: no-repeat;
        overflow: hidden;
        background-color: $gray;
        &:hover {
            background-color: $primary;
        }
        &:before {
            content: "";
            display: block;
            padding-bottom: 100%;
            position: relative;
        }
        margin-bottom: 1px;
        margin-top: 1px;
    }
}

.social-share--folded__icon-container {
    transition-delay: 0s;
}

.social-share--folded__icon-container--label {
    z-index: 6;
}

@for $i from 1 through 6 {
    .social-share--folded__icon-container:nth-of-type(#{$i}) {
        z-index: 7 - $i;
    }
}

@for $i from 1 through 6 {
    .social-share--folded__icon-container:nth-of-type(#{$i}) {
        transition-duration: 0.1s * ($i - 1);
        transition-delay: 0.1s * (6 - $i);
    }
}

@for $i from 2 through 6 {
    #social-share--folded__checkbox--bottom:checked ~ .social-share--folded__icon-container:nth-of-type(#{$i}) {
        transform: translateY(100% * ($i - 1));
        transition-delay: 0s;
        transition-duration: 0.1s * ($i - 1);
    }
}

@for $i from 2 through 6 {
    #social-share--folded__checkbox--top:checked ~ .social-share--folded__icon-container:nth-of-type(#{$i}) {
        transform: translateY(-100% * ($i - 1));
        transition-delay: 0s;
        transition-duration: 0.1s * ($i - 1);
    }
}
