.social-share {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    list-style: none;
    .icon {
        display: block;
        width: 100%;
        position: relative;
        text-decoration: none;
        color: currentColor;
        outline: none;
        font-size: $scale05;
        &.animate {
            opacity: 0;
            transform: translateY(100%);
            transition-duration: 0.2s;
            transition-property: transform, opacity;
            transition-timing-function: ease-in-out;
            transition-delay: 0;
        }
        &:before {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &:after {
            content: "";
            display: block;
            padding-bottom: 100%;
            position: relative;
        }
    }
    .icon-container {
        margin: 1px;
        position: relative;
        cursor: pointer;
        cursor: hand;
        width: 4rem;
        overflow: hidden;
        outline: none;
        &:active,
        &:target {
            background-color: rgba($black, 0.05);
        }
        @media screen and ($lg) {
            width: 3rem;
        }
        @media screen and ($xl) {
            width: 4rem;
        }
        &:before {
            content: "";
            background-color: $primary;
            width: 0%;
            left: auto;
            right: 0;
            position: absolute;
            display: block;
            bottom: 0;
            height: 2px;
            transition: all 0.3s $bezier;
        }
        &:hover,
        &:focus {
            outline: none;
            &:before {
                left: 0;
                right: auto;
                width: 100%;
            }
            .icon {
                animation-name: bounce;
                animation-duration: 0.5s;
                animation-timing-function: $bezier;
                animation-delay: 0s;
                animation-iteration-count: 1;
                animation-direction: normal;
                animation-fill-mode: none;
                animation-play-state: running;
            }
        }
    }
    &__container {
        width: calc(100% / 12 * 3);
        @include component-padding;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    &__example {
        width: 100%;
        min-height: 100vh;
        position: relative;
    }
}

.social-share-folded {
    &_footer,
    &_header {
        position: absolute;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        z-index: 1;
        // z-index: 5;
        margin-right: 10vw;
        @media screen and ($lg) {
            width: calc(100% / 12 * 2);
            // width: 100%;
        }
        @media screen and ($xxl) {
            width: calc(100% / 12 * 3);
        }
        .icon-container {
            list-style: none;
            position: absolute;
            top: 0;
            right: 0;
            width: 3rem;
            @media screen and ($xl) {
                width: 4rem;
            }
        }
        .icon {
            width: 100%;
            cursor: pointer;
            cursor: hand;
            display: block;
            position: relative;
            background-size: 30%, contain;
            background-position: center;
            background-repeat: no-repeat;
            overflow: hidden;
            background-color: $gray;
            text-decoration: none;
            color: currentColor;
            outline: none;
            &:hover,
            &:focus {
                background-color: $primary;
            }
            &:active,
            &:target {
                background-color: darken($primary, 5%);
            }
            &:before {
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 1.1em;
            }
            &:after {
                content: "";
                display: block;
                padding-bottom: 100%;
                position: relative;
            }
            margin-bottom: 1px;
            margin-top: 1px;
        }
        .module-content {
            position: relative;
            width: 3rem;
            @media screen and ($xl) {
                width: 4rem;
            }
            &:before {
                content: "";
                display: block;
                padding-bottom: 100%;
                position: relative;
            }
        }
        .checkbox {
            appearance: none;
            display: none;
        }
        .icon-container {
            transition-delay: 0s;
        }
        @for $i from 1 through 5 {
            .icon-container:nth-of-type(#{$i}) {
                transition-duration: 0.1s * (6 - $i);
                transition-delay: 0.1s * ($i - 1);
            }
        }
        @for $i from 1 through 5 {
            #social-share-folded_header_checkbox:checked ~ .icon-container:nth-of-type(#{$i}) {
                transform: translateY(100% * (6 - $i));
                transition-delay: 0s;
                transition-duration: 0.1s * (6 - $i);
            }
        }
        @for $i from 1 through 5 {
            #social-share-folded_footer_checkbox:checked ~ .icon-container:nth-of-type(#{$i}) {
                transform: translateY(-100% * (6 - $i));
                transition-delay: 0s;
                transition-duration: 0.1s * (6 - $i);
            }
        }
    }
    &_header {
        top: 0;
        display: none;
        @include padding-top;
        @media screen and ($xl) {
            display: flex;
            top: 0;
            justify-content: flex-start;
        }
    }
    &_footer {
        position: fixed;
        right: 0;
        bottom: 0;
        @include margin-bottom(0.5);
        @include margin-right;
        @media screen and ($lg) {
            position: absolute;
            @include margin-bottom;
            justify-content: flex-end;
            top: auto;
            .icon-container {
                top: auto;
                bottom: 0;
            }
        }
    }
    &__icon-label {
        position: relative;
        list-style: none;
    }
}
