.social-feed--instagram {
    width: 100%;
    @include grid-padding;
    background-color: $gray;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @include padding-bottom(1);
    &__feed {
        width: 100%;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        overflow: hidden;
        @media screen and ($lg) {
            height: calc((80vw / 4 * 5) + 2rem);
        }
        &__cluster {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            @media screen and ($lg) {
                width: 50%;
            }
            .social-feed--instagram__feed__item {
                width: 50%;
            }
        }
        &__item {
            box-sizing: border-box;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            width: 100%;
            position: relative;
            cursor: pointer;
            cursor: hand;
            background-clip: content-box;
            @media screen and ($lg) {
                width: 50%;
            }
            &:before {
                content: "";
                display: block;
                padding-bottom: 100%;
                position: relative;
            }
            @media (hover) {
                &:hover {
                    .social-feed--instagram__feed__image {
                        transform: translate3d(0, 0, 0) scale(1.05);
                        transition: transform 0.5s 0s ease-out;
                    }
                }
            }
        }
        &__image-container {
            overflow: hidden;
            display: block;
            top: 0;
            left: 0;
            width: calc(100% - 1rem);
            height: calc(100% - 1rem);
            position: absolute;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100% 100%, cover;
            background-clip: content-box;
            transition: all 0.5s 0.1s $bezier;
            transform: scale(1);
            background-clip: content-box;
            margin-left: 0.5rem;
            margin-right: 0.5rem;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }
        &__image {
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100% 100%, cover;
            background-clip: content-box;
            transition: transform 0.5s 0s ease-out;
            transform: scale(1);
        }
    }
    span {
        font-size: $scale10;
        font-family: $sans;
        color: $white;
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 0.5;
        transform: translate(-50%, -50%);
    }
    @media screen and ($lg) {
        div:nth-child(1) {
            order: 1;
        }
        li:nth-child(2) {
            order: 5;
        }
        div:nth-child(3) {
            order: 6;
        }
        li:nth-child(4) {
            order: 2;
        }
        div:nth-child(5) {
            order: 3;
        }
        li:nth-child(6) {
            order: 9;
        }
        div:nth-child(7) {
            order: 4;
        }
    }
}
