.solutions {
    &__pillars {
        position: relative;
    }
    .hero__solution {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: flex-end;
        color: $white;
        @include padding-bottom(1.5);
        @include padding-top;
        @include grid-padding;
        .h1 {
            @include ligatures;
            font-family: $serif;
            font-size: $scale08;
            line-height: 0.8;
            letter-spacing: $spacing-serif-tight;
            font-weight: 700;
            margin-bottom: 0.5em;
            max-width: 8em;
            opacity: 0.5;
            @media only screen and ($md) {
                font-size: $scale10;
            }
            @media only screen and ($xl) {
                font-size: $scale11;
            }
            @media only screen and ($xxl) {
                font-size: $scale12;
            }
            &:first-child:before {
                content: "";
                display: block;
                position: relative;
                background-color: currentColor;
                width: 0.9em;
                margin-bottom: 0.4em;
                height: 4px;
                @media screen and ($lg) {
                    height: 5px;
                    width: 0.7em;
                    margin-bottom: 0.35em;
                }
                @media screen and ($xxl) {
                    height: 6px;
                }
            }
        }
        .h2 {
            @include ligatures;
            font-family: $serif;
            font-size: $scale06;
            line-height: 1.1;
            letter-spacing: $spacing-serif;
            font-weight: 400;
            margin-bottom: 0.5em;
            max-width: 14em;
            opacity: 1;
            @media only screen and ($md) {
                font-size: $scale08;
            }
            @media only screen and ($lg) {
                font-size: $scale08;
            }
            @media only screen and ($xxl) {
                font-size: $scale10;
            }
            &:first-child:before {
                content: "";
                display: block;
                position: relative;
                background-color: lighten($primary, 10%);
                width: 0.9em;
                margin-bottom: 0.4em;
                height: 4px;
                @media screen and ($lg) {
                    height: 5px;
                    width: 0.7em;
                    margin-bottom: 0.35em;
                }
                @media screen and ($xxl) {
                    height: 6px;
                }
            }
        }
        a {
            color: lighten($primary, 10%);
        }
    }
    .button {
        @include margin-top(0.5);
        @include margin-bottom(0.5);
    }
    .module-background {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        video {
            min-width: 100%;
            min-height: 100%;
            overflow: hidden;
        }
    }
    .module-content {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: baseline;
        justify-content: center;
        color: $white;
        text-align: left;
        @include component-padding;
    }
    &__link {
        @include ligatures;
        font-family: $serif;
        font-style: italic;
        font-size: $scale04;
        line-height: $title-serif;
        letter-spacing: $spacing-serif-large;
        color: lighten($primary, 10%);
        font-weight: 700;
        max-width: 24em;
        transform: translateY(50%);
        opacity: 0;
        transition-duration: 0.1s;
        transition-delay: 0;
        transition-property: all;
        transition-timing-function: $bezier;
        @media only screen and ($md) {
            font-size: $scale05;
        }
        @media only screen and ($xxl) {
            font-size: $scale06;
        }
    }
    .subhead {
        font-family: $sans;
        line-height: $title-sans;
        letter-spacing: $spacing-sans;
        margin-bottom: 2em;
        max-width: 35em;
        font-size: $scale04;
        opacity: 0;
        transition-duration: 0.1s;
        transition-delay: 0;
        transition-property: all;
        transition-timing-function: $bezier;
        @media only screen and ($md) {
            font-size: $scale04;
        }
        @media only screen and ($xxl) {
            font-size: $scale05;
        }
    }
    &__contact {
        @include grid-padding;
        @include padding-top;
        @include padding-bottom;
        color: $white;
        width: 100vw;
        min-height: 100vh;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: darken($black, 10%);
        .divider.headline {
            opacity: 1;
            transform-origin: center;
        }
        .module-content {
            width: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
            @media screen and ($md) {
                width: calc(100% / 10 * 10);
            }
            @media screen and ($xl) {
                width: calc(100% / 12 * 10);
            }
            @media screen and ($xxl) {
                width: calc(100% / 12 * 8);
            }
        }
        .headline {
            -webkit-font-smoothing: antialiased;
            @include ligatures;
            font-family: $serif;
            font-size: $scale06;
            line-height: 1;
            letter-spacing: $spacing-serif-tight;
            font-weight: 700;
            margin-bottom: 0.75em;
            max-width: 10em;
            opacity: 0.5;
            @media only screen and ($md) {
                font-size: $scale07;
                max-width: none;
            }
            @media only screen and ($lg) {
                font-size: $scale08;
            }
            @media only screen and ($xl) {
                font-size: $scale09;
            }
            @media only screen and ($xxl) {
                font-size: $scale10;
            }
        }
        .subhead {
            font-family: $sans;
            line-height: $title-sans;
            letter-spacing: $spacing-sans;
            margin-bottom: 2em;
            max-width: 32em;
            opacity: 0.25;
            font-size: $scale04;
            @media only screen and ($md) {
                font-size: $scale05;
            }
            @media only screen and ($xxl) {
                font-size: $scale06;
            }
        }
        .link {
            @include ligatures;
            font-family: $serif;
            font-style: italic;
            line-height: $prose-sans;
            letter-spacing: $spacing-serif-large;
            font-weight: 700;
            max-width: 24em;
            color: $primary;
            text-decoration: none;
            &:hover,
            &:focus {
                color: $white;
            }
            &--container {
                margin-bottom: 2em;
                margin-left: 1em;
                margin-right: 1em;
                @media screen and ($md) {
                    margin-bottom: 1em;
                }
            }
            &--group {
                width: 100%;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content: center;
                max-width: 40em;
                font-size: $scale04;
                @media only screen and ($md) {
                    font-size: $scale05;
                    flex-direction: row;
                    flex-wrap: wrap;
                }
                @media only screen and ($xxl) {
                    font-size: $scale06;
                }
            }
        }
    }
}

#solutions__menu {
    position: fixed;
    right: calc(10vw - 1rem);
    top: 50%;
    transform: translateY(-50%);
    color: $white;
    z-index: 1;
    display: flex;
    flex-wrap: nowrap;
    height: 50vh;
    flex-direction: column;
    justify-content: center;
    // &.hide {
    //     transform: translate(100%, -50%);
    //     @media screen and ($lg) {
    //         transform: translate(0%, 100%);
    //     }
    // }
    // &.hide-bottom {
    //     opacity: 0;
    // }
    // &.absolute {
    //     position: absolute;
    // }
    // .link-container {
    //     margin-bottom: 4px;
    //     &:last-child {
    //         margin-bottom: 0;
    //     }
    //     @media screen and ($lg) {
    //         width: auto;
    //         height: auto;
    //         margin-bottom: 0;
    //     }
    // }
    .menu-link {
        position: relative;
        text-transform: uppercase;
        font-family: $sans;
        line-height: $title-sans;
        letter-spacing: $spacing-sans;
        text-align: right;
        line-height: 1.1;
        margin-right: 1em;
        font-size: $scale03;
        padding-top: 1em;
        padding-bottom: 1em;
        padding-right: 1em;
        outline: none;
        width: 100%;
        color: $white;
        text-decoration: none;
        box-shadow: inset -3px 0 0 0 rgba($white, 0.2);
        display: inline-block;
        transition: height 0.2s 0s ease, padding-bottom 0.2s 0s ease, box-shadow 0.1s 0s ease, opacity 0.1s 0s ease;
        cursor: pointer;
        cursor: hand;
        margin-bottom: 5px;
        &:last-child {
            margin-bottom: 0;
        }
        .label {
            visibility: hidden;
            width: 2em;
        }
        &:hover {
            box-shadow: inset -3px 0 0 0 rgba($white, 1);
            .label {
                visibility: visible;
                width: auto;
            }
        }
        // @media screen and ($lg) {
        //     box-shadow: inset 0 0 0 0 rgba($white, 1);
        //     padding-bottom: 2em;
        //     opacity: 0.5;
        //     height: auto;
        // }
        // &:hover,
        // &:focus,
        // &.active {
        //     box-shadow: inset -6px 0px 0 0 rgba($white, 1);
        //     height: 4em;
        //     transition: height 0.2s 0s ease, padding-bottom 0.2s 0s ease, box-shadow 0.1s 0.1s ease, opacity 0.1s 0.1s ease;
        //     @media screen and ($lg) {
        //         box-shadow: inset 0 -5px 0 0 currentColor;
        //         padding-bottom: 3em;
        //         height: auto;
        //     }
        //     opacity: 1;
        //     outline: none;
        // }
        &[data-menuanchor="practices"] {
            color: $primary;
        }
        // span {
        //     display: none;
        //     @media screen and ($lg) {
        //         display: inline-block;
        //     }
        // }
    }
}

.hero__solution {
    .module-content {
        transition-property: all;
        &.below-viewport > * {
            opacity: 0;
            transform: translateY(100px);
        }
        &.above-the-fold > * {
            opacity: 1;
            transform: translateY(0);
            transition-delay: 0s;
            transition-duration: 0s;
            &.h1 {
                opacity: 0.5;
            }
        }
        &.in-viewport > * {
            opacity: 1;
            transform: translateY(0);
            transition-timing-function: $bezier;
            &:nth-child(1) {
                transition-delay: 0s;
                transition-duration: 1s;
                &.h1 {
                    opacity: 0.5;
                }
            }
            &:nth-child(2) {
                transition-delay: 0.1s;
                transition-duration: 1s;
            }
            &:nth-child(3) {
                transition-delay: 0.2s;
                transition-duration: 1s;
            }
            &:nth-child(4) {
                transition-delay: 0.3s;
                transition-duration: 1s;
            }
        }
    }
}
