.solutions {
    &__pillars {
        position: relative;
    }
    &__card {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: flex-end;
        @include padding-bottom(1.5);
        @include padding-top;
        @include grid-padding;
        .divider {
            margin-bottom: 0.4em;
            color: lighten($primary, 10%);
            transform: scaleX(0);
            transform-origin: left;
        }
        .divider.solutions__h1 {
            margin-bottom: 0.3em;
            width: 0.7em;
            background-color: $white;
            opacity: 0.5;
        }
        &:first-of-type {
            @include padding-bottom(1);
            &:before {
                content: "";
                position: absolute;
                width: 0.1rem;
                height: 0.75rem;
                background-color: currentColor;
                bottom: 3vmin;
                right: calc(50% + 0.2rem);
                transform: translateY(0) rotate(-45deg);
                transition: all 0.3s 0s ease;
                animation: 1s bounce-left infinite;
                z-index: 1;
            }
            &:after {
                content: "";
                position: absolute;
                width: 0.1rem;
                height: 0.75rem;
                background-color: currentColor;
                bottom: 3vmin;
                left: calc(50% + 0.2rem);
                transform: translateY(0) rotate(45deg);
                transition: all 0.3s 0s ease;
                animation: 1s bounce-right infinite;
                z-index: 1;
            }
        }
        &.hide-arrow {
            &:first-of-type:not(:last-child) {
                &:before {
                    bottom: -3vmin;
                }
                &:after {
                    bottom: -3vmin;
                }
            }
        }
    }
    &__video {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        video {
            min-width: 100%;
            min-height: 100%;
            overflow: hidden;
        }
    }
    .button {
        @include margin-top(0.5);
        @include margin-bottom(0.5);
    }
    &__text-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: baseline;
        justify-content: center;
        color: $white;
        text-align: left;
        @include component-padding;
        z-index: 1;
    }
    &__h1 {
        @include ligatures;
        font-family: $serif;
        font-size: $scale08;
        line-height: 0.8;
        letter-spacing: $spacing-serif-tight;
        font-weight: 700;
        margin-bottom: 0.5em;
        max-width: 8em;
        opacity: 0.5;
        b {
            display: block;
            transform: translateY(50%);
            opacity: 0;
            transition-duration: 0.1s;
            transition-delay: 0;
            transition-property: all;
            transition-timing-function: $bezier;
        }
        @media only screen and ($md) {
            font-size: $scale10;
        }
        @media only screen and ($xl) {
            font-size: $scale11;
        }
        @media only screen and ($xxl) {
            font-size: $scale12;
        }
    }
    &__h2 {
        @include ligatures;
        font-family: $serif;
        font-size: $scale06;
        line-height: 1.1;
        letter-spacing: $spacing-serif;
        font-weight: 400;
        margin-bottom: 0.5em;
        max-width: 14em;
        opacity: 1;
        b {
            display: block;
            transform: translateY(50%);
            opacity: 0;
            transition-duration: 0.1s;
            transition-delay: 0;
            transition-property: all;
            transition-timing-function: $bezier;
        }
        @media only screen and ($md) {
            font-size: $scale08;
        }
        @media only screen and ($lg) {
            font-size: $scale08;
        }
        @media only screen and ($xxl) {
            font-size: $scale10;
        }
    }
    &__link {
        @include ligatures;
        @include link--arrow--right;
        font-family: $serif;
        font-style: italic;
        font-size: $scale04;
        line-height: $title-serif;
        letter-spacing: $spacing-serif-large;
        color: lighten($primary, 10%);
        font-weight: 700;
        max-width: 24em;
        transform: translateY(50%);
        opacity: 0;
        transition-duration: 0.1s;
        transition-delay: 0;
        transition-property: all;
        transition-timing-function: $bezier;
        @media only screen and ($md) {
            font-size: $scale05;
        }
        @media only screen and ($xxl) {
            font-size: $scale06;
        }
    }
    &__subheadline {
        font-family: $sans;
        line-height: $title-sans;
        letter-spacing: $spacing-sans;
        margin-bottom: 1em;
        max-width: 35em;
        font-size: $scale04;
        transform: translateY(50%);
        opacity: 0;
        transition-duration: 0.1s;
        transition-delay: 0;
        transition-property: all;
        transition-timing-function: $bezier;
        @media only screen and ($md) {
            font-size: $scale04;
        }
        @media only screen and ($xxl) {
            font-size: $scale05;
        }
    }
    &__contact {
        @include grid-padding;
        @include padding-top;
        @include padding-bottom;
        width: 100vw;
        min-height: 100vh;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: darken($black, 10%);
        .divider {
            margin-bottom: 0.8em;
        }
        &__text-container {
            width: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
            @media screen and ($md) {
                width: calc(100% / 10 * 10);
            }
            @media screen and ($xl) {
                width: calc(100% / 12 * 10);
            }
            @media screen and ($xxl) {
                width: calc(100% / 12 * 8);
            }
        }
        &__h1 {
            @include ligatures;
            font-family: $serif;
            font-size: $scale06;
            line-height: 1;
            letter-spacing: $spacing-serif-tight;
            font-weight: 700;
            margin-bottom: 0.75em;
            max-width: 10em;
            @media only screen and ($md) {
                font-size: $scale07;
                max-width: none;
            }
            @media only screen and ($lg) {
                font-size: $scale08;
            }
            @media only screen and ($xl) {
                font-size: $scale09;
            }
            @media only screen and ($xxl) {
                font-size: $scale10;
            }
        }
        &__subhead {
            font-family: $sans;
            line-height: $title-sans;
            letter-spacing: $spacing-sans;
            margin-bottom: 2em;
            max-width: 32em;
            opacity: 0.25;
            font-size: $scale04;
            @media only screen and ($md) {
                font-size: $scale05;
            }
            @media only screen and ($xxl) {
                font-size: $scale06;
            }
        }
        &__link {
            @include ligatures;
            font-family: $serif;
            font-style: italic;
            line-height: 1.5;
            letter-spacing: $spacing-serif-large;
            font-weight: 700;
            max-width: 24em;
            color: $primary;
            text-decoration: none;
            @media (hover) {
                &:hover,
                &:focus {
                    color: $white;
                }
            }
            &--container {
                margin-bottom: 2em;
                margin-left: 1em;
                margin-right: 1em;
                @media screen and ($md) {
                    margin-bottom: 1em;
                }
            }
            &--group {
                width: 100%;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content: center;
                max-width: 40em;
                font-size: $scale04;
                @media only screen and ($md) {
                    font-size: $scale05;
                    flex-direction: row;
                    flex-wrap: wrap;
                }
                @media only screen and ($xxl) {
                    font-size: $scale06;
                }
            }
        }
    }
    &__menu {
        &__link {
            width: 100%;
            color: $white;
            text-decoration: none;
            box-shadow: inset -4px 0 0 0 rgba($white, 0.2);
            display: inline-block;
            font-family: $sans;
            line-height: $title-sans;
            letter-spacing: $spacing-sans;
            transition: height 0.2s 0s ease, padding-bottom 0.2s 0s ease, box-shadow 0.1s 0s ease, opacity 0.1s 0s ease;
            cursor: pointer;
            cursor: hand;
            font-size: $scale03;
            height: 3em;
            @media screen and ($md) {
                font-size: $scale03;
            }
            @media screen and ($lg) {
                box-shadow: inset 0 0 0 0 rgba($white, 1);
                padding-bottom: 2em;
                opacity: 0.5;
                height: auto;
            }
            @media screen and ($xxl) {
                font-size: $scale04;
            }
            @media (hover) {
                &:hover,
                &.active {
                    box-shadow: inset -6px 0px 0 0 rgba($white, 1);
                    height: 4em;
                    transition: height 0.2s 0s ease, padding-bottom 0.2s 0s ease, box-shadow 0.1s 0.1s ease, opacity 0.1s 0.1s ease;
                    @media screen and ($lg) {
                        box-shadow: inset 0 -5px 0 0 currentColor;
                        padding-bottom: 3em;
                        height: auto;
                    }
                    opacity: 1;
                }
            }
            &:focus {
                outline: none;
            }
            &[data-menuanchor="practices"] {
                color: $primary;
            }
            span {
                display: none;
                @media screen and ($lg) {
                    display: inline-block;
                }
            }
            &_group {
                display: flex;
                flex-wrap: nowrap;
                height: 50vh;
                flex-direction: column;
                justify-content: center;
                @media screen and ($lg) {
                    @include component-padding;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: flex-end;
                }
                &_container {
                    margin-bottom: 4px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    @media screen and ($lg) {
                        width: auto;
                        height: auto;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

.solutions__text-container.visible {
    b {
        transform: translateY(0%);
        opacity: 1;
        transition-duration: 0.1s;
        transition-property: all;
        transition-timing-function: $bezier;
    }
    @for $i from 1 through 5 {
        b:nth-of-type(#{$i}) {
            transition-delay: calc(0.4s + (0.05s * #{$i}));
            // transition-delay: calc(0.2s * (0.1 * #{random(25)}));
            // transition-duration: calc(0.05s * (0.1 * #{random(25)}));
        }
    }
    .solutions__subheadline {
        transform: translateY(0%);
        opacity: 1;
        transition-duration: 0.2s;
        transition-delay: 0.7s;
        transition-property: all;
        transition-timing-function: $bezier;
    }
    .solutions__link {
        transform: translateY(0%);
        opacity: 1;
        transition-duration: 0.2s;
        transition-delay: 0.7s;
        transition-property: all;
        transition-timing-function: $bezier;
    }
    .divider {
        transform: scaleX(1);
        transition-duration: 0.1s;
        transition-delay: 0.7s;
        transition-property: transform;
        transition-timing-function: $bezier;
    }
}

#solutions__menu {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 6px;
    color: $white;
    z-index: 10;
    transition: all 0.2s 0s ease;
    @media screen and ($lg) {
        right: auto;
        top: auto;
        transform: translate(0, 0);
        width: 100%;
        bottom: 0;
        left: 0;
        @include grid-padding;
    }
    &.hide {
        transform: translate(100%, -50%);
        @media screen and ($lg) {
            transform: translate(0%, 100%);
        }
    }
    &.hide-bottom {
        opacity: 0;
    }
    &.absolute {
        position: absolute;
    }
}
