.temp-share {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gio {
    &__checkbox {
        appearance: none;
        display: none;
    }
    &__group {
        position: relative;
    }
    &__icon-label {
        position: relative;
        list-style: none;
    }
    &__icon-container {
        list-style: none;
        position: absolute;
        top: 0;
        left: 0;
    }
    &__icon {
        width: 4rem;
        height: 4rem;
        margin: 1px;
        cursor: pointer;
        cursor: hand;
        display: block;
        position: relative;
        background-size: 30%, contain;
        background-position: center;
        background-repeat: no-repeat;
        overflow: hidden;
        &:hover {
            
        }
        &:after {
            content: "";
            position: absolute;
            display: block;
            background-color: red;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;

            
        }
    }
}

@for $i from 1 through 6 {
    .gio__icon-container:nth-of-type(#{$i}) {
        .gio__icon {
            z-index: 14 - $i - $i;
        }
        .gio__icon:after {
            z-index: 14 - $i - $i - 1;
        }
    }
}

.social-share__folded {
    @include component-padding;
    width: 100%;
    @media screen and ($lg) {
        width: calc(100% / 12 * 2);
    }
    @media screen and ($xxl) {
        width: calc(100% / 12 * 3);
    }
    &__group {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        position: relative;
    }
    &__button {
        z-index: 0;
        margin: 1px;
        width: 3rem;
        height: 3rem;
    }
    &__label {
        width: 4rem;
        position: relative;
        display: block;
        height: 100%;
        width: 100%;
    }
    .social-share__group {
        @for $i from 1 through 5 {
            .social-share__icon-container:nth-of-type(#{$i}) {
                transition-delay: calc(0.1s + (0.05s * #{$i}));
                transition-duration: 0.01s * (6 - $i);
                transition-timing-function: ease-in;
                opacity: 0;
            }
        }
    }
    #social-share__folded__checkbox:checked ~ .social-share__folded__label .button--tertiary {
        color: $white;
        &:before {
            transform: scaleY(1);
        }
    }
}

@for $i from 2 through 6 {
    #gio__checkbox:checked ~ .gio__icon-container:nth-of-type(#{$i + 1}) {
        transform: translateY(calc((100% * (-1 + #{$i}))));
        transition-delay: calc(0.1s + (0.05s * #{$i}));
        transition-duration: 0.05s * (6 - $i);
        transition-timing-function: ease-out;
        opacity: 1;
    }
}

@for $i from 1 through 20 {
    .social-share__icon-container:nth-of-type(#{$i}) .social-share__icon.in-viewport {
        transition-delay: calc(0.1s + (0.05s * #{$i}));
        transform: translateY(0%);
        opacity: 1;
    }
}
