.hero-profile .headline {
    line-height: 1.05;
    font-size: $scale08;
    @media only screen and ($md) {
        font-size: $scale09;
    }
    @media only screen and ($lg) {
        font-size: $scale08;
    }
    @media only screen and ($xl) {
        font-size: $scale09;
    }
    @media only screen and ($xxl) {
        font-size: $scale11;
    }
}

.hero-profile-title,
.hero-profile-office {
    letter-spacing: 0.02em;
    font-size: $scale03;
    @media only screen and ($md) {
        font-size: $scale04;
    }
    @media only screen and ($xxl) {
        font-size: $scale05;
    }
}

$scale03: 0.8077rem;
$scale04: 1rem;
$scale05: 1.3077rem;
$scale08: 2.6154rem;
$scale09: 3.4231rem;
$scale11: 5.5385rem;
$primary: #a9c000;
$primary-darker: #97a911;

.headline:first-child:before {
    content: "";
    display: block;
    position: relative;
    background-color: $primary;
    width: 0.9em;
    margin-bottom: 0.4em;
    height: 4px;
    @media screen and ($lg) {
        height: 5px;
        width: 0.7em;
        margin-bottom: 0.35em;
    }
    @media screen and ($xxl) {
        height: 6px;
    }
}

.eyebrow:first-child:before, {
    &:first-child:before {
        content: "";
        display: block;
        position: relative;
        background-color: $primary;
        width: 2.4em;
        margin-bottom: 1.2em;
        height: 4px;
        @media screen and ($lg) {
            width: 2em;
            margin-bottom: 1em;
        }
        @media screen and ($xxl) {
            height: 6px;
        }
    }
}
