.module.hero {
    @include grid-padding;
    width: 100%;
    .module-content {
        @include component-padding;
    }
}

.module {
    width: 100%;
    @include grid-padding;
    .module-content {
        width: calc(100% / 12 * 8);
        @include component-padding;
    }
}

$icons-all: ( razorfish: "\EA02", twitter: "\EA0B", linkedin: "\EA0D", facebook: "\EA05", weibo: "\EA0C", mail: "\EA07", share: "\EA09", dropdown: "\EA01", tick: "\EA0A", play: "\EA08", arrow-left: "\EA03", arrow-right: "\EA04", info: "\EA06", scroll: "\EA0E", );
@each $name,
$icon in $icons-all {
    .icon-#{$name}:before {
        @include icon-base-styles;
        content: $icon;
    }
}

@mixin padding-top($multiplier: 1) {
    padding-top: 20vw * $multiplier;
    @media screen and ($md) {
        padding-top: 15vw * $multiplier;
    }
    @media screen and ($lg) {
        padding-top: 10vw * $multiplier;
    }
}

@mixin padding-bottom($multiplier: 1) {
    padding-bottom: 20vw * $multiplier;
    @media screen and ($md) {
        padding-bottom: 15vw * $multiplier;
    }
    @media screen and ($lg) {
        padding-bottom: 10vw * $multiplier;
    }
}

@mixin col($content-col, $grid-col: 12) {
    width: calc(((80% - (2rem * ($grid-col - 1))) / $grid-col * $content-col) + (2rem * ($content-col - 1)));
}

.body-copy-flexible {
    padding: 0; // remove previous padding
    margin: 0; // remove previous margin
    @include padding-top;
    @include padding-bottom;
    display: flex;
    flex-direction: column;
    align-items: center;
    .module-content {
        padding: 0; // remove previous padding
        margin: 0; // remove previous margin
        @include col(4, 4);
        @media screen and ($md) {
            @include col(6, 6);
        }
        @media screen and ($lg) {
            @include col(8, 12);
        }
        @media screen and ($xl) {
            @include col(6, 12);
        }
    }
    .body-copy-flexible .module-content:nth-of-type(2) {
        // Remove this "nth-of-type(2)" styling and left / right margin / padding
        padding-left: 0;
        padding-right: 0;
    }
}

.article-sidebar {
    position: relative;
    padding: 0; // remove previous padding
    margin: 0; // remove previous margin
    margin-left: 10vw;
    @include padding-top;
    @include col(4, 4);
    @media screen and ($md) {
        @include col(6, 6);
    }
    @media screen and ($lg) {
        @include col(8, 12);
    }
    @media screen and ($xl) {
        @include col(3, 12);
        position: absolute;
    }
    .module-content {
        width: 100%;
        z-index: 1;
        @media screen and ($md) {
            column-count: 2;
            column-gap: 2rem;
        }
        @media screen and ($xl) {
            column-count: 1;
        }
    }
}

$bezier: cubic-bezier(.32, .01, 0, 1);
$scale04: 1rem;
$scale05: 1.3077rem;
$scale08: 2.6154rem;
$scale09: 3.4231rem;
$scale10: 4.2308rem;
$scale11: 5.5385rem;
.contact-promo {
    .eyebrow {
        line-height: 1;
        letter-spacing: 0.02em;
        margin-bottom: 0.25em;
        font-size: $scale04;
        text-transform: uppercase;
        @media only screen and ($xxl) {
            font-size: $scale05;
        }
    }
    .headline {
        line-height: 1.1;
        letter-spacing: 0.02em;
        font-weight: 700;
        margin-bottom: 0.2em;
        max-width: 12em;
    }
    .subhead {
        font-style: italic;
        line-height: 1;
        letter-spacing: 0.02em;
        font-size: $scale08;
        @media only screen and ($md) {
            font-size: $scale09;
        }
        @media only screen and ($lg) {
            font-size: $scale10;
        }
        @media only screen and ($xxl) {
            font-size: $scale11;
        }
    }
}

.simple-header {
    display: flex;
    @media screen and ($md) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .headline {
        margin-bottom: 1em;
        flex-direction: column;
        align-items: flex-start;
        @media screen and ($md) {
            margin-bottom: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}
