.contact-promo .eyebrow {
    font-family: $sans;
    line-height: 1;
    letter-spacing: 0;
    margin-bottom: 0em;
    max-width: 24em;
    color: $primary;
    margin-bottom: 0.25em;
    font-size: $scale04;
    text-transform: uppercase;
    @media only screen and ($md) {
        font-size: $scale05;
    }
    @media only screen and ($xxl) {
        font-size: $scale06;
    }
}

$scale01: 0.5rem;
$scale02: 0.6154rem;
$scale03: 0.8077rem;
$scale04: 1rem;
$scale05: 1.3077rem;
$scale06: 1.6154rem;
$scale07: 2.1154rem;
$scale08: 2.6154rem;
$scale09: 3.4231rem;
$scale10: 4.2308rem;
$scale11: 5.5385rem;
$scale12: 6.8462rem;
