.newsletter-signup {
    @include padding-top(0.75);
    @include padding-bottom(0.75);
    @media screen and ($xl) {
        @include padding-top(0.5);
        @include padding-bottom(0.5);
    }
}

@mixin padding-top($multiplier: 1) {
    padding-top: 20vw * $multiplier;
    @media screen and ($md) {
        padding-top: 15vw * $multiplier;
    }
    @media screen and ($lg) {
        padding-top: 10vw * $multiplier;
    }
}

@mixin padding-bottom($multiplier: 1) {
    padding-bottom: 20vw * $multiplier;
    @media screen and ($md) {
        padding-bottom: 15vw * $multiplier;
    }
    @media screen and ($lg) {
        padding-bottom: 10vw * $multiplier;
    }
}

@mixin grid-padding {
    padding-left: calc(10vw - 1rem);
    padding-right: calc(10vw - 1rem);
}


$scale01: 0.5rem;
$scale02: 0.6154rem;
$scale03: 0.8077rem;
$scale04: 1rem;
$scale05: 1.3077rem;
$scale06: 1.6154rem;
$scale07: 2.1154rem;
$scale08: 2.6154rem;
$scale09: 3.4231rem;
$scale10: 4.2308rem;
$scale11: 5.5385rem;
$scale12: 6.8462rem;
