.hero--text {
    &-a {
        color: $white;
        .hero__background {
            background-color: $color-theme-a;
        }
        .divider {
            background-color: $black-divider;
        }
    }
    &-b {
        color: $white;
        .hero__background {
            background-color: $color-theme-b;
        }
        .divider {
            background-color: $black-divider;
        }
    }
    &-c {
        color: $white;
        .hero__background {
            background-color: $color-theme-c;
        }
        .divider {
            background-color: $black-divider;
        }
    }
    &-d {
        color: $white;
        .hero__background {
            background-color: $color-theme-d;
        }
        .divider {
            background-color: $primary;
        }
    }
    &-e {
        color: $white;
        .hero__background {
            background-color: $color-theme-e;
        }
        .divider {
            background-color: $black-divider;
        }
    }
    &-f {
        color: $white;
        .hero__background {
            background-color: $color-theme-f;
        }
        .divider {
            background-color: $black-divider;
        }
    }
}

.theme-,
.hero--text {
    &-white {
        color: $white;
        div[class*="background"] {
            background-color: $black-divider;
        }
        .divider {
            background-color: $white;
        }
    }
    &-white-accent {
        color: $white;
        p[class*="eyebrow"]:first-child {
            color: lighten($primary, 10%);
        }
        div[class*="background"] {
            background-color: $black-divider;
        }
        .divider {
            background-color: lighten($primary, 10%);
        }
    }
    &-black {
        color: $black-divider;
        div[class*="background"] {
            background-color: $off-white;
        }
        .divider {
            background-color: $black-divider;
        }
    }
    &-black-accent {
        color: $black-divider;
        p[class*="eyebrow"]:first-child {
            color: lighten($primary, 10%);
        }
        div[class*="background"] {
            background-color: $off-white;
        }
        .divider {
            background-color: lighten($primary, 10%);
        }
    }
}

.theme {
    &--smart {
        .link {
            text-decoration: underline;
            color: currentColor;
        }
        .link--arrow--right,
        .link--primary,
        .link {
            @media (hover) {
                &:hover {
                    color: currentColor;
                    opacity: 0.5;
                }
            }
        }
        $primary-smart: #f4ac00;
        $black-smart: #222424;
        $gray-smart: #3d3d3d;
        $off-white-smart: #f3f3f3;
        p[class*="eyebrow"] {
            color: $primary-smart;
        }
        .divider {
            background-color: $primary-smart !important;
        }
        .contact-info__label {
            color: $primary-smart;
        }
        .social-share--folded__icon {
            @media (hover) {
                &:hover {
                    background-color: darken($gray, 5%);
                }
            }
            &:focus {
                background-color: darken($gray, 5%);
            }
            &:active,
            &:target {
                background-color: darken($gray, 10%);
            }
        }
        .body-copy--dark {
            background-color: $gray-smart;
        }
        .body-copy__container--dark {
            background-color: $gray-smart;
        }
        .pull-quote {
            background-color: $black-smart;
        }
        .body-copy__label {
            color: $primary-smart;
        }
        .content-feed--results {
            .content-feed__icon {
                fill: $primary-smart;
            }
            @each $n in (1 3 5) {
                .content-feed__item:nth-child(#{$n}) {
                    background-color: $black-smart;
                    color: $off-white-smart;
                }
            }
            @each $n in (2 4 6) {
                .content-feed__item:nth-child(#{$n}) {
                    background-color: $off-white-smart;
                    color: $black-smart;
                }
            }
        }
        .theme-gray {
            background-color: $off-white-smart;
            color: $black;
        }
        .body-copy__inline-pull-quote__author {
            color: $primary-smart;
        }
    }
    &--he-for-she {
        $primary-heforshe: #ff1d66;
        $black-heforshe: #222424;
        $gray-heforshe: #3d3d3d;
        $off-white-heforshe: #f3f3f3;
        p[class*="eyebrow"] {
            color: $primary-heforshe;
        }
        &.hero {
            color: $white;
        }
        .divider {
            background-color: $primary-heforshe !important;
        }
        .contact-info__label {
            color: $primary-heforshe;
        }
        .link {
            color: currentColor;
            text-decoration: underline;
        }
        .link--arrow--right,
        .link--primary,
        .link {
            @media (hover) {
                &:hover {
                    color: currentColor;
                    opacity: 0.5;
                }
            }
        }
        .social-share--folded__icon {
            @media (hover) {
                &:hover {
                    background-color: darken($gray, 5%);
                }
            }
            &:focus {
                background-color: darken($gray, 5%);
            }
            &:active,
            &:target {
                background-color: darken($gray, 10%);
            }
        }
        .body-copy--dark {
            background-color: $gray-heforshe;
        }
        .body-copy__container--dark {
            background-color: $gray-heforshe;
        }
        .pull-quote {
            background-color: $black-heforshe;
        }
        .body-copy__label {
            color: $primary-heforshe;
        }
        .content-feed--results {
            .content-feed__icon {
                fill: $primary-heforshe;
            }
            @each $n in (1 3 5) {
                .content-feed__item:nth-child(#{$n}) {
                    background-color: $black-heforshe;
                    color: $off-white-heforshe;
                }
            }
            @each $n in (2 4 6) {
                .content-feed__item:nth-child(#{$n}) {
                    background-color: $off-white-heforshe;
                    color: $black-heforshe;
                }
            }
        }
        .color-theme-1 {
            background-color: $gray-heforshe;
            color: $white;
            .body-copy__body {
                color: darken($white, 50%);
            }
        }
    }
}

.image-grading {
    &--darker {
        &:before {
            content: "";
            background-color: rgba($black, 0.4);
            background-blend-mode: darken;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }
    &--green {
        &:before {
            content: "";
            background-image: linear-gradient(90deg, $tertiary, darken($tertiary, 10%));
            background-color: rgba(0, 0, 0, 0.5);
            background-blend-mode: darken;
            opacity: 0.9;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }
}
