.simple-title {
    position: relative;
    width: 100%;
    height: 35vh;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    background-color: $white;
    @media screen and ($md) {
        height: 30vh;
    }
    @media screen and ($lg) {
        height: 40vh;
    }
    .module-content {
        @include grid-padding;
        @include component-margin;
        width: 100%;
        height: 35vh;
        @media screen and ($md) {
            height: 30vh;
        }
        @media screen and ($lg) {
            height: 40vh;
        }
        position: fixed;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-end;
        @include padding-top;
        @include padding-bottom(0.6);
    }
    .headline {
        @include ligatures;
        font-family: $serif;
        font-weight: 700;
        line-height: $title-serif;
        letter-spacing: $spacing-serif;
        font-size: $scale06;
        max-width: 12em;
        position: relative;
        margin-bottom: 0.5em;
        @media screen and ($md) {
            font-size: $scale08;
            margin-bottom: 0;
        }
        @media screen and ($xxl) {
            font-size: $scale10;
        }
        &:last-child {
            margin-bottom: 0;
        }
        &:before {
            content: "";
            display: block;
            position: relative;
            background-color: $primary;
            width: 0.9em;
            margin-bottom: 0.4em;
            height: 4px;
            @media screen and ($lg) {
                height: 5px;
                width: 0.7em;
                margin-bottom: 0.35em;
            }
            @media screen and ($xxl) {
                height: 6px;
            }
        }
    }
    &_home {
        height: 45vh;
        @media screen and ($md) {
            height: 50vh;
        }
        @media screen and ($lg) {
            height: 55vh;
        }
        .module-content {
            height: 45vh;
            @media screen and ($md) {
                height: 50vh;
            }
            @media screen and ($lg) {
                height: 55vh;
            }
        }
        .link--underline {
            font-style: italic;
            color: $primary;
        }
    }
}

.title {
    @include grid-padding;
    @include padding-top(1);
    @include padding-bottom(0.5);
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 100%;
    @media screen and ($md) {
        flex-direction: row;
        align-items: flex-end;
        // min-height: 20vw;
    }
    .headline {
        @include ligatures;
        font-family: $serif;
        font-weight: 700;
        line-height: $solid-serif;
        letter-spacing: $spacing-serif;
        font-size: $scale06;
        margin-bottom: 0.25em;
        @media screen and ($md) {
            font-size: $scale08;
        }
        @media screen and ($xxl) {
            font-size: $scale09;
        }
        &:last-child {
            margin-bottom: 0;
        }
        &:first-child:before {
            content: "";
            display: block;
            position: relative;
            background-color: $primary;
            width: 0.9em;
            margin-bottom: 0.4em;
            height: 4px;
            @media screen and ($lg) {
                height: 5px;
                width: 0.7em;
                margin-bottom: 0.35em;
            }
            @media screen and ($xxl) {
                height: 6px;
            }
        }
    }
    .subhead {
        font-family: $sans;
        line-height: $prose-sans;
        letter-spacing: $spacing-sans;
        font-size: $scale04;
        @media only screen and ($md) {
            font-size: $scale05;
        }
        @media only screen and ($xxl) {
            font-size: $scale06;
        }
    }
    .module-content {
        @include component-padding;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .button-group {
        @include component-padding;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 2em;
        @media screen and ($md) {
            flex-wrap: nowrap;
        }
        @media screen and ($md) {
            margin-top: 0;
            max-width: 50%;
        }
        .button,
        .select {
            margin-bottom: 1em;
            @media screen and ($md) {
                margin-right: 0.5em;
                margin-bottom: 0;
            }
            &:last-child {
                margin-right: 0;
                margin-bottom: 0;
            }
        }
    }
    .tabs {
        @include component-padding;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        width: 100%;
        @include margin-top(0.25);
        @media screen and ($lg) {
            width: calc(100% / 12 * 5);
            margin-top: 0;
            margin-bottom: 0;
        }
        @media screen and ($xxl) {
            width: calc(100% / 12 * 4);
        }
        &:before {
            content: "";
            position: absolute;
            width: calc(100% - 1rem - 1rem);
            height: 2px;
            background-color: currentColor;
            opacity: 0.2;
            bottom: 0;
            left: 0;
            @include component-margin;
        }
    }
    .tab {
        font-family: $sans;
        font-size: $scale03;
        font-weight: 400;
        font-style: normal;
        line-height: 1.1;
        letter-spacing: 0.025em;
        text-transform: uppercase;
        max-width: 20em;
        color: rgba($black, 0.75);
        padding-top: 1em;
        padding-bottom: 1em;
        position: relative;
        cursor: pointer;
        cursor: hand;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media screen and ($md) {
            font-size: $scale04;
            color: rgba($black, 0.6);
        }
        @media screen and ($lg) {
            font-size: $scale03;
        }
        @media screen and ($xl) {
            font-size: $scale04;
        }
        &:after {
            content: "";
            position: absolute;
            width: calc(100%);
            height: 4px;
            background-color: $primary;
            opacity: 1;
            bottom: 0;
            left: 0;
            transform: scaleY(0);
            transform-origin: bottom;
            transition: transform 0.1s 0.1s ease-in-out;
        }
        &.active {
            color: rgba($black, 1);
            &:after {
                transform: scaleY(1);
            }
        }
        &:hover,
        &:focus {
            color: rgba($black, 1);
        }
    }
    &_gray {
        background-color: $gray;
    }
    &_text-black {
        color: $black;
        background-color: $gray;
    }
    &_text-white {
        color: $white;
        background-color: $black;
    }
    &_red {
        color: $white;
        background-color: $red;
        .headline:first-child:before {
            background-color: $black-divider;
        }
    }
    &_black {
        color: $white;
        background-color: $black;
        .headline:first-child:before {
            background-color: $primary;
        }
    }
}
