.simple-title {
    position: relative;
    width: 100%;
    height: 35vh;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    
    @media screen and ($md) {
        height: 30vh;
    }
    @media screen and ($lg) {
        height: 40vh;
    }
    .divider {
        margin-bottom: 1rem;
    }
    &__text-container {
        width: 100%;
        padding-left: 10vw;
        padding-right: 10vw;
        height: 35vh;
        @media screen and ($md) {
            height: 30vh;
        }
        @media screen and ($lg) {
            height: 40vh;
            padding-left: 5vw;
            padding-right: 5vw;
        }
        @media screen and ($xl) {
            padding-left: 10vw;
            padding-right: 10vw;
        }
        position: fixed;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-end;
        @include padding-top;
        @include padding-bottom(0.6);
        &.not-in-viewport {
            opacity: 0;
        }
        &.not-in-viewport.in-viewport {
            opacity: 1;
        }
    }
    &__group {
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
    }
    &__title {
        @include ligatures;
        font-family: $serif;
        font-weight: 700;
        line-height: $title-serif;
        letter-spacing: $spacing-serif;
        font-size: $scale06;
        max-width: 12em;
        position: relative;
        margin-bottom: 0.5em;
        @media screen and ($md) {
            font-size: $scale08;
            margin-bottom: 0;
        }
        @media screen and ($xxl) {
            font-size: $scale10;
        }
        &:last-child {
            margin-bottom: 0;
        }
        &:before {
            content: "";
            display: block;
            position: absolute;
            top: -0.4em;
            left: 0;
            background-color: #a9c000;
            border: none;
            margin-left: 0;
            margin-right: 0;
            margin-top: 0;
            margin-bottom: 0;
            -webkit-transform-origin: left;
            transform-origin: left;
            width: 0.8em;
            height: 4px;
            @media screen and ($lg) {
                height: 5px;
            }
            @media screen and ($xxl) {
                height: 6px;
            }
        }
    }
    &__phone {
        font-family: $sans;
        font-weight: 400;
        line-height: 1;
        letter-spacing: $spacing-sans;
        font-size: $scale04;
        color: $primary;
        @media screen and ($md) {
            font-size: $scale04;
        }
        @media screen and ($lg) {
            font-size: $scale05;
        }
        @media screen and ($xxl) {
            font-size: $scale06;
        }
    }
    &--home {
        height: 45vh;
        @media screen and ($md) {
            height: 50vh;
        }
        @media screen and ($lg) {
            height: 55vh;
        }
        .simple-title__text-container {
            height: 45vh;
            @media screen and ($md) {
                height: 50vh;
            }
            @media screen and ($lg) {
                height: 55vh;
            }
        }
        .link {
            font-style: italic;
            @include link--underline--animated;
            color: $primary;

        }
    }
}

.title {
    @include grid-padding;
    @include padding-top(1);
    @include padding-bottom(0.5);
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    // min-height: 40vw;
    position: relative;
    width: 100%;
    .divider {
        margin-bottom: 1.25rem;
    }
    @media screen and ($md) {
        flex-direction: row;
        align-items: flex-end;
        // min-height: 20vw;
    }
    &__headline {
        @include ligatures;
        font-family: $serif;
        font-weight: 700;
        line-height: $solid-serif;
        letter-spacing: $spacing-serif;
        font-size: $scale06;
        margin-bottom: 0.25em;
        &:last-child {
            margin-bottom: 0;
        }
        @media screen and ($md) {
            font-size: $scale07;
        }
        @media screen and ($lg) {
            font-size: $scale08;
        }
        @media screen and ($xxl) {
            font-size: $scale09;
        }
    }
    &__subheadline {
        font-family: $sans;
        line-height: $prose-sans;
        letter-spacing: $spacing-sans;
        font-size: $scale04;
        @media only screen and ($md) {
            font-size: $scale05;
        }
        @media only screen and ($xxl) {
            font-size: $scale06;
        }
    }
    &__text-container {
        @include component-padding;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__button-group {
        @include component-padding;
        display: flex;
        flex-direction: row;
        margin-top: 2em;
        @media screen and ($md) {
            margin-top: 0;
            max-width: 50%;
        }
        .button,
        .select {
            width: 100%;
            margin-right: 0.5em;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    &__tab-group {
        @include component-padding;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        width: 100%;
        @include margin-top(0.5);
        @include margin-bottom(0.25);
        @media screen and ($lg) {
            width: calc(100% / 12 * 5);
            margin-top: 0;
            margin-bottom: 0;
        }
        @media screen and ($xxl) {
            width: calc(100% / 12 * 4);
        }
        &:after {
            content: "";
            position: absolute;
            width: calc(100% - 1rem - 1rem);
            height: 2px;
            background-color: currentColor;
            opacity: 0.2;
            bottom: 0;
            left: 0;
            @include component-margin;
        }
    }
    &__tab {
        font-family: $sans;
        font-size: $scale03;
        font-weight: 400;
        font-style: normal;
        line-height: 1.1;
        letter-spacing: 0.025em;
        text-transform: uppercase;
        max-width: 20em;
        color: rgba($black, 0.75);
        padding-top: 1em;
        padding-bottom: 1em;
        position: relative;
        cursor: pointer;
        cursor: hand;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media screen and ($md) {
            font-size: $scale04;
            color: rgba($black, 0.6);
        }
        @media screen and ($lg) {
            font-size: $scale03;
        }
        @media screen and ($xl) {
            font-size: $scale04;
        }
        &:after {
            content: "";
            position: absolute;
            width: calc(100%);
            height: 4px;
            background-color: $primary;
            opacity: 1;
            bottom: 0;
            left: 0;
            z-index: 1;
            transform: scaleY(0);
            transform-origin: bottom;
            transition: transform 0.1s 0.1s ease-in-out;
        }
        &.active {
            color: rgba($black, 1);
            &:after {
                transform: scaleY(1);
            }
        }
        &:hover,
        &:focus {
            color: rgba($black, 1);
        }
    }
    &--dark {
        color: $black;
        background-color: $gray;
    }
    &--black {
        color: $white;
        background-color: $black;
    }
}
