/* Miller */

@font-face {
    font-family: 'Miller Display';
    src: url(../fonts/miller/MillerDisplayRoman.woff);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Miller Display';
    src: url(../fonts/miller/MillerDisplayItalic.woff);
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: 'Miller Display';
    src: url(../fonts/miller/MillerDisplayBold.woff);
    font-style: normal;
    font-weight: 700;
}


/* Gotham */

@font-face {
    font-family: 'Gotham';
    src: url(../fonts/gotham/Gotham-Medium.woff);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url(../fonts/gotham/Gotham-Light.woff);
    font-weight: 400;
    font-style: normal;
}

// Type scale "Le Corbusier" taken from http:/lamb.cc/typograph/
$scale01: 0.5rem;
$scale02: 0.6154rem;
$scale03: 0.8077rem;
$scale04: 1rem;
$scale05: 1.3077rem;
$scale06: 1.6154rem;
$scale07: 2.1154rem;
$scale08: 2.6154rem;
$scale09: 3.4231rem;
$scale10: 4.2308rem;
$scale11: 5.5385rem;
$scale12: 6.8462rem;
// Line Heights
$solid-serif: 1;
$solid-sans: 1;
$title-serif: 1.2;
$title-sans: 1.4;
$prose-serif: 1.8;
$prose-sans: 1.8;
// Font Stack
$serif: 'Miller Display',
Times,
Georgia,
serif;
$display: 'Miller Display',
Times,
Georgia,
serif;
$sans: 'Gotham',
Helvetica,
Arial,
sans-serif;
// Letter Spacing
$spacing-serif-tight: -0.02em;
$spacing-serif: -0.01em;
$spacing-serif-large: 0.015em;
$spacing-serif-mega: 0.1em;
$spacing-sans-tight: -0.04em;
$spacing-sans: -0.02em;
$spacing-sans-large: 0.02em;
$spacing-sans-mega: 0.05em;
html {
    font-size: 16px;
    color: $black;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}

.h1-serif {
    font-family: $display;
    font-size: $scale07;
    line-height: $title-serif;
    letter-spacing: $spacing-serif;
    font-weight: 700;
    @media only screen and ($md) {
        font-size: $scale08;
    }
    @media only screen and ($lg) {
        font-size: $scale09;
    }
    @media only screen and ($xl) {
        font-size: $scale10;
    }
    @media only screen and ($xxl) {
        font-size: $scale11;
    }
}

.h1-sans {
    font-family: $sans;
    font-size: $scale07;
    line-height: $title-sans;
    letter-spacing: $spacing-serif;
    font-weight: 700;
    @media only screen and ($md) {
        font-size: $scale08;
    }
    @media only screen and ($lg) {
        font-size: $scale09;
    }
    @media only screen and ($xl) {
        font-size: $scale10;
    }
    @media only screen and ($xxl) {
        font-size: $scale11;
    }
}

.h2-serif {
    font-family: $display;
    font-size: $scale07;
    line-height: $title-serif;
    letter-spacing: $spacing-serif;
    font-weight: 700;
    @media only screen and ($md) {
        font-size: $scale08;
    }
    @media only screen and ($lg) {
        font-size: $scale09;
    }
    @media only screen and ($xxl) {
        font-size: $scale10;
        line-height: $title-serif - 0.1;
    }
}

.h2-sans {
    font-family: $sans;
    font-size: $scale06;
    line-height: $title-sans;
    letter-spacing: $spacing-sans;
    font-weight: 700;
    @media only screen and ($md) {
        font-size: $scale07;
    }
    @media only screen and ($lg) {
        font-size: $scale08;
    }
    @media only screen and ($xxl) {
        font-size: $scale09;
    }
}

.h3-serif {
    font-family: $display;
    font-size: $scale06;
    line-height: $title-serif;
    letter-spacing: $spacing-serif-tight;
    font-weight: 700;
    @media only screen and ($md) {
        font-size: $scale07;
    }
    @media only screen and ($lg) {
        font-size: $scale08;
    }
    @media only screen and ($xxl) {
        font-size: $scale09;
    }
}

.h3-sans {
    font-family: $sans;
    font-size: $scale05;
    line-height: $title-sans;
    letter-spacing: $spacing-sans;
    font-weight: 700;
    @media only screen and ($md) {
        font-size: $scale06;
    }
    @media only screen and ($lg) {
        font-size: $scale07;
    }
    @media only screen and ($xxl) {
        font-size: $scale08;
    }
}

.h4-serif {
    font-family: $display;
    font-size: $scale05;
    line-height: $title-serif;
    letter-spacing: $spacing-serif-tight;
    font-weight: 700;
    @media only screen and ($md) {
        font-size: $scale06;
    }
    @media only screen and ($lg) {
        font-size: $scale07;
    }
    @media only screen and ($xxl) {
        font-size: $scale08;
    }
}

.h4-sans {
    font-family: $sans;
    font-size: $scale04;
    line-height: $title-sans;
    letter-spacing: $spacing-sans-tight;
    font-weight: 700;
    @media only screen and ($md) {
        font-size: $scale05;
    }
    @media only screen and ($lg) {
        font-size: $scale06;
    }
    @media only screen and ($xxl) {
        font-size: $scale07;
    }
}

.quote-large {
    font-family: $display;
    font-size: $scale05;
    font-style: italic;
    line-height: $prose-serif;
    letter-spacing: $spacing-serif-large;
    @media only screen and ($md) {
        font-size: $scale07;
    }
    @media only screen and ($xxl) {
        font-size: $scale09;
    }
}

.subheadline {
    font-family: $sans;
    font-size: $scale05;
    letter-spacing: $spacing-sans-tight;
    line-height: $title-sans;
    @media only screen and ($md) {
        font-size: $scale06;
    }
}

.eyebrow {
    font-family: $sans;
    font-size: $scale04;
    line-height: $title-sans;
    letter-spacing: $spacing-sans-large;
    text-transform: uppercase;
    @media only screen and ($md) {
        font-size: $scale05;
    }
    @media only screen and ($xxl) {
        font-size: $scale06;
    }
    small {
        font-size: $scale03;
        @media only screen and ($md) {
            font-size: $scale04;
        }
        @media only screen and ($xxl) {
            font-size: $scale05;
        }
    }
}

.author {
    font-family: $sans;
    font-size: $scale03;
    font-style: normal;
    line-height: $title-sans;
    letter-spacing: $spacing-sans;
    text-transform: uppercase;
    strong {
        font-weight: 700;
        margin-right: 0.5em;
    }
    @media only screen and ($md) {
        font-size: $scale04;
    }
    @media only screen and ($xxl) {
        font-size: $scale05;
    }
}

.body {
    font-family: $sans;
    line-height: $prose-sans;
    letter-spacing: $spacing-sans;
    margin-bottom: 1em;
    z-index: 10;
    font-size: $scale04;
    @media only screen and ($md) {
        font-size: $scale05;
    }
    @media only screen and ($xxl) {
        font-size: $scale06;
    }
    strong {
        font-weight: 700;
    }
    small {
        font-size: $scale03;
        @media only screen and ($md) {
            font-size: $scale04;
        }
        @media only screen and ($xxl) {
            font-size: $scale05;
        }
    }
    &-two-columns {
        columns: 1;
        @media screen and ($xl) {
            columns: 2;
            column-gap: 3em;
        }
    }
    &-lead {
        font-size: $scale05;
        @media only screen and ($md) {
            font-size: $scale06;
        }
        @media only screen and ($xxl) {
            font-size: $scale07;
        }
    }
}

.ul {
    list-style-type: none;
    li:before {
        content: "";
        width: 0.3em;
        height: 0.3em;
        background-color: #a9c000;
        margin-right: 0.9em;
        top: 50%;
        transform: translateY(-50%);
        display: inline-block;
    }
    li {
        margin-bottom: 0.5em;
    }
    li:last-of-type {
        margin-bottom: 0;
    }
}

.ol {
    list-style-type: none;
    counter-reset: li;
    li {
        margin-bottom: 0.5em;
        position: relative;
        margin-left: 0;
        &:before {
            content: counter(li);
            counter-increment: li;
            color: $primary;
            font-size: 0.8077em;
            font-weight: 700;
            width: 1.5em;
            display: inline-block;
        }
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

.link {
    line-height: $title-serif;
    text-decoration: none;
    position: relative;
    display: inline-block;
    cursor: pointer;
    cursor: hand;
    color: inherit;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
    hyphens: auto;
    -webkit-appearance: none;
    &:active,
    &:target {
        background-color: rgba($black, 0.03);
        transition: background-color 0s 0s;
    }
    @media screen and ($lg) {
        &:before {
            display: block;
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0%;
            transition: all 0.3s $bezier 0.1s;
            border-bottom-width: 0.1em;
            border-bottom-style: solid;
            border-bottom-color: inherit;
        }
        &:hover:before {
            width: 100%;
            transition: all 0.1s $bezier 0s;
        }
    }
    &--muted {
        color: darken ($gray, 10%);
        &:hover {
            color: darken ($gray, 20%);
        }
    }
    &--primary {
        color: $primary;
    }
    &--secondary {
        text-decoration: none;
        position: relative;
        display: inline-block;
        cursor: pointer;
        cursor: hand;
    }
    &--tertiary {
        font-style: italic;
    }
    &--arrow {
        margin-right: 1.5em;
        &:after {
            content: "→";
            position: absolute;
            margin-left: 0.5em;
        }
    }
    &--download {
        margin-left: 1.5em;
        &:after {
            content: "";
            display: block;
            @include icon-download-primary;
            content: "";
            width: 1em;
            height: 1em;
            background-size: 100% 100%, contain;
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            display: inline-block;
            left: -1.5em;
            top: 0;
        }
    }
    &:focus {
        outline: none;
    }
}

.h1-sans::selection,
.h1-serif::selection,
.h2-sans::selection,
.h2-serif::selection,
.h3-sans::selection,
.h3-serif::selection,
.h4-sans::selection,
.h4-serif::selection,
.body::selection,
.eyebrow::selection,
.link::selection,
.pull-quote::selection {
    background-color: $gray;
}

a[href^="tel"] {
    color: inherit;
    text-decoration: none;
}

// Style for typography page (part of the component list)
.typography {
    &__body {
        .row div {
            margin-bottom: 4em;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}
