/* Miller */

@font-face {
    font-family: 'MillerDisplay';
    src: url(../fonts/miller/MillerDisplayRoman.woff);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'MillerDisplay';
    src: url(../fonts/miller/MillerDisplayItalic.woff);
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: 'MillerDisplay';
    src: url(../fonts/miller/MillerDisplayBold.woff);
    font-style: normal;
    font-weight: 700;
}

/* Gotham */

@font-face {
    font-family: 'Gotham';
    src: url(../fonts/gotham/Gotham-Medium.woff);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham';
    src: url(../fonts/gotham/Gotham-Book.woff);
    font-weight: 400;
    font-style: normal;
}

/* Icons */

@font-face {
    font-family: 'razorfish-icons';
    src: url('../fonts/razorfish-icons.eot');
    src: url('../fonts/razorfish-icons.eot') format('embedded-opentype'), url('../fonts/razorfish-icons.ttf') format('truetype'), url('../fonts/razorfish-icons.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// Type scale "Le Corbusier" taken from http:/lamb.cc/typograph/
$scale01: 0.5rem;
$scale02: 0.6154rem;
$scale03: 0.8077rem;
$scale04: 1rem;
$scale05: 1.3077rem;
$scale06: 1.6154rem;
$scale07: 2.1154rem;
$scale08: 2.6154rem;
$scale09: 3.4231rem;
$scale10: 4.2308rem;
$scale11: 5.5385rem;
$scale12: 6.8462rem;
$scale13: calc($scale12 * $scale06);
// Line Heights
$solid-serif: 1;
$solid-sans: 1;
$title-serif: 1.2;
$title-sans: 1.4;
$prose-sans: 1.5;
// Font Stack
$serif: 'MillerDisplay',
Times,
Georgia,
serif;
$sans: "Gotham A",
"Gotham B",
Helvetica,
Arial,
sans-serif;
$icons: 'razorfish-icons';
// Letter Spacing
$spacing-serif-tight: 0;
$spacing-serif: 0;
$spacing-serif-large: 0.015em;
$spacing-serif-mega: 0.1em;
$spacing-sans-tight: -0.02em;
$spacing-sans: 0em;
$spacing-sans-large: 0.02em;
$spacing-sans-mega: 0.05em;
html {
    font-size: 16px;
    color: $black;
    font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}

.link {
    &:focus,
    &:target,
    &:active {
        outline: none;
    }
    &--primary,
    &--secondary,
    &--arrow--right,
    &--muted,
    &--underline {
        text-decoration: none;
        position: relative;
        display: inline-block;
        cursor: pointer;
        cursor: hand;
        color: inherit;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-all;
        word-break: break-word;
        hyphens: auto;
        -webkit-appearance: none;
        &:focus,
        &:active,
        &:target {
            outline: none;
            background-color: rgba($black, 0.03);
            transition: background-color 0s 0s;
        }
    }
    &--primary {
        font-weight: 800;
        &:hover {
            color: $primary;
        }
    }
    &--arrow {
        &--right {
            position: relative;
            font-weight: 700;
            transition: all 0.2s $bezier 0s;
            &:after {
                content: "\EA04";
                font-size: 0.4em;
                margin-left: 0.8em;
                color: currentColor;
                font-family: $icons;
                vertical-align: middle;
                transition: margin-left 0.2s 0s $bezier;
            }
            &:hover,
            &:focus {
                color: $primary;
            }
            &:hover:after,
            &:focus:after {
                margin-left: 1.4em;
            }
        }
    }
    &--underline {
        &:before {
            content: "";
            background-color: $primary;
            width: 0%;
            left: auto;
            right: 0;
            position: absolute;
            display: block;
            bottom: 0;
            height: 0.06em;
            min-height: 2px;
            max-height: 5px;
            transition: all 0.3s $bezier;
        }
        &:hover,
        &:focus {
            &:before {
                left: 0;
                right: auto;
                width: 100%;
            }
        }
        &:hover,
        &:focus {
            transition: color 0.05s $bezier 0.05s;
            color: $primary;
        }
    }
}



.h1-sans::selection,
.h1-serif::selection,
.h2-sans::selection,
.h2-serif::selection,
.h3-sans::selection,
.h3-serif::selection,
.h4-sans::selection,
.h4-serif::selection,
.body::selection,
.eyebrow::selection,
.link::selection,
.pull-quote::selection {
    background-color: $gray;
}

a[href^="tel"] {
    color: inherit;
    text-decoration: none;
}

// Style for typography page (part of the component list)
.typography {
    &__body {
        .row div {
            margin-bottom: 4em;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}
