.ui {
    width: 100vw;
    @include grid-padding;
    @include padding-top;
    @include padding-bottom;
    .button-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        @include component-padding;
    }
}

.video-play-button {
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    cursor: hand;
    border: solid $white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: background-color 0.2s 0s $bezier, transform 0.2s 0s $bezier;
    @media screen and ($xl) {
        width: 6rem;
        height: 6rem;
    }
    &:before {
        content: "";
        border-top: calc(4rem / 6) solid transparent;
        border-bottom: calc(4rem / 6) solid transparent;
        border-left: calc(4rem / 6 * 2 * 0.8660259) solid $white;
        position: absolute;
        left: 55%;
        top: 50%;
        transform: scale(1) translateX(-55%) translateY(-50%);
        transition: all 0.2s 0.1s ease-out;
        @media screen and ($xl) {
            // Equilateral Tringle
            border-top: calc(6rem / 6) solid transparent;
            border-bottom: calc(6rem / 6) solid transparent;
            border-left: calc(6rem / 6 * 2 * 0.8660259) solid $white;
        }
    }
    @media (hover) {
        &:hover {
            background-color: rgba($white, 0.1);
            transition: background-color 0s 0s $bezier, transform 0.1s 0s $bezier;
            transform: translate(-50%, -50%) scale(0.95);
        }
    }
    &:active,
    &:target {
        background-color: rgba($white, 0.4);
        transition: background-color 0s 0s $bezier;
    }
}

.button {
    text-transform: uppercase;
}

.button,
.select {
    display: inline-block;
    -webkit-appearance: none;
    background-clip: border-box;
    background-color: transparent;
    background-origin: content-box;
    border-radius: 0;
    border: 0;
    box-shadow: inset 0 0 0 2px rgba($black, 0.2);
    box-sizing: border-box;
    color: currentColor;
    cursor: hand;
    cursor: pointer;
    font-family: $sans;
    font-weight: 700;
    letter-spacing: $spacing-sans-large;
    line-height: $solid-sans;
    outline: none;
    overflow: hidden;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-left: 3em;
    padding-right: 3em;
    position: relative;
    text-decoration: none;
    font-size: $scale03;
    transition: all 0.2s ease-in 0s;
    display: flex;
    flex-direction: row;
    align-items: center;
    option:first-child {
        text-transform: uppercase;
    }
    @media screen and ($xxl) {
        font-size: $scale04;
    }
    @media (hover) {
        &:hover {
            outline: none;
            box-shadow: inset 0 0 0 2px rgba($black, 1);
            transition: all 0s ease-out 0s;
        }
    }
    &:focus {
        outline: none;
        box-shadow: inset 0 0 0 2px rgba($black, 1);
        transition: all 0s ease-out 0s;
    }
    &:active:after,
    &:target:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: currentColor;
        opacity: 0.05;
    }
    option {
        text-transform: none;
    }
    &--white {
        color: $white;
        box-shadow: inset 0 0 0 2px rgba($white, 0.2);
        @media (hover) {
            &:hover {
                box-shadow: inset 0 0 0 2px rgba($white, 1);
            }
        }
        &:focus {
            box-shadow: inset 0 0 0 2px rgba($white, 1);
        }
    }
    &--black {
        color: $black;
        box-shadow: inset 0 0 0 2px rgba($black, 0.2);
        @media (hover) {
            &:hover {
                box-shadow: inset 0 0 0 2px rgba($black, 1);
            }
        }
        &:focus {
            box-shadow: inset 0 0 0 2px rgba($black, 1);
        }
    }
    &--arrow {
        &.white {
            background-position-x: calc(100% + 2em);
            background-position-y: center;
            background-repeat: no-repeat;
            background-size: 1em auto;
            padding: 1.2em 3em 1.2em 1.2em;
        }
    }
}

.select {
    background-position-x: calc(100% + 2em);
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 1em auto;

    padding-right: 3em;
    padding-left: 1.5em;
    option {
        text-transform: capitalize;
        &:checked {
            text-transform: uppercase;
        }
    }
}


