.ui {
    width: 100vw;
}

.video-play-button {
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    cursor: hand;
    border: solid $white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    z-index: 30;
    transition: background-color 0.2s 0s $bezier, transform 0.2s 0s $bezier;
    @media screen and ($xl) {
        width: 6rem;
        height: 6rem;
    }
    &:before {
        content: "";
        border-top: calc(4rem / 6) solid transparent;
        border-bottom: calc(4rem / 6) solid transparent;
        border-left: calc(4rem / 6 * 2 * 0.8660259) solid $white;
        position: absolute;
        left: 55%;
        top: 50%;
        transform: scale(1) translateX(-55%) translateY(-50%);
        transition: all 0.2s 0.1s ease-out;
        @media screen and ($xl) {
            // Equilateral Tringle
            border-top: calc(6rem / 6) solid transparent;
            border-bottom: calc(6rem / 6) solid transparent;
            border-left: calc(6rem / 6 * 2 * 0.8660259) solid $white;
        }
    }
    &:hover {
        background-color: rgba($white, 0.1);
        transition: background-color 0s 0s $bezier, transform 0.1s 0s $bezier;
        transform: translate(-50%, -50%) scale(0.95);
    }
    &:active,
    &:target {
        background-color: rgba($white, 0.4);
        transition: background-color 0s 0s $bezier;
    }
}

.scroll-down-icon {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: solid currentColor;
    border-width: 0.15rem;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    &:after {
        content: "";
        position: absolute;
        width: 0.1rem;
        height: 0.75rem;
        background-color: currentColor;
        top: 55%;
        left: 61%;
        transform: translate(-50%, -50%) rotate(45deg);
        transition: transform 0.1s 0s $bezier;
        animation-name: scroll-down-icon-animation-left;
        animation-duration: 0.2s;
        animation-play-state: paused;
    }
    &:before {
        content: "";
        position: absolute;
        width: 0.1rem;
        height: 0.75rem;
        background-color: currentColor;
        top: 55%;
        left: 37%;
        transform: translate(-50%, -50%) rotate(-45deg);
        transition: transform 0.1s 0s $bezier;
        animation-name: scroll-down-icon-animation-right;
        animation-duration: 0.2s;
        animation-play-state: paused;
    }
    &:hover:after {
        animation-play-state: running;
    }
    &:hover:before {
        animation-play-state: running;
    }
}

@keyframes scroll-down-icon-animation-left {
    0% {
        transform: translate(-50%, -50%) rotate(45deg);
    }
    30% {
        transform: translate(-50%, 100%) rotate(45deg);
    }
    31% {
        transform: translate(-50%, -150%) rotate(45deg);
    }
    61% {
        transform: translate(-50%, -150%) rotate(45deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(45deg);
    }
}

@keyframes scroll-down-icon-animation-right {
    0% {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
    30% {
        transform: translate(-50%, 100%) rotate(-45deg);
    }
    31% {
        transform: translate(-50%, -150%) rotate(-45deg);
    }
    61% {
        transform: translate(-50%, -150%) rotate(-45deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}

button.tertiary {
    background-color: transparent;
    border-radius: 0;
    border: none;
    box-sizing: border-box;
    color: $black;
    cursor: hand;
    cursor: pointer;
    font-family: $display;
    font-size: $scale07;
    font-weight: 400;
    font-style: italic;
    letter-spacing: $spacing-serif-large;
    line-height: $solid-serif;
    outline: none;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    transition: all 0.2s ease-in 0s;
    -webkit-appearance: none;
    background-clip: border-box;
    background-color: transparent;
    background-origin: content-box;
    background-position-x: calc(100% + 2em);
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 1em auto;
}

button.tertiary.white {
    color: $white;
}

button.tertiary:before {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    transition: all 0.1s $bezier;
    border-bottom-width: 0.15rem;
    border-bottom-style: solid;
}

button.tertiary:hover:before {
    width: 100%;
}

.button,
.select {
    &--secondary {
        -webkit-appearance: none;
        background-clip: border-box;
        background-color: transparent;
        background-origin: content-box;
        border-radius: 0;
        border: 2px solid;
        border-color: rgba( $black, .2);
        box-sizing: border-box;
        color: currentColor;
        cursor: hand;
        cursor: pointer;
        font-family: $sans;
        font-weight: 700;
        letter-spacing: $spacing-sans-large;
        line-height: $solid-sans;
        outline: none;
        overflow: hidden;
        padding: 1.2em 3em;
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        font-size: $scale03;
        transition: all 0.2s ease-in 0s;
        @media screen and ($xxl) {
            font-size: $scale04;
        }
        &:hover,
        &:focus {
            outline: none;
            border-color: rgba( $black, 1);
            transition: all 0s ease-out 0s;
        }
        &:active:after,
        &:target:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: currentColor;
            opacity: 0.05;
        }
        option {
            text-transform: none;
        }
    }
    &--light {
        color: $white;
        border-color: rgba( $white, .2);
        &:hover,
        &:focus {
            border-color: rgba( $white, 1);
        }
    }
    &--dark {
        color: $black;
        border-color: rgba( $black, .2);
        &:hover,
        &:focus {
            border-color: rgba( $black, 1);
        }
    }
}

.select {
    &--secondary {
        background-position-x: calc(100% + 2em);
        background-position-y: center;
        background-repeat: no-repeat;
        background-size: 1em auto;
        @extend .icon-arrow-black;
        padding: 1.2em 3em 1.2em 1.2em;
    }
    &--secondary.button--light {
        background-position-x: calc(100% + 2em);
        background-position-y: center;
        background-repeat: no-repeat;
        background-size: 1em auto;
        @extend .icon-arrow-white;
        padding: 1.2em 3em 1.2em 1.2em;
    }
}
