.video-module {
    position: relative;
    width: 100%;
    &_16-9 {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-end;
        &:after {
            content: "";
            display: block;
            padding-bottom: calc(100% / 16 * 9);
            position: relative;
        }
    }
    &_full-screen {
        @include grid-padding;
        @include padding-bottom;
        @include component-margin;
        width: calc(100% - 2rem);
    }
    &_inline {
        @include padding-top(0.5);
        @include padding-bottom(0.5);
    }
    .poster {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }
    .image {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .caption {
        font-family: $sans;
        line-height: $prose-sans;
        letter-spacing: $spacing-sans;
        margin-top: 1em;
        font-size: $scale04;
        @media only screen and ($md) {
            font-size: $scale05;
        }
        @media only screen and ($lg) {
            font-size: $scale04;
        }
        @media only screen and ($xxl) {
            font-size: $scale05;
        }
        strong {
            font-weight: 700;
        }
        align-self: baseline;
    }
    &__button--play {
        width: 4rem;
        height: 4rem;
        cursor: pointer;
        cursor: hand;
        border: solid $white;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        transition: background-color 0.2s 0s $bezier, transform 0.2s 0s $bezier;
        @media screen and ($xl) {
            width: 6rem;
            height: 6rem;
        }
        &:before {
            content: "";
            border-top: calc(4rem / 6) solid transparent;
            border-bottom: calc(4rem / 6) solid transparent;
            border-left: calc(4rem / 6 * 2 * 0.8660259) solid $white;
            position: absolute;
            left: 55%;
            top: 50%;
            transform: scale(1) translateX(-55%) translateY(-50%);
            transition: all 0.2s 0.1s ease-out;
            @media screen and ($xl) {
                // Equilateral Tringle
                border-top: calc(6rem / 6) solid transparent;
                border-bottom: calc(6rem / 6) solid transparent;
                border-left: calc(6rem / 6 * 2 * 0.8660259) solid $white;
            }
        }
        &:hover,
        &:focus {
            background-color: rgba($white, 0.1);
            transition: background-color 0s 0s $bezier, transform 0.1s 0s $bezier;
            transform: translate(-50%, -50%) scale(0.95);
        }
        &:active,
        &:target {
            background-color: rgba($white, 0.4);
            transition: background-color 0s 0s $bezier;
        }
    }
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
