.video {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    &__caption {
        @extend .body;
        align-self: baseline;
        margin-top: 1em;
    }
    &--grid-padding {
        @include grid-padding;
        @include bottom-padding;
    }
    &--full-width {}
    &--inline {
        margin-top: 3rem;
        margin-bottom: 3rem;
        @media screen and ($md) {
            margin-top: 4rem;
            margin-bottom: 4rem;
        }
        @media screen and ($lg) {
            margin-top: 3rem;
            margin-bottom: 3rem;
        }
        @media screen and ($xl) {
            margin-top: 4rem;
            margin-bottom: 4rem;
        }
        @media screen and ($xxl) {
            margin-top: 5rem;
            margin-bottom: 5rem;
        }
    }
    &__container {
        &--16-9 {
            width: 100%;
            position: relative;
            &:before {
                content: "";
                padding-top: calc(100% / 16 * 9);
                display: block;
            }
        }
    }
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.video-background {
    @extend .background-cover;
}

.video-overlay-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.video {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    &__caption {
        font-family: $sans;
        line-height: $prose-sans;
        letter-spacing: $spacing-sans;
        margin-top: 1em;
        font-size: $scale04;
        @media only screen and ($md) {
            font-size: $scale05;
        }
        @media only screen and ($lg) {
            font-size: $scale04;
        }
        @media only screen and ($xxl) {
            font-size: $scale05;
        }
        strong {
            font-weight: 700;
        }
        align-self: baseline;
    }
    &__button-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        z-index: 10;
    }
}
