// $large-breakpoint: 992;
@media screen and (min-width: '#{$large-breakpoint}px') {
    .divider-md {
        margin-top: $spacing01;
        margin-bottom: $spacing01;
    }
    .divider-sm {
        margin-top: $spacing01;
        margin-bottom: $spacing01;
    }
}
