// $medium-breakpoint: 768;
@media screen and (min-width: '#{$medium-breakpoint}px') {
    .divider-md {
        width: calc(2em * 1.5);
        height: calc(0.2rem * 1.5);
        margin-top: $spacing02;
        margin-bottom: $spacing02;
    }
    .divider-sm {
        width: calc(1rem * 1.5);
        height: calc(0.1rem * 1.5);
        background-color: $primary;
        border: none;
        margin-top: $spacing02;
        margin-bottom: $spacing02;
    }
}
