.divider-md {
    width: 2rem;
    height: 0.2rem;
    background-color: $primary;
    border: none;
}

.divider-sm {
    width: 1rem;
    height: 0.1rem;
    background-color: $primary;
    border: none;
}