// $x-large-breakpoint: 1200;
@media screen and (min-width: '#{$x-large-breakpoint}px') {
    .divider-md {
        margin-top: $spacing01 / 2;
        margin-bottom: $spacing01 / 2;
    }
    .divider-sm {
        margin-top: $spacing01 / 2;
        margin-bottom: $spacing01 / 2;
    }
}
