// $x-large-breakpoint: 1200;
@media screen and (min-width: '#{$x-large-breakpoint}px') {
    .divider-md {
        width: calc(2em * 2);
        height: calc(0.2rem * 2);
    }
    .divider-sm {
        width: calc(1rem * 2);
        height: calc(0.1rem * 2);
        background-color: $primary;
        border: none;
    }
}
